<div ng-controller="AccountFilterController" class="row filters-div"
     ng-init="fn.onLoaded()">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <div class="line-border clearfix"></div>
        <div class="row m-b-5">
            <div class="col-md-9">
                <h6>Filter by</h6>
                <ul class="nav navbar-nav row row m-t-10">
                    <li class="dropdown">
                        <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{'Account.Filters.FilterBy.MenuOwner.Title' | i18next}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu media-list  animated-slow fadeInDown">
                            <li class="m-t-10 m-b-10">
                                <form>
                                    <input type="text" class="form-control ic-user"
                                           placeholder="{{'Account.Filters.FilterBy.MenuOwner.SelectOwner' | i18next}}"
                                           ng-model="data.ownerFilter"
                                           ng-click="$event.stopPropagation();"
                                           ng-change="event.onShowAvailableOwners(data.ownerFilter);"/>
                                    <span class="fa ic-search removeTextBoxBtn" ng-show="data.ownerFilter==''"></span>
                                    <span class="fa fa-remove removeTextBoxBtn" ng-show="data.ownerFilter!=''"
                                          ng-click="data.ownerFilter='';event.onShowAvailableOwners(data.ownerFilter);$event.stopPropagation()"></span>
                                </form>
                            </li>
                            <li class="media" ng-if="!data.availableOwners || data.availableOwners.length==0">
                                <div class="media-body">
                                    <p>{{'Account.Filters.FilterBy.MenuOwner.OwnerListEmpty' | i18next}}</p>
                                </div>
                            </li>
                            <li class="media" ng-repeat="owner in data.availableOwners">
                                <input type="checkbox" class="pull-left m-t-10 m-r-10 "
                                       ng-click="$event.stopPropagation();owner.selected=!owner.selected;event.onToggleOwnerFilter(owner);"
                                       ng-checked="owner.selected"
                                        />

                                <div class="pull-left media-object ">
                                    <img ng-src="assets/img/{{owner.avatar}}">
                                </div>
                                <div class="media-body"
                                     ng-click="$event.stopPropagation();owner.selected=!owner.selected;event.onToggleOwnerFilter(owner);">
                                    <p>{{ owner.name }} &nbsp;</p>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <!-- Menu Views -->
                    <li class="dropdown">
                        <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown">Views <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu  animated-slow fadeInDown">
                            <li class="m-t-10 m-b-10">
                                <select name="data-table_length"
                                        aria-controls="data-table"
                                        class="form-control"
                                        ng-model="data.selectedView"
                                        ng-change="fn.onSelectedViewChanged()"
                                        ng-click="$event.stopPropagation()">
                                    <option value="null" selected="selected">
                                        {{'Account.Filters.FilterBy.MenuViews.SelectView' | i18next}}
                                    </option>
                                    <option ng-repeat="env in data.availableViews"
                                            value="{{env.name}}">
                                        {{ env.name }}
                                    </option>
                                </select>
                            </li>
                            <li class="divider"></li>
                            <li class="m-t-10  text-link clearfix">
                                <a class="pull-left  ic-trash brand-red-text">
                                    {{'Account.Filters.FilterBy.MenuViews.DeleteView' | i18next}}
                                </a>
                                <a class="pull-right">
                                    {{'Account.Filters.FilterBy.MenuViews.SaveCurrentView' | i18next}}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Menu Environment -->
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            {{'Account.Filters.FilterBy.MenuEnvironment.Title' | i18next}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu media-list  animated-slow fadeInDown">
                            <li class="m-t-10 m-b-10">
                                <form>
                                    <input type="text" class="form-control ic-user"
                                           placeholder="{{'Account.Filters.FilterBy.MenuEnvironment.FilterEnvironment' | i18next}}"
                                           ng-model="data.EnvFilter"
                                           ng-click="$event.stopPropagation();"
                                           ng-change="event.onShowAvailableEnvironments(data.EnvFilter);"/>
                                    <span class="fa ic-search removeTextBoxBtn" ng-show="data.EnvFilter==''"></span>
                                    <span class="fa fa-remove removeTextBoxBtn" ng-show="data.EnvFilter!=''"
                                          ng-click="data.EnvFilter='';event.onShowAvailableEnvironments(data.EnvFilter);$event.stopPropagation()"></span>
                                </form>
                            </li>
                            <li class="media" ng-if="!data.availableEnvironment || data.availableEnvironment.length==0">
                                <div class="media-body"
                                     ng-click="$event.stopPropagation();">
                                    <p>{{'Account.Filters.FilterBy.MenuEnvironment.EnvironmentListEmpty' | i18next}}</p>
                                </div>
                            </li>
                            <li class="media" ng-repeat="env in data.availableEnvironment">
                                <input type="checkbox" class="pull-left m-t-10 m-r-10 "
                                       ng-click="$event.stopPropagation();env.selected=!env.selected;event.onToggleEnvironmentFilter(env);"
                                       ng-checked="env.selected"/>

                                <div class="media-body"
                                     ng-click="$event.stopPropagation();env.selected=!env.selected;event.onToggleEnvironmentFilter(env);">
                                    <p>{{ env.name }}</p>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <!-- Menu Account Type -->
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            {{'Account.Filters.FilterBy.MenuAccountType.Title' | i18next}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu media-list  animated-slow fadeInDown">
                            <li class="m-t-10 m-b-10">
                                <form>
                                    <input type="text"
                                           class="form-control ic-user"
                                           placeholder="{{'Account.Filters.FilterBy.MenuAccountType.FilterAccountType' | i18next}}"
                                           ng-model="data.AccountTypeFilter"
                                           ng-click="$event.stopPropagation();"
                                           ng-change="event.onShowAvailableAccountTypes(data.AccountTypeFilter);"/>
                                    <span class="fa ic-search removeTextBoxBtn"
                                          ng-show="data.AccountTypeFilter==''"></span>
                                    <span class="fa fa-remove removeTextBoxBtn" ng-show="data.AccountTypeFilter!=''"
                                          ng-click="data.AccountTypeFilter='';event.onShowAvailableAccountTypes(data.AccountTypeFilter);$event.stopPropagation()"></span>
                                </form>
                            </li>
                            <li class="media" ng-repeat="filterValue in data.availableAccountType">
                                <input type="checkbox" class="pull-left m-t-10 m-r-10"
                                       ng-click="$event.stopPropagation();filterValue.selected=!filterValue.selected;event.onToggleAccountTypeFilter(filterValue);"
                                       ng-checked="filterValue.selected"/>

                                <div class="media-body"
                                     ng-click="$event.stopPropagation();filterValue.selected=!filterValue.selected;event.onToggleAccountTypeFilter(filterValue);">
                                    <p>{{ filterValue.name }}</p>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle btn btn-default"
                           data-toggle="dropdown">
                            {{'Account.Filters.AddFilter' | i18next}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu media-list  animated-slow fadeInDown">
                            <li class="m-t-10 m-b-10">
                                <form>
                                    <input type="text"
                                           class="form-control ic-user"
                                           placeholder="{{'Account.Filters.SearchFilters' | i18next}}"
                                           ng-click="$event.stopPropagation();"/>
                                    <span class="fa fa-remove removeTextBoxBtn"
                                          ng-click="$event.stopPropagation()"></span>
                                </form>
                            </li>
                            <li class="media" ng-repeat="atype in data.availableFields">
                                <input type="checkbox" class="pull-left m-t-10 m-r-10"
                                       ng-click="$event.stopPropagation();atype.selected=!atype.selected;event.updateAvailableFilters(atype);"
                                       ng-checked="atype.selected"/>

                                <div class="media-body"
                                     ng-click="$event.stopPropagation();atype.selected=!atype.selected;event.updateAvailableFilters(atype);">
                                    <p>{{ atype.title }}</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="dropdown dynamic-filter btn-group clearfix"
                     ng-repeat="field in data.availableFields | filter:{selected:true}">
                    <string-type-filter ng-if="field.dataType=='String'"
                                        filter-for="field"
                                        on-close="event.updateAvailableFilters(field);">
                    </string-type-filter>
                    <boolean-type-filter ng-if="field.dataType=='Boolean'"
                                         filter-for="field"
                                         on-close="event.updateAvailableFilters(field);">
                    </boolean-type-filter>
                    <datetime-type-filter ng-if="field.dataType.toLowerCase()=='datetime'"
                                          filter-for="field"
                                          on-close="event.updateAvailableFilters(field);">
                    </datetime-type-filter>
                        <span class="ic-remove-circle m-l-10 p-t-32"
                              ng-click="field.selected=false;fn.updateAvailableFilters();$event.stopPropagation()"></span>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-3">
                <form>
                    <div class="input-group  m-t-40">
                        <input type="text" class="form-control"
                               ng-model="data.searchQuery"
                               ng-change="event.onSearchQueryChanged(data.searchQuery)"
                               placeholder="Buscar"
                                />
                  <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button"><i class="fa ic-search"></i></button>
                  </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="line-border clearfix m-b-30 "></div>
    </div>
</div>
