<div class="row">
    <div class="col-md-12 ui-sortable ">
        <div class="double-border filters-div">
            <h6>Filter by</h6>
                <span data-toggle="dropdown" ng-click="event.onShowAvailableOwners(data.ownerFilter)">
                    Owner <i class="fa fa-caret-down"></i>
                </span>
                <ul class="dropdown-menu ownersDropdown">
                    <li><h6>Available Owners</h6></li>
                    <li><input type="text" ng-model="data.ownerFilter" ng-click="$event.stopPropagation();" ng-change="event.onShowAvailableOwners(data.ownerFilter);" /></li>
                    <li ng-repeat="owner in data.availableOwners">
                        <input type="checkbox" ng-click="event.onToggleOwnerFilter(owner);$event.stopPropagation();" ng-value="owner.selected" />
                        <span>{{ owner.name }} &nbsp; </span>
                    </li>
                </ul>
                <span>
                    Views <i class="fa fa-caret-down"></i>
                </span>
                <span>
                    Environment <i class="fa fa-caret-down"></i>
                </span>
                <span>Account type
                    <i class="fa fa-caret-down"></i>
                </span>
            <button ng-click="event.onShowAvailableFilters()" type="button" class="btn btn-white m-r-5 m-b-5">Add filters</button>
        </div>
        <hr />
        <div ng-if="data.showAvailableFilters">
            <h6>Available Filters</h6>
            <span ng-repeat="filter in data.availableFilters" ng-click="event.onAddFilter(filter)">{{ filter.name }} &nbsp; </span>
            <hr />
        </div>
        <div class="col-md-12">
            <div ng-repeat="filter in data.customFilters">
                <span>{{ filter.name }}: </span>
                <form ng-submit="event.onFilterKeyUp(filter, filter.value)">
                    <input type="text" ng-model="filter.value" />
                </form>
                <span ng-click="event.onRemoveFilter(filter)">x</span>
            </div>
        </div>
    </div>
</div>