.document-upload {
  .modal-body {
    background: #edf0f5 url(../img/bg-linen.png) 0 0 repeat !important;
  }

  .upload-drop-placeholder {
    height: 100% !important;
    vertical-align: middle;
    padding: 115px;
  }

  .upload-document-dialog {
    overflow-y: scroll;
  }

  #filesUploadList {
    border-collapse: collapse;
    td {
      padding: 15px;
    }

    tr.error {
      text-align: left;
      > td {
        color: rgb(169, 68, 66);
        background: #f8b2b2;
        border: 1px solid #f8b2b2;
      }
    }

  }

  .inline {
    display: inline-block;
  }

  a.select-box {
    padding: 2px 5px !important;
    border: 1px solid #e3e3e3;
    border-radius: 4px;

    &.checked {
      border: 1px solid #ED8B00;
      color: #ED8B00;
    }
  }
}