<ul class=" pull-right no-bullet m-t-20">
    <li>
        <a href="">
            <i class="fa ic-export"></i> {{'commonText.Export' | i18next}}
        </a>
    </li>
</ul>
<!-- end breadcrumb -->


<!-- title -->
<h1 class="page-header">
    {{'LeftMenu.SaleAnalytics' | i18next}}
</h1>


<!-- submenu -->
<div class="submenu-analytics">
    <ul class="list-inline">
        <li class="active"><a href="#/analytics/intensity">{{'LeftMenu.Intensity' | i18next}}</a></li>
        <li><a href="#/analytics/distribution">{{'LeftMenu.Distribution' | i18next}}</a></li>
        <li><a href="#/analytics/conversion">{{'LeftMenu.Conversion' | i18next}}</a></li>
        <li><a href="helper_css.html">{{'LeftMenu.Reports' | i18next}}</a></li>
    </ul>
</div>


<!-- begin filters -->
<ng-include src="'templates/analytics/analyticsFilter.html'"></ng-include>
<!-- end filters-->

<div class="row">
    <ng-include src="'templates/analytics/noWidgetAlert.html'"></ng-include>
    <div class="widgets-container"
         as-sortable
         widget-dropped="event.onWidgetDropped($ui, $widget)"
            >
        <div ng-repeat="widget in widgets"
             class="col-md-{{widget.position.size}} widget-container"
             as-sortable-item sortable-widget="widget">
            <ng-include src="widget.template"></ng-include>
        </div>
    </div>
</div>