<ul class=" pull-right no-bullet m-t-20">
    <li>
        <a href="">
            <i class="fa ic-export"></i> {{'commonText.Export' | i18next}}
        </a>
    </li>
</ul>
<!-- end breadcrumb -->

<h1 class="page-header">
    Intensity
</h1>

<!-- begin filters -->
<ng-include src="'/templates/analytics/analyticsFilter.html'"></ng-include>
<!-- end filters-->

<div class="row">
    <ng-include src="'/templates/analytics/noWidgetAlert.html'"></ng-include>
    <div class="col-md-12 drag-and-drop">
        <div ng-repeat="widget in widgets" class="widget-container">
            <ng-include src="'/templates/widgets/widgetWrapper.html'"></ng-include>
        </div>
    </div>
</div>