<form ng-controller="LiteralsSearchController">
    <div class="input-group m-t-40">
        <input type="text"
               class="form-control"
               ng-model="data.currentSearchQuery"
               ng-change="fn.onSearchTextFilterChanged(data.currentSearchQuery)"
               placeholder="{{'commonText.Search' | i18next}}">
        <span class="input-group-btn">
            <button type="button"
                    class="btn btn-sm btn-default"
                    ng-click="fn.onSearchTextFilterChanged(data.currentSearchQuery)">
                <i class="fa ic-search"></i>
            </button>
        </span>
    </div>
</form>