<nav class="navbar navbar-inverse navbar-fixed-top" ng-init="fn.onInit()">

        <div class="" style="height: 100%;">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ fn.adjustDefaultAccessPageLink(data.userData.defaultAccessPage) }}">
                    <img alt="ForceManager CRM" class="img-responsive collapsed" src="assets/img/menu_negative_logo_collapsed.svg">
                    <img alt="ForceManager CRM" class="img-responsive expanded" src="assets/img/menu_negative_logo_expanded.svg">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navigation-bar">

                <!-- primary navigation -->
                <ul class="nav navbar-nav main-nav">
                    <li class="web3-navigation-button" ng-class="{ active: userSection.section == 'sfm' }" ng-repeat="userSection in data.userSections">
                        <a id="{{ userSection.id }}"
                           ng-if="userSection.section != 'sfm'"
                           data-placement="right"
                           data-section-section="{{ userSection.section }}"
                           data-section="{{ userSection.name }}"
                           href="{{ fn.adjustLinkToParentFolder(userSection.url) }}"
                           data-original-title="{{ userSection.name }}"
                           class="toggle-true collapsed">
                            <span class="button-content"><i class="ic-{{ userSection.icon }}"></i></span><span class="button-content-text">{{ userSection.name }}</span>
                        </a>
                        <a id="{{ userSection.id }}"
                           ng-if="userSection.section == 'sfm'"
                           data-placement="right"
                           data-section-section="{{ userSection.section }}"
                           data-section="{{ userSection.name }}"
                           ng-click="fn.reloadPage()"
                           data-original-title="{{ userSection.name }}"
                           class="toggle-true collapsed">
                            <span class="button-content"><i class="ic-{{ userSection.icon }}"></i></span><span class="button-content-text">{{ userSection.name }}</span>
                        </a>
                        <div class="has-limit-separator" ng-if="userSection.hasLimit"></div>
                    </li>
                    <!--<li><a id="contacts-top-menu" data-placement="right" data-section="contact" href="contactslist.aspx" data-original-title="Contactos" class="toggle-true"><i class="ic-contacts-filled"></i></a></li>
                    <li><a id="opps-top-menu" data-placement="right" data-section="opportunity" href="opportunitylist.aspx" data-original-title="Oportunidades" class="toggle-true"><i class="ic-opportunity-filled"></i></a></li>
                    <li><a id="activty-top-menu" data-placement="right" data-section="activity" href="activitylist.aspx" data-original-title="Actividades" class="toggle-true"><i class="ic-activity-filled"></i></a></li>
                    <li><a id="agenda-top-menu" data-placement="right" data-section="calendar" href="calendar.aspx" data-original-title="Calendario" class="toggle-true"><i class="ic-agenda-filled"></i></a></li>
                    <li><a id="prod-top-menu" data-placement="right" data-section="product" href="productlist.aspx" data-original-title="Productos" class="toggle-true"><i class="ic-product-filled"></i></a></li>
                    <li><a id="documents-top-menu" data-placement="right" data-section="file" href="filesmanager.aspx" data-original-title="Documentos" class="toggle-true"><i class="ic-documents-filled"></i></a></li>
                    <li><a id="offers-top-menu" data-placement="right" data-section="offer" href="offerslist.aspx" data-original-title="Ofertas" class="toggle-true"><i class="ic-quotes-filled"></i></a></li>
                    <li><a id="order-top-menu" data-placement="right" data-section="order" href="orderslist.aspx" data-original-title="Pedidos" class="toggle-true"><i class="ic-orders-filled"></i></a></li>
                    <li><a id="informe-top-menu" data-placement="right" data-section="report" href="reportlist.aspx" data-original-title="Informes" class="toggle-true"><i class="ic-reports-filled"></i></a></li>
                    <li><a id="sfm-top-menu" data-placement="right" data-section="sfm" href="../web3/index.html" data-original-title="Análisis de ventas" class="toggle-true"><i class="ic-salesforce-filled"></i></a></li>
                    <li><a id="page-top-menu" data-placement="right" data-section="page" href="custompage.aspx" data-original-title="Custom page" class="toggle-true"><i class="ic-custom-widgets-filled"></i></a></li>-->
                </ul>

                <!-- session info -->
                <!-- REMOVED -->

                <!-- user-tools -->
                <!--
                <ul class="nav navbar-nav navbar-right">
                    <li class="upgrade"></li>
                    <li class="agenda-notifications" style="display: none;"></li>
                    <li id="unreadNotifications" style="display: none;" class="user-notifications">
                        <a href="{{ fn.adjustLinkToParentFolder('calendar.aspx') }}">
                            <i class="icon-alert-notify ic-notifications"></i><span class="badge" ng-show="fn.hasUnreadNotifications()">{{ data.unreadNotifications }}</span>
                        </a>
                    </li>
                    <li class="dropup user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="photouser">
                                <img width="35" height="35"
                                     ng-src="{{ data.userData.userPhoto ? 'data:image/png;base64,' + data.userData.userPhoto : 'assets/img/default.png' }}"
                                     alt="" class="img-circle">
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdownMenu">
                            <li><h3 class="popover-title">{{ data.userData.userName }}</h3></li>
                            <li ng-repeat="item in data.userOptions" ng-class="{ divider: item.id==='__DIVIDER__' }">
                                <a id="{{ item.id }}"
                                   href=""
                                   ng-if="item.id!=='__DIVIDER__'"
                                   ng-click="fn.doProfileMenuAction(item.id, item.linkToGo, item.target)">
                                    {{ item.name }}
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>-->
            </div>
        </div>
    </nav>
