<div id="header-web2" class="navbar navbar-default navbar-fixed-top" ng-init="fn.onInit()">
    <div class="container-fluid">



        <!-- BRAND -->
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="{{ data.userData.defaultAccessPage }}">
                    <img src="https://fmassets.s3-eu-west-1.amazonaws.com/commons/lg-forcemanager-inverse.svg" alt="ForceManager">
                </a>
            </div>
        </div>
        <!-- END BRAND -->



        <!-- MENU SECTION -->
        <ul class="nav navbar-nav section-nav">
            <li ng-class="{ active: item.section == 'sfm' }" ng-repeat="userSection in data.userSections">
                <a id="{{ userSection.id }}"
                   tooltip-placement="bottom"
                   tooltip="{{ userSection.name }}"
                   href="{{ fn.adjustLinkToParentFolder(userSection.url) }}">
                    <i class="ic-{{ userSection.icon }}"></i>
                </a>
            </li>
        </ul>
        <!-- END MENU SECTION -->



        <!-- RIGHT MENU -->
        <ul class="nav navbar-nav user-section-nav pull-right">
            <!-- AGENDA -->
            <li class="agenda-notifications" ng-show="fn.hasEventsOrTasksForToday()">
                <a href="{{ fn.adjustLinkToParentFolder('calendar.aspx') }}">
                    <i class="ic-agenda"></i>
                    <span class="badge" ng-show="fn.hasEventsForToday()">
                        {{ data.eventsForToday + data.tasksForToday }}
                    </span>
                </a>
            </li>
            <!-- END AGENDA -->
            <!-- PROFILE -->
            <li class="dropdown profile-meu-dropdown" dropdown>
                <a href="#" class="dropdown-toggle h" data-toggle="dropdown">
                    <div class="profile-pic"
                         ng-style="{'background-image':'url(data:image/png;base64,'+data.userData.userPhoto+')'}"
                         data-placement="bottom"
                         data-original-title="{{ data.userData.userName }}">
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in data.userOptions" ng-class="{ 'with-divider': $last }">
                        <a id="{{ item.id }}" href="#"
                           ng-click="fn.doProfileMenuAction(item.id, item.linkToGo, item.target)">
                            {{ item.name }}
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END PROFILE -->
        </ul>
        <!-- END RIGHT MENU -->



    </div>
</div>
