<widget-wrapper body-class=""
                title="Documents"
                event-bus-channel="eventChannel"
                is-reloading="isReloading"
        >
    <div class="table-responsive">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><strong>{{'Documents.Title' | i18next}}</strong></th>
                <th><strong>{{'Documents.Date' | i18next}}</strong></th>
                <th><strong></strong></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="record in data.documentsList">
                <td class="col-md-5">
                    <a href="detail_quotes.html" ng-show="!record.editing">
                        {{record.name}}
                    </a>

                    <div class="input-group"
                         ng-show="record.editing">
                        <input type="text" ng-model="record.name" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    ng-click="fn.saveRecordName(record);$event.preventDefault();">
                                <i class="ic-accept"></i>
                            </button>
                            <button class="btn btn-default"
                                    ng-click="fn.cancelEditing(record);$event.preventDefault();">
                                <i class="ic-close"></i>
                            </button>
                        </span>
                    </div>
                </td>
                <td>
                    {{record.date | amDateFormat: config.shortDateFormat.moment}}
                </td>
                <td>
                    <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                            data-original-title="Download document"><i class="fa ic-download"></i>
                    </button>
                    <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                            data-ng-click="fn.startEditing(record);$event.preventDefault();"
                            data-original-title="Edit document">
                        <i class="fa ic-edit"></i>
                    </button>
                    <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                            data-ng-click="fn.deleteDocument(record);$event.preventDefault();"
                            data-original-title="Delete document"><i class="fa ic-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ui-sortable">
            <button class="btn btn-sm btn-default uppercase btn_add_document"
                    ng-click="fn.openAddDocumentDialog()"
                    type="button">
                <i class="symb_add_owner fa ic-plus"></i> {{'Documents.AddDocument' | i18next}}
            </button>
        </div>
    </div>
</widget-wrapper>