/*
--------------------------
 WIDGETS
--------------------------
*/
.widget-container {
  padding-left: 10px;
  padding-right: 10px;
}


/*
--------------------------
 ANALYTICS SUBMENU
--------------------------
*/

.submenu-analytics {
  position: relative;
  margin-bottom: -1px;
  z-index: 10;
  margin-top: 20px;
}
.submenu-analytics ul.list-inline {
  margin-left: -10px;
  padding-left: 10px;
  margin-bottom: 0;
}
.submenu-analytics ul.list-inline li {
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
}

.submenu-analytics ul.list-inline li a {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #54585A;
  line-height: 42px;
  text-decoration: none;
  text-transform: uppercase;
}
.submenu-analytics ul.list-inline li.active {
  border-bottom: 1px solid #ED8B00;
}
.submenu-analytics ul.list-inline li.active a {
  color: #ED8B00;
}
.submenu-analytics ul.list-inline li.active i {
  color: #ED8B00;
}

// marketplace-menu-item
.submenu-analytics ul.list-inline li.marketplace-menu-item {
  margin-right: 0;
  color: #216DB3;
  &.active {
    margin-top: -1px;
    border-bottom: 1px solid #216DB3;
    i {
      color: #216DB3;
    }
  }
  i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
  }
  a {
    text-transform: none;
    font-size: 13px;
    color: #216DB3;
  }
}

.no-widget-notice{
  text-align: center;
  padding-top: 20px;
  i{
    font-size: 2.5em;
    color: rgba(0,0,0,0.5);
  }
}

.table-responsive{
  overflow-x:auto;
}

.empty-msg{
  padding: 20px;
  font-size: 1.5em;
  color: rgba(0,0,0,0.6);
  text-transform: uppercase;
}

.google-visualization-table-th {
  min-width: 40px;
}

.google-visualization-table-th:first-child {
  min-width: 150px;
}

a.show-more-link {
  text-decoration: underline!important;
  &:link {
    text-decoration: underline!important;
  }
  &:hover {
    text-decoration: none!important;
  }
}
