/*
--------------------------
 ANALYTICS SUBMENU
--------------------------
*/

.submenu-analytics {
  position: relative;
  margin-bottom: -1px;
  z-index: 10;
}
.submenu-analytics ul.list-inline {
  margin-left: -15px;
  padding-left: 10px;
  margin-bottom: 0;
}
.submenu-analytics ul.list-inline li {
  padding-right: 5px;
  padding-left: 5px;
}
.submenu-analytics ul.list-inline li a {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #54585A;
  line-height: 42px;
  text-decoration: none;
  text-transform: uppercase;
}
.submenu-analytics ul.list-inline li.active {
  border-bottom: 4px solid #ED8B00;
}
.submenu-analytics ul.list-inline li.active a {
  color: #ED8B00;
}

.no-widget-notice{
  text-align: center;
  padding-top: 20px;
  i{
    font-size: 2.5em;
    color: rgba(0,0,0,0.5);
  }
}

.table-responsive{
  overflow-x:auto;
}