<!-- title -->
<h1 class="page-header">
  {{'LeftMenu.SaleAnalytics' | i18next}}
  <div class="dropdown" style="float:right;">
    <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <div class="photouser">
          <div ng-if="menuData.userData.userPhoto">
            <img width="35" height="35" class="img-circle" ng-src="{{'data:image/png;base64,' + menuData.userData.userPhoto}}" />
          </div>
          <div ng-if="!menuData.userData.userPhoto">
            <img width="35" height="35" class="img-circle desktop" ng-src="assets/images/profile.png" />
            <img width="35" height="35" class="img-circle nodesktop" ng-src="assets/images/profile_white.png" />
          </div>
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="dropdownMenu1">
      <li><h3 class="popover-title">{{ menuData.userData.userName }}</h3></li>
      <li ng-repeat="item in menuData.userOptions" ng-class="{ divider: item.id==='__DIVIDER__' || item.isDivider }">
          <a id="{{ item.id }}"
             href=""
             ng-if="item.id!=='__DIVIDER__'"
             ng-click="menuData.doProfileMenuAction(item.id, item.linkToGo, item.target)">
             <i class="{{item.icon}}"></i>
             <span>{{ item.name }}</span>
          </a>
      </li>
    </ul>
  </div>
</h1>


<!-- submenu -->
<div class="submenu-analytics">
    <ul class="list-inline">
        <li ng-class="{'active': pageName=='intensity'}"><a href="#/analytics/intensity">{{'LeftMenu.Intensity' | i18next}}</a></li>
        <li ng-class="{'active': pageName=='distribution'}"><a href="#/analytics/distribution">{{'LeftMenu.Distribution' | i18next}}</a></li>
        <li ng-class="{'active': pageName=='conversion'}"><a href="#/analytics/conversion">{{'LeftMenu.Conversion' | i18next}}</a></li>
        <li ng-class="{'active': pageName=='reports'}" ng-if="isReportsVisible">
            <a href="#/analytics/reports">{{'LeftMenu.Reports' | i18next}}</a>
        </li>
        <li ng-class="{'active': pageName=='marketplace'}" class="pull-right marketplace-menu-item" ng-if="isMarketplaceVisible">
            <i class="ic-settings"></i>
            <a href="#/analytics/marketplace">
              {{'Filters.Widget.Administration' | i18next}}
            </a>
        </li>
    </ul>
</div>

<div class="line-border clearfix"></div>
