<!-- title -->
<h1 class="page-header">
  {{'LeftMenu.SaleAnalytics' | i18next}}
  <div class="dropdown" style="float:right;">
    <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <div class="photouser">
            <img
              width="35" height="35"
              class="img-circle"
              ng-src="{{ menuData.userData.userPhoto ? 'data:image/png;base64,' + menuData.userData.userPhoto : 'assets/img/default.png' }}">
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><h3 class="popover-title">{{ menuData.userData.userName }}</h3></li>
      <li ng-repeat="item in menuData.userOptions" ng-class="{ divider: item.id==='__DIVIDER__' }">
          <a id="{{ item.id }}"
             href=""
             ng-if="item.id!=='__DIVIDER__'"
             ng-click="menuData.doProfileMenuAction(item.id, item.linkToGo, item.target)">
              {{ item.name }}
          </a>
      </li>
    </ul>
  </div>
</h1>


<!-- submenu -->
<div class="submenu-analytics">
    <ul class="list-inline">
        <li ng-class="{'active': pageName=='intensity'}"><a href="#/analytics/intensity">{{'LeftMenu.Intensity' | i18next}}</a></li>
        <li ng-class="{'active': pageName=='distribution'}"><a href="#/analytics/distribution">{{'LeftMenu.Distribution' | i18next}}</a></li>
        <li ng-class="{'active': pageName=='conversion'}"><a href="#/analytics/conversion">{{'LeftMenu.Conversion' | i18next}}</a></li>
        <li ng-class="{'active': pageName=='reports'}" ng-if="isReportsVisible">
            <a href="#/analytics/reports">{{'LeftMenu.Reports' | i18next}}</a>
        </li>
        <!--
        <li ng-class="{'active': pageName=='marketplace'}" ng-if="isMarketplaceVisible">
            <i class="ic-settings"></i>
            <a href="#/analytics/marketplace">
              {{'Filters.Widget.Administration' | i18next}}
            </a>
        </li>
        -->
    </ul>
</div>

<div class="line-border clearfix"></div>
