/*accountCreate less*/
.uppercase {
  text-transform: uppercase;
}


::-webkit-input-placeholder {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #BABEBF;
  font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #BABEBF;
  font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #BABEBF;
  font-size: 14px;
}

:-ms-input-placeholder {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #BABEBF;
  font-size: 14px;
}

.select_value_style {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #BABEBF;
  font-size: 14px;
}

.symb_add_owner {
  padding-right: 5px;
}


.account_name_box {
  width: 80%;
}

.account_type_box {
  width: 40%;
}

.account_env_box {
  width: 40%;
}

.account_seg_box {
  width: 20%;
}

.search_owner_box {
  width: 95%;
}

.work_phone_box {
  width: 80%;
}

.street_box {
  width: 79%;
}

.search_owner_icon {
  position: relative;
  left: -90px;
  font-size: 18px;
  vertical-align: middle;
  line-height: 2;
}

.ic_close_search_owner {
  color: black;
  font-size: 22px;
  vertical-align: middle;
  line-height: 2;
  position: relative;
  left: -150px;
}

.btn_add_owner {
  padding-left: 5px;
}

.padding_account_owner {
  padding-right: 0;
}

.padding_checkin_filled {
  padding-right: 3px;
}

.form-content {
  background-color: transparent !important;
  height: 100%;
}

.btn_cancel {
  text-transform: uppercase;
  background-color: #fff;
  width: 99px;
  height: 50px;
  color: #54585a;
  font-family: "Roboto", serif;
  font-size: 11px;
  border-style: solid;
  border-width: 1px;
  border-color: #BABEBF;
  border-radius: 3px;
}

.btn_save {
  text-transform: uppercase;
  background-color: #ed8b00;
  width: 99px;
  height: 30px;
  color: #FFF;
  font-family: "Roboto", serif;
  font-size: 11px;
  border-style: solid;
  border-width: 1px;
  border-color: #ed8b00;
  border-radius: 3px;
  vertical-align: top;
  margin-left: 10px;
}

.padding_box {
  padding-top: 30px;
}

/*header less*/
.flag_button {
  padding-top: 5px;
  top: 6px;
}

.header_title {
  padding-top: 20px;
  padding-left: 9px;
}