//== CFM
//#  Custom variables Imported from the Kami CSS Framework

@font-size-base: 13px;
@letter-spacing: 0.5px;
@body-font-weight: 200;
@big-font-weight: 400;

@screen-sm-min: 768px;
@screen-xs-max: @screen-sm-min - 1;
@grid-gutter-width: 30px;

@gutter: @grid-gutter-width / 2;

@horizontal-breakpoint: @screen-sm-min;
@vertical-breakpoint: 670px;

//== Media Queries
@tablet: ~"(max-width: @{horizontal-breakpoint}), (max-height: @{vertical-breakpoint})";
@desktop: ~"(min-width: @{horizontal-breakpoint}) and (min-height: @{vertical-breakpoint})";
@phone: ~"(max-width: @{screen-sm-min})";

//== Colours
@slate: #54585a;
@fantasma: #f8f8f8;
@ceniza: #DDDDDD;
@lobo: #636363;
@rosa: rgb(214, 52, 52);
@naranja: #ed8b00;
@carbon: #212121;

// Zepling styleguide
@fmHint: #cccccc;
@fmGreen: #86ad20;
@fmRed: #f04540;
@fmBlack: #212121;
@fmOrange: #ed8b00;
@fmCaptionGrey: #757575;
@fmStatusBar: #c87600;
@fmSky: #226eb4;
@fmTurquoise: #00a8be;
@fmYellow: #e9b200;
@fmPageBackground: #f0f3f5;
@fmColorGrey: #dddddd;
@fmPlaceholders: #e1e4e7;
@fmOrangeDisabled: #f9dcb3;
@fmOrangeLight: #fdf3e4;
@fmGrey: #b5bdc5;
@fmYellowLight: #fff9dd;
@fmMenuDark: #2d3950;
@fmMenu: #3e495e;
@warmGrey: #8e8e8e;
@barfGreen: #90a700;
@webLinegrey: #eaeaea;
@lightGrey: #f7f8f8;
@charcoalGrey: #2D323C;
@fmLightGrey: #f7f8f9;

// Text styles
.standard-text {
  font-size: @font-size-base;
  color: @lobo;
  letter-spacing: @letter-spacing;
  font-weight: @body-font-weight;
}

.big-labels {
  .standard-text;
  text-transform: uppercase;
  font-weight: @big-font-weight;
}

///// -end- Kami Variables

/* Navigation: nav.less */
//== Styling for the primary navigation bar, that is the vertical menu bar that is visible on all pages in the application
//# The navigation menu is a modified version of the Bootstrap 3 collapsible navbar component, modified to handle icon based links rather than text.

// Vertical Nav Bar
@vertical-nav-width: 50px; // CHANGE ME TO CHANGE NAV-BAR SIZE - new paddings and margins will be automatically calculated.

// Override the default navbar variables as they are based around the base font-size, we need it to be based around the icon font-size.
@vertical-nav-height: 50px;
@vertical-nav-margin-bottom: 0;
@vertical-nav-border-radius: 0;
@vertical-nav-padding-horizontal: ( ( @vertical-nav-width - @nav-icon-size ) - @vertical-nav-margin-bottom * 2 ) / 2;
@vertical-nav-padding-vertical: ( ( @vertical-nav-height - @nav-icon-size ) - @vertical-nav-margin-bottom * 2 ) / 2;
@vertical-nav-collapse-max-height: 340px;

@nav-icon-size: 21px; // The font-size of our icons. We use this to position them centrally

.make-xs-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 45px;
  padding-right: 45px;
}

@resources: 'assets/';


// ---------------------------------------
//
//  Sobreescribir de aquí para abajo
//
// ---------------------------------------



nav {

  [class^="ic-"],
  [class*=" ic-"] {
    font-size: @nav-icon-size;

    -webkit-font-smoothing: antialiased;

    top: 0;
  }

  li.agenda-notifications {  // Hack to move agenda notifications on top of agenda's menu icon. To be changed. Affects ORIZONTAL STATE in desktop.
    position: absolute;
    top: 37px;
    left: 267px;

    i{
      display: none;
    }

    a{
      width: 1px !important;
      padding: 0px !important;
      height: 1px !important;

      &:hover{
        background-color: transparent !important;
      }
    }
  }
}


  //@media @tablet {
  //
  //  body {
  //    padding-top: @vertical-nav-height;
  //  }
  //
  //  .sld-panel {
  //    top: @vertical-nav-height;
  //  }
  //}

.page {

  //@media @desktop {
  //  margin-left: @vertical-nav-width;
  //}
  margin-left: @vertical-nav-width;
}

.page-header.fixed-top {
  //@media @desktop {
  //  padding-right: @vertical-nav-width + @grid-gutter-width + (@grid-gutter-width / 2);
  //}
  padding-right: @vertical-nav-width + @grid-gutter-width + (@grid-gutter-width / 2);
}

nav {
  //@media @desktop {
    & {
      height: 100%;
      width: @vertical-nav-width;
      box-shadow: 1px 0 1px gainsboro;

      ul > li {
        //height: @vertical-nav-height;
        height: 45px; //Needs a fixed height to avoid a flash on pageload
      }
    }
    .navbar-nav {
      li > a {
        // height: @vertical-nav-height;
        width: @vertical-nav-width;
        //padding: @vertical-nav-padding-vertical @vertical-nav-padding-horizontal; // bootstrap by default only sets vertical padding, also set horizontal
        padding-top: 0px;
        padding-bottom: 0px;
        padding: 12px @vertical-nav-padding-horizontal;
        line-height: 1px ;
      }
      li.user-dropdown {
        position: absolute;
        bottom: 0;
        left: 0;

        a {
          @picture-size: 35px;
          padding: ((@vertical-nav-height - @picture-size) / 2) ((@vertical-nav-width - @picture-size) / 2);
        }

        &.open a {
          &:focus, &:active{
            background-color: darken(@slate, 5%) !important;
          }
        }
      }

      li.agenda-notifications {  // Hack to move agenda notifications on top of agenda's menu icon. To be changed. Affects VERTICAL STATE in desktop/tablet.


        top: 264px;
        left: 11px;
        position: absolute;

        i{
          display: none;
        }

        a{
          width: 1px !important;
          padding: 0px !important;
          height: 1px !important;
        }
      }
    }

    .dropdown-menu {

      left: 39px!important;
      bottom: 6px !important;
      min-width: 300px;

      li {
        height: 40px !important;

        &:first-child{
          height: 50px !important;
        }

        &.divider{
          height: 1px !important;
          margin: 0px !important;
        }

        a{
          .standard-text;
          padding: 13px @gutter 7px !important;
          height: 40px;
          width: 297px;
          &:hover{
            background-color: @fantasma;
          }
        }

        h3.popover-title{
          .big-labels;
          padding: 17px 15px;
          background-color: transparent;
          border-bottom: 1px solid @ceniza;
          min-height: 40px;
          letter-spacing: 0.5px;
        }
      }
    }

    // this media @tablet is still present in web3
    @media @tablet {
        .dropup .dropdown-menu {
            // Fix dropdown (drop-up) menus on small screens
            top: 100%;
            bottom: initial;
        }
    }
  //}

  //@media @tablet {
  //
  //  .dropup .dropdown-menu {
  //    // Fix dropdown (drop-up) menus on small screens
  //    top: 100%;
  //    bottom: initial;
  //  }
  //
  //}

  .navbar-brand {
    @logo-size: 30px;
    padding: ((@vertical-nav-height - @logo-size) / 2) ((@vertical-nav-width - @logo-size) / 2);
  }

  //.navbar-toggle {
  //  /*margin-top: 10px;
  //  margin-bottom: 8px;
  //  margin-right: 0;
  //  padding: 12px 11px;*/
  //}

  .navbar-collapse {
    @media (max-width: @screen-xs-max) {   // Put our navbar into column mode when it is collapsed
      .make-xs-column(12, 90px);

      .nav > li {

        display: inline-block; // This makes our menu items go inline. We want this, even for the collapsed mobile menu, since our menu items are icons.

        padding-bottom: (@vertical-nav-padding-vertical / 2);

        a {
          border-radius: 15px;
        }
      }
    }
  }

  .navbar-right {

    margin-right: 0 !important;
  }

  .navbar-nav {

    > li {

      > a {

        //padding-top: 12px;
        // padding-bottom: 12px;

      }

    }

    li.user-dropdown {

      a {

        padding-top: 7px;
        padding-bottom: 7px;

      }

    }

  }

}

.navbar-inverse {
  background-color: @slate;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.50);
  .navbar-nav > li > a{
    &:hover,&:focus{
      background-color: darken(@slate, 5%)

    }
  }

}

/* New menu styles */
#main-navigation-bar, .navbar-inverse {
    //width: 50px;
    overflow: hidden;
    transition: width 0.5s;

    @media(min-width: 0) {
        display: block !important;
        padding: 0;
        overflow: visible !important;

        .navbar-header {
            background: none;
            float: none;
            overflow: hidden;
        }
    }

    .navbar-nav {
        @media (min-width: 0) {
            float: left;
            margin: 0;

            > li {
                float: left;

                > a {
                    //padding-top: @navbar-padding-vertical;
                    //padding-bottom: @navbar-padding-vertical;
                }
            }
        }
    }

    background-color: @fmMenu !important;
    //height: 100vh !important;
    height: 100% !important;
    max-height: none !important;
    box-shadow: none !important;
    border: none !important;

    .navbar-brand {
        width: 50px !important;
        height: 50px;
        text-align: center;
        margin-right: 0;

        &:hover, &:active {
            background-color: @fmMenuDark;
        }

        img {
            width: auto;
            height: 30px;
        }

        img.collapsed {
            display: block;
        }

        img.expanded {
            display: none;
        }
    }

    .scroll-navbar-nav {
        height: calc(100% - 50px);
        overflow-y: scroll;
        width: calc(100% + 50px);
    }

    .navbar-nav {
        width: 100%;
        height: 100%;

        li.web3-navigation-button {
            display: block;
            position: relative;
            width: 100% !important;
            height: 40px !important;
            text-align: center;
            float: none;

            &.active {
                background-color: @fmMenuDark;

                a {
                    background-color: initial;

                    span.button-content {
                        background-image: linear-gradient(-180deg, #ED8B00 0%, #F84F03 100%);
                        border-radius: 100px;

                        i {
                            color: #fff;
                        }
                    }
                }
            }

            &:hover, &:active {
                background-color: @fmMenuDark;

                a {
                    background-color: @fmMenuDark;
                }
            }

            a {
                position: relative;
                display: block;
                width: 100% !important;
                text-align: left;
                text-decoration: none;
                height: 40px !important;
                padding: 5px 10px !important;

                span.button-content {
                    display: inline-block;
                    vertical-align: middle;
                    height: 30px;
                    width: 30px;

                    i {
                        position: relative;
                        display: block;
                        top: 5px;
                        width: 100%;
                        text-align: center;
                        font-size: 20px;
                        color: @fmPlaceholders;
                    }
                }

                span.button-content-text {
                    display: inline-block;
                    vertical-align: middle;
                    width: ~"calc(100% - 30px)";
                    padding-left: 10px;
                    letter-spacing: 0.5px;
                    font-weight: 400;
                    font-size: 13px;
                    color: @fmPlaceholders;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 1.1;
                }
            }

            .has-limit-separator {
                margin: 0 10px;
                border-bottom: 1px solid @fmMenuDark;
            }

            &:last-child {
                margin-bottom: 15px;
            }
        }
    }

    @media (min-width: 1600px) {
        width: 220px;

        ul {
            width: 220px !important;
        }

        .navbar-brand {
            width: 220px !important;

            img.collapsed {
                display: none;
            }

            img.expanded {
                display: block;
            }
        }
    }
}

.navbar-inverse {
    z-index: 1031;

    @media (max-width: 1599px) {
        li.web3-navigation-button {
            a {
                span.button-content-text {
                    opacity: 0;
                    transition: opacity 0.5s;
                    -webkit-transform:translateZ(0);
                }
            }
        }

        &:hover {
            width: 220px;
            overflow: hidden;

            .navbar-brand {
                width: 220px !important;

                img.collapsed {
                    display: none;
                }

                img.expanded {
                    display: block;
                }
            }

            li.web3-navigation-button {
                a {
                    span.button-content-text {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//== Nav Notifications

nav {

  .badge {
    background-color: @rosa;
    position: absolute;
    top: 50%;
    left: 15px;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 20px;
    text-align: center;
    margin-top: -13px;
  }

  .agenda-notifications {

    margin-right: 30px;
    width: auto;

    .badge {
      left: 15px;

    }

    a {
      position: relative;
      line-height: 60px;
    }

    a:hover {
      text-decoration: none;
      background-color: inherit;
    }

    span {
      /*margin-top: 5px;*/
      display: inline-block;
      vertical-align: top;
    }
    span.notification{
      color: #f08d00;
    }
  }

  .user-notifications {

    .badge {

      left: 26px;

    }

    //@media @desktop {
      & {
        position: absolute;
        bottom: 50px;      // clear the user dropdown
        right: 0;
      }
    //}

    //@media @tablet {
    //
    //  .popover {  // fix popover display on small screens
    //
    //    top: 40px !important;
    //    left: -250px !important;
    //
    //    .arrow {
    //      display: none !important;
    //    }
    //
    //  }
    //
    //}

  }

  .icon-alert-notify.unread {
    background-image: url("@{resources}/img/icon_alert.png");
    background-position: 0px 0px;
  }

}

/*--- end nav ---*/

/*--- SFM integration ---*/
.content.web4 {
    margin-left: 50px;
    @media (min-width: 1600px) {
        margin-left: 220px;
    }
}

//@media (max-height: 650px) {
//@media @tablet {
//  .content.web4 {
//    margin-left: 0;
//  }
//}

//@media @desktop {
  .user-dropdown {
    h3.popover-title {
      padding: 17px 15px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #eaeaea;
      font-size: 13px;
      font-weight: 100 !important;
      margin: 0;
      color: @slate;
      letter-spacing: 0.5px;
    }
  }

  .divider {
    margin: 0 !important;
  }
//}

//@media @tablet {
//  .divider {
//    margin: 8px 0 !important;
//  }
//}

.user-dropdown {
  top: 41px;
  right: -15px;
  min-width: 300px;
  padding: 0 !important;
  padding-bottom: 5px !important;
  margin: 0 !important;

  &:before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    height: 50px;
    width: 15px;
    position: absolute;
    top: -48px;
    right: 20px;
  }

  .popover-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
    font-weight: 100 !important;
    margin: 0;
    padding: 8px 14px;
    color: #54585a;
    line-height: 1.1;
  }

  > li > a {
    color: #636363 !important;
    font-size: 13px !important;
    font-weight: 200 !important;
    // padding: 10px 20px !important;
    clear: both;
    display: block;
    line-height: 1.42857;
    white-space: nowrap;
    text-transform: initial;
    letter-spacing: 0.5px;

    height: 40px;
    line-height: 40px;
    padding: 0 !important;
    width: auto;

    i {
      padding: 0 15px;
      font-size: 15px;
      color: #989b9c;
      vertical-align: middle;
    }

    span {
      vertical-align: top;
    }
  }

  #support, #webinar, #contact_support{
    color: #216DB3 !important;

    i {
      color: #216DB3 !important;
    }
  }
}

.navbar-brand {
  width: 50px !important;
  height: 50px;
}

.navbar.navbar-inverse .navbar-brand {
  background-color: transparent !important;
}

//.navbar.navbar-inverse {
//  background-color: #54585a !important;
//  //box-shadow: 0 2px 3px 1px rgba(0,0,0,.5);
//}

#main-navigation-bar ul li {
  & > a {
    color: #fff;
    width: 50px;
    height: 45px;
    text-align: center;
  }

  &.active>a {
    background-color: @naranja;
  }

  .tooltip {
    .tooltip-inner {
      background-color: @carbon;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      width:auto !important;
      white-space: nowrap;
    }

    &.left .tooltip-arrow {
      border-left-color: @carbon !important;
    }
    &.right .tooltip-arrow {
      border-right-color: @carbon !important;
    }
    &.top .tooltip-arrow {
      border-top-color: @carbon !important;
    }
  }

  &.user-dropdown a {
    padding: 7px 0px !important;
  }

}

h1.page-header .dropdown .photouser img.img-circle { height: 30px; width: 30px; }
//h1.page-header .dropdown .photouser img.desktop { display: none; }
//h1.page-header .dropdown .photouser img.nodesktop { display: inline-block; }

//@media @desktop {
  h1.page-header .dropdown .photouser img.desktop { display: inline-block; }
  h1.page-header .dropdown .photouser img.nodesktop { display: none; }
//}
