<widget-wrapper body-class=""
                wtitle="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">


    <div class="clearfix m-b-10">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-4">
                <select class="form-control pull left" ng-model="selectedFilter" ng-change="fn.changeFilter(selectedFilter)">
                    <option value="checkins">{{'MapChart.CheckIns' | i18next}}</option>
                    <option value="users" ng-disabled="!fn.canDisplayUsersInMap()">{{'MapChart.Users' | i18next}}</option>
                    <!--<option value="activity">{{'MapChart.Activity' | i18next}}</option>-->
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-8">
                <div class="pull-right" ng-show="selectedFilter!=='users'">
                    <label class="radio-inline">
                        <input type="radio" value="HEAT_MAP"
                               ng-model="selectedMapType"
                               ng-click="fn.selectMapType('HEAT_MAP')"> Heat Map
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="POINT_MAP"
                               ng-model="selectedMapType"
                               ng-click="fn.selectMapType('POINT_MAP')"> Point Map
                    </label>
                </div>
            </div>
        </div>
    </div>


    <div class="chart-place-holder height-md map-chart" ng-hide="data.serverError===true"></div>


    <ng-include
            src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
            ng-if="data.serverError===true">
    </ng-include>


</widget-wrapper>