<a href="#"
   class="dropdown-toggle"
   data-toggle="dropdown">
    {{filterFor.title}}
    <span class="caret"></span>
</a>
<ul class="dropdown-menu media-list  animated-slow fadeInDown">
    <li class="m-t-10 m-b-10">
        <form>
            <input type="text"
                   class="form-control ic-user"
                   placeholder="Search {{filterFor.title}}"
                   ng-model="data.filterValue"
                   ng-click="$event.stopPropagation();"
                   ng-change="event.searchValueChanged(data.filterValue);"/>
            <span class="fa fa-remove removeTextBoxBtn"
                  ng-show="data.filterValue!=''"
                  ng-click="data.filterValue='';event.searchValueChanged(data.filterValue);$event.stopPropagation();">
            </span>
        </form>
    </li>
    <li class="media">
        <input type="checkbox" class="pull-left m-t-10 m-r-10"
               ng-click="$event.stopPropagation();"/>

        <div class="media-body"
             ng-click="$event.stopPropagation();">
            <p>Yes</p>
        </div>
    </li>
    <li class="media">
        <input type="checkbox" class="pull-left m-t-10 m-r-10"
               ng-click="$event.stopPropagation();"/>

        <div class="media-body"
             ng-click="$event.stopPropagation();">
            <p>No</p>
        </div>
    </li>
</ul>