<a href="#"
   class="dropdown-toggle"
   data-toggle="dropdown">
    {{filterFor.title}}
    <span class="caret"></span>
</a>
<ul class="dropdown-menu media-list animated-slow fadeInDown">
    <li class="media">
        <input type="checkbox" class="pull-left m-t-10 m-r-10"
               ng-click="$event.stopPropagation();"/>

        <div class="media-body"
             ng-click="$event.stopPropagation();">
            <p>Yes</p>
        </div>
    </li>
    <li class="media">
        <input type="checkbox" class="pull-left m-t-10 m-r-10"
               ng-click="$event.stopPropagation();filterValue.selected=!filterValue.selected;fn.prePostFilterChanged();"
               ng-checked="filterValue.selected" />

        <div class="media-body"
             ng-click="$event.stopPropagation();filterValue.selected=!filterValue.selected;fn.prePostFilterChanged();">
            <p>No</p>
        </div>
    </li>
</ul>