<div ng-controller="FilterController" class="row">
    <div class="col-md-12 ui-sortable ">
        <div class="double-border filters-div">
            <h6>Filter by</h6>
            <span class="dropdown">
                <span data-toggle="dropdown" ng-click="event.onShowAvailableOwners(data.ownerFilter)">
                    Owner <i class="fa fa-caret-down"></i>
                </span>
                <ul class="dropdown-menu ownersDropdown">
                    <li><h6>Available Owners</h6></li>
                    <li class="dataTables_filter"><input type="text" ng-model="data.ownerFilter" ng-click="$event.stopPropagation();" ng-change="event.onShowAvailableOwners(data.ownerFilter);" /></li>
                    <li ng-repeat="owner in data.availableOwners">
                        <input type="checkbox" ng-click="event.onToggleOwnerFilter(owner);$event.stopPropagation();" ng-value="owner.selected" />
                        <span>{{ owner.name }} &nbsp; </span>
                    </li>
                </ul>
            </span>
            <span>
                Views <i class="fa fa-caret-down"></i>
            </span>
            <span>
                Environment <i class="fa fa-caret-down"></i>
            </span>
            <span>Account type
                <i class="fa fa-caret-down"></i>
            </span>
            <span class="dropdown">
                <button ng-click="event.onShowAvailableFilters()" data-toggle="dropdown" type="button" class="btn btn-white m-r-5 m-b-5">Add filters</button>
                <ul class="dropdown-menu ownersDropdown">
                    <li><h6>Available Filters</h6></li>
                    <li ng-repeat="filter in data.availableFilters">
                        <span ng-click="event.onAddFilter(filter)">{{ filter.name }}</span>
                    </li>
                </ul>
            </span>
        </div>
        <div class="filters-div">
            <table class="filterTable">
                <tr ng-repeat="filter in data.customFilters">
                    <td><span>{{ filter.name }}:</span></td>
                    <td>
                        <form ng-submit="event.onFilterKeyUp(filter, filter.value)" class="dataTables_filter">
                            <input type="text" ng-model="filter.value" />
                        </form>
                    </td>
                    <td><span ng-click="event.onRemoveFilter(filter)">X</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>