<div class="modal-header add-related-company-dialog">
    <button type="button" class="close" ng-click="fn.close()">
        <span class="fa ic-close"></span>
    </button>
    <div class="modal-title">
        <h4>
            {{'AccountDetail.Dialog.AddRelatedCompany' | i18next}} <span class="company-name">to <span class="name">{{accountName}}</span> </span>
        </h4>
    </div>
</div>
<div class="modal-body form-horizontal add-related-company-dialog" ng-init="fn.getCompanyTypes()">

    <div class="form-group">
        <label class="col-md-3 control-label">Company</label>

        <div class="col-md-8 ui-widget">
            <input class="form-control"
                   ng-model="relatedCompany.name"
                   higlight="true"
                   autocomplete="{{config.api.getCompanyNameSuggestions}}"/>
        </div>
    </div>

    <div class="form-group" ng-show="relatedCompany">
        <label class="col-md-3 control-label">Relation Type</label>

        <div class="col-md-8">
            <select class="form-control" ng-model="relatedCompany.type"
                    ng-init="relatedCompany.type = companyTypes.value[0].key">
                <option ng-repeat="type in companyTypes" value="{{type}}">{{type}}</option>
            </select>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-white" ng-click="fn.close()">
        {{'commonText.Cancel' | i18next}}
    </button>
    <button class="btn btn-sm btn-primary" ng-click="fn.submit()" ng-disabled="!relatedCompany.type || !relatedCompany.name ">
        {{'commonText.Save' | i18next}}
    </button>
</div>