<widget-wrapper body-class=""
                title="{{widget.widgetName}}"
                event-bus-channel="eventChannel">
    <div class="clearfix m-b-20 ">
        <div class="btn-group pull-right">
            <button class="btn btn-white btn-sm" ng-repeat="filter in tabs"
                    ng-click="fn.changeFilter(filter)"
                    ng-class="{'active':selectedFilter==filter}">
                {{filter}}
            </button>
        </div>
    </div>
    <div class="chart-place-holder height-sm"></div>
</widget-wrapper>