<widget-wrapper body-class=""
                title="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                is-reloading="isReloading">
    <div ng-controller="GraphWidgetController" ng-init="fn.assignWidget(widget)">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4 m-b-20 ">

                <select class="form-control pull left"
                        ng-change="fn.changeFilter()"
                        ng-model="selectedFilter">
                    <option value="{{filter.key}}"
                            ng-repeat="filter in filters">{{filter.name}}
                    </option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-8 m-b-20">
                <div class="btn-group pull-right">
                    <button class="btn btn-white btn-sm"
                            ng-class="{'active': selectedRangeOption=='hour'}"
                            ng-click="fn.changeFilterRange('hour')">
                        {{'LineWidget.Filters.Hour' | i18next}}
                    </button>
                    <button class="btn btn-white btn-sm"
                            ng-class="{'active': selectedRangeOption=='date'}"
                            ng-click="fn.changeFilterRange('date')">
                        {{'LineWidget.Filters.Date' | i18next}}
                    </button>
                    <button class="btn btn-white btn-sm"
                            ng-class="{'active': selectedRangeOption=='week'}"
                            ng-click="fn.changeFilterRange('week')">
                        {{'LineWidget.Filters.Week' | i18next}}
                    </button>
                    <button class="btn btn-white btn-sm"
                            ng-class="{'active': selectedRangeOption=='month'}"
                            ng-click="fn.changeFilterRange('month')">
                        {{'LineWidget.Filters.Month' | i18next}}
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-lg-10">
                <div class="chart-place-holder height-sm">
                </div>
            </div>
            <div class="col-sm-4 col-lg-2 ">
                <div class=" border-grey parameters clearfix">
                    <div class="clearfix">
                        <h6>
                            {{'LineWidget.Filters.ShowFields' | i18next}}
                        </h6>

                        <div class="checkbox">
                            <label ng-repeat="field in availableFields" class="block">
                                <input type="checkbox"
                                       ng-checked="field.isDisplaying"
                                       ng-click="fn.toggleDisplayField(field.name)"
                                       value="{{field.name}}">{{field.name}}
                            </label>
                        </div>
                    </div>
                    <div class="m-t-20 clearfix">
                        <h6>{{'LineWidget.DataDisplay' | i18next}}</h6>

                        <div class="btn-group  m-t-10 m-b-10">
                            <button class="btn btn-white btn-sm"
                                    ng-click="fn.switchToLine()"
                                    ng-class="{'active': currentChartType=='line'}"
                                    style="padding: 4px 8px!important;">
                                <img src="assets/img/graph-1.png" alt="">
                            </button>
                            <button class="btn btn-white btn-sm "
                                    ng-click="fn.switchToFilled()"
                                    ng-class="{'active': currentChartType=='filled'}"
                                    style="padding: 4px 8px!important;">
                                <img src="assets/img/graph-2.png" alt="">
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 m-t-10">
            <span class="container-popover">
                <span class="btn btn-white btn-lg m-r-10 m-t-10 noHover">
                    <strong>324</strong>
                    <small>
                        {{'LineWidget.TotalVisits' | i18next}}
                    </small>
                </span>
            </span>

            <span class="btn btn-white btn-lg m-r-10 m-t-10 noHover">
                <strong>58,9 </strong>
                <small>{{'LineWidget.VisitsPerDay' | i18next}}</small>
            </span>
            <span class="btn btn-white btn-lg m-r-10 m-t-10 noHover">
                <strong>5,7</strong>
                <small>{{'LineWidget.VisitsPerUserPerDay' | i18next}}</small>
            </span>
            </div>
        </div>
    </div>
</widget-wrapper>