<div class="col-md-12 drag-and-drop ui-sortable" ng-controller="WidgetWrapperController">
    <div class="panel panel-inverse" ng-class="{'panel-expand': isExpanded}">
        <div class="panel-heading">
            <div ng-include="'/templates/widgets/header.buttons.html'"></div>
            <h4 class="panel-title">
                Ranking
            </h4>
        </div>
        <div class="panel-body">
            <div ng-include="'/templates/analytics/chart2.html'"></div>
        </div>
    </div>
</div>