<!--
<ul class="pull-right no-bullet m-t-40">
    <li>
        <div class="edit-delete-div">
            <a ng-href="#/accounts/{{accountData.id}}/edit">
                <i class="fa ic-edit"></i>{{'commonText.Edit' | i18next}}
            </a>
            <a href="" class="brand-red-text">
                <i class="fa ic-trash"></i>{{'commonText.Delete' | i18next}}</a>
        </div>
    </li>
</ul>
-->
<!-- end edit / delete -->
<!-- begin page-header -->
<div class="row header_title">
    <div class="col-xs-2 col-md-1 account-logo-div">
        <img class="img-responsive" src="{{accountData.imgUrl}}">
    </div>
    <div class="col-xs-10 col-md-11">
        <button type="button" class="btn btn-default btn-sm btn-squared btn-follow flag_button"
                ng-click="fn.toggleFollow()"
                ng-class="{'active': accountData.following}">
            <i class="fa ic-flag"></i>
        </button>
        <br/>
        <h1 class="page-header">{{accountData.name}},
            <small>{{accountData.subtitle}}</small>
        </h1>
        <ul class="no-bullet pull-right">
            <li>
                <div class="edit-delete-div">
                    <a ng-href="#/accounts/{{accountData.id}}/edit">
                        <!--<a href="" ng-click="fn.openEditDialog()">-->
                        <i class="fa ic-edit"></i>{{'commonText.Edit' | i18next}}
                    </a>
                    <a href="" ng-click="fn.deleteAccount()" class="brand-red-text">
                        <i class="fa ic-trash"></i>{{'commonText.Delete' | i18next}}</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- end page-header -->