<widget-wrapper title="Agenda"
                event-bus-channel="eventChannel"
                body-class="panel-opportunity">

    <div class="agenda-calendar" ng-init="fn.initCalendar()">

        <div class="btn-group m-b-10">

            <button class="btn btn-white btn-sm" id="switchDay"
                    data-ng-click="fn.changeView('agendaDay')"
                    ng-class="{ 'selected' : selectedView == 'agendaDay' }"
                    >Day
            </button>
            <button class="btn btn-white btn-sm" id="switchWeek"
                    data-ng-click="fn.changeView('agendaWeek')"
                    ng-class="{ 'selected' : selectedView == 'agendaWeek' }"
                    >Week
            </button>
            <button class="btn btn-white btn-sm" id="switchMonth"
                    data-ng-click="fn.changeView('month')"
                    ng-class="{ 'selected' : selectedView == 'month' }"
                    >Month
            </button>
        </div>
        <div class="line-border clearfix"></div>

        <div class="calendar-title">
            <a href="#" class="btn btn-link prev" ng-click="$event.preventDefault();fn.prev()"><i class="fa fa-angle-double-left"></i></a>
            <span class="title">{{currentDate}}</span>
            <a href="#" class="btn btn-link next" ng-click="$event.preventDefault();fn.next()"><i class="fa fa-angle-double-right"></i></a>
        </div>

        <div id="agenda-calendar"></div>
    </div>

    <table class="m-t-10 m-b-10">
        <tbody>
        <tr>
            <td class="legendColorBox">
                <div style="border:1px solid #ddd;padding:1px">
                    <div style="width:4px;height:0;border:5px solid #FF8800;overflow:hidden"></div>
                </div>
            </td>
            <td class="legendLabel p-r-10">Eventos</td>
            <td class="legendColorBox ">
                <div style="border:1px solid #ddd;padding:1px">
                    <div style="width:4px;height:0;border:5px solid #00CD60;overflow:hidden"></div>
                </div>
            </td>
            <td class="legendLabel p-r-10">Tareas</td>
            <td class="legendColorBox ">
                <div style="border:1px solid #ddd;padding:1px">
                    <div style="width:4px;height:0;border:5px solid #00CCCD;overflow:hidden"></div>
                </div>
            </td>
            <td class="legendLabel p-r-10">Oportunidades en cierre</td>
        </tr>
        </tbody>
    </table>

    <!-- legend -->
    <div class="line-border clearfix"></div>
    <div class="dropdown pull-left">
        <button type="button" class="btn btn-default btn-sm  m-t-10 m-b-5 dropdown-toggle" id="dropdownMenu1"
                data-toggle="dropdown" aria-expanded="true"><span class="ic-plus"></span> Create
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="$event.preventDefault();fn.addEvent('task')">Task</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="$event.preventDefault();fn.addEvent('event')">Event</a></li>
        </ul>
    </div>


    <div class="m-t-15  text-link clearfix pull-right">
        <a class="pull-right">Go to agenda <span class="ic-arr-right"></span></a>
    </div>

    <div id="tooltip" class="tooltip calendar-tooltip">
        <div class="body">
            <span class="title">{{selectedEvent.title}}</span>
            <span class="time">{{selectedEvent.time}}</span>
        </div>
        <div class="clearfix"></div>
        <div class="footer">
            <button class="btn btn-link pull-right" type="button" ng-click="fn.deleteEvent(selectedEvent)"><i
                    class="fa ic-trash"></i> Delete
            </button>
        </div>
    </div>

</widget-wrapper>

<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
        <!--var date = new Date();-->
        <!--var d = date.getDate();-->
        <!--var m = date.getMonth();-->
        <!--var y = date.getFullYear();-->

        <!--$('#calendar').fullCalendar({-->
            <!--defaultView: 'agendaDay',-->
            <!--selectable: true,-->
            <!--selectHelper: true,-->
            <!--select: function(start, end, allDay) {-->
                <!--var title = prompt('Event Title:');-->
                <!--if (title) {-->
                    <!--calendar.fullCalendar('renderEvent',-->
                            <!--{-->
                                <!--title: title,-->
                                <!--start: start,-->
                                <!--end: end,-->
                                <!--allDay: allDay-->
                            <!--},-->
                            <!--true-->
                    <!--);-->
                <!--}-->
                <!--calendar.fullCalendar('unselect');-->
            <!--},-->
            <!--events: [-->
                <!--{-->
                    <!--title: 'Jason',-->
                    <!--start: new Date(y, m, 1)-->
                <!--},-->
                <!--{-->
                    <!--title: 'InMall',-->
                    <!--start: new Date(y, m, d-2),-->
                    <!--end: new Date(y, m, d)-->
                <!--},-->
                <!--{-->
                    <!--id: 999,-->
                    <!--title: 'Lunch Time',-->
                    <!--start: new Date(y, m, d+5, 16, 0),-->
                    <!--allDay: false-->
                <!--},-->
                <!--{-->
                    <!--title: 'ApiumTech',-->
                    <!--start: new Date(y, m, 28),-->
                    <!--end: new Date(y, m, 29),-->
                    <!--url: 'http://apiumtech.com/'-->
                <!--}-->
            <!--]-->
        <!--});-->
        <!--$('#switchDay').click(function(){-->
            <!--$('#calendar').fullCalendar('changeView', 'agendaDay');-->
        <!--});-->
        <!--$('#switchWeek').click(function(){-->
            <!--$('#calendar').fullCalendar('changeView', 'agendaWeek');-->
        <!--});-->
        <!--$('#switchMonth').click(function(){-->
            <!--$('#calendar').fullCalendar('changeView', 'month');-->
        <!--});-->
        <!--$('#prevDay').click(function(){-->
            <!--$('#calendar').fullCalendar('prev');-->
        <!--});-->
        <!--$('#nextDay').click(function(){-->
            <!--$('#calendar').fullCalendar('next');-->
        <!--});-->
        <!--$(".fc-toolbar").hide();-->
    <!--});-->
<!--</script>-->