<span class="pull-left date-range m-r-10">
        {{filterFor.title}}
</span>

<div class="input-group pull-left" style="width:220px;">

    <input type="text" class="form-control"
           ng-keypress="$event.preventDefault()"
           ng-attr-placeholder="{{dateRangePlaceholder}}">

    <div class="input-group-btn"
         dropdown
         is-open="data.dateRangeFilterOpened"
         on-toggle="fn.dateFilterToggled(open)">
        <ul class="dropdown-menu media-list pull-right animated fadeInDown"
            ng-click="$event.stopPropagation()"
            style="width:300px; max-width:300px;">
            <li><h6 class="m-t-20">{{'Filters.SelectDateRange' | i18next}}</h6></li>
            <li class="divider"></li>
            <li>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{'Filters.Customized' | i18next}}</p></div>
                    <div class="col-md-12">
                        <div class="input-group input-daterange">
                            <input type="text" class="form-control" name="start"
                                   ng-model="displayDateStart"
                                   ng-keydown="fn.validateDateInput($event)"/>
                            <span class="input-group-addon">{{'Filters.To' | i18next}}</span>
                            <input type="text" class="form-control" name="end"
                                   ng-model="displayDateEnd"
                                   ng-keydown="fn.validateDateInput($event)"/>
                        </div>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li class="m-t-10 m-b-5 text-link" ng-repeat="range in dateOptionRange">
                <a ng-click="fn.loadPreviousLastDaysFilter(range, $event)">
                    {{'Filters.LastxxDays' | i18next:{xx: range} }}
                </a>
            </li>

            <li class="divider"></li>
            <li class="m-t-10 m-b-5 text-link clearfix">
                <a class="btn btn-default btn-sm pull-left"
                   ng-click="fn.applyDateFilter()">
                    {{'commonText.Apply' | i18next}}
                </a>
                <a class="pull-left m-l-10 m-t-5"
                   ng-click="data.dateRangeFilterOpened=false;">
                    {{'commonText.Cancel' | i18next}}
                </a>
            </li>
        </ul>
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                dropdown-toggle>
            <span class="caret"></span>
        </button>
    </div>
</div>