<div class="modal-header add-related-company-dialog add-event-dialog">
    <button type="button" class="close" ng-click="fn.close()">
        <span class="fa ic-close"></span>
    </button>
    <div class="modal-title">
        <h4>
            Add new event to agenda
        </h4>
        {{event.start}}
        {{event.end}}
    </div>
</div>
<div class="modal-body form-horizontal add-related-company-dialog add-event-dialog" >

    <div class="form-group">
        <label class="col-md-3 control-label">Title</label>

        <div class="col-md-8 ui-widget">
            <input class="form-control" ng-model="event.title"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">Type</label>

        <div class="col-md-8">
            <select class="form-control" ng-model="event.type">
                <option value="task">Task</option>
                <option value="event">Event</option>
                <option value="other">Default</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-3 control-label date">Start</label>

        <div class="col-md-4 date">
            <force-date-picker year-range="5" date-format="MM/dd/yyyy">
                <input type="text" class="form-control"
                       ng-model="event.start.date"/>
            </force-date-picker>
        </div>
        <div class="col-md-4">
            <timepicker ng-model="event.start.time" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label date">End</label>

        <div class="col-md-4 date">
            <force-date-picker year-range="5" date-format="MM/dd/yyyy">
                <input type="text" class="form-control"
                       ng-model="event.end.date"/>
            </force-date-picker>
        </div>
        <div class="col-md-4">
            <timepicker ng-model="event.end.time" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-white" ng-click="fn.close()">
        {{'commonText.Cancel' | i18next}}
    </button>
    <button class="btn btn-sm btn-primary" ng-click="fn.submit()" ng-disabled="!event.title || !event.start.date || !event.type">
        {{'commonText.Save' | i18next}}
    </button>
</div>