<div class="m-b-5 clearfix m-t-15">
    <!-- begin edit / delete -->
    <div class="btn-group pull-right prev-buttons">
        <button class="btn btn-white btn-xs"><span class="ic-arr-left"> </span>Previous Opportunity</button>
        <button class="btn btn-white btn-xs"> Next Opportunity <span class="ic-arr-right"></span></button>
    </div>


    <ul class=" pull-right no-bullet m-t-40">
        <li>
            <div class="edit-delete-div"><a href=""><i class="fa ic-edit"></i>Edit</a><a href="" class="brand-red-text"><i
                    class="fa ic-trash"></i>Delete</a></div>
        </li>
    </ul>
    <!-- end edit / delete -->
    <!-- begin page-header -->

    <div class="pull-left m-t-20">
        <h1 class="page-header m-b-0 "><!--<i class="fa  ic-offers"></i> -->
            <button type="button" class="btn btn-default btn-sm btn-follow  btn-squared m-r-10"><i
                    class="fa ic-flag"></i></button>
            Opportunity name
        </h1>
        <!-- end page-header -->
    </div>
</div>
<div class="line-border clearfix m-b-20"></div>
<!-- begin row -->
<div class="row m-t-10">

    <!-- begin col-4 -->
    <div class="col-md-4">
        <div class="panel panel-inverse panel-card panel-detail panel-opportunity-detail">
            <div class="panel-body">
                <div class="panel-card-highlighted">
                    <h4>Value: € 390</h4></div>
                <h6 class="m-b-5">Status </h6>

                <p><select name="data-table_length" aria-controls="data-table" class="form-control">
                    <option value="10" selected="selected">1. Parado</option>
                    <option value="25">2. Ofertado</option>
                    <option value="50">3. Pendiente de aprobacion</option>
                    <option value="100">4. Ganada</option>
                </select></p>

                <h6 class="m-b-5">Probability sale </h6>

                <p><input type="text" id="customValue_rangeSlider" name="default_rangeSlider" value=""/></p>

                <div class="clearfix">
                    <h6 class="pull-left">Sales Forecast</h6>

                    <p class="pull-left m-t-15 m-l-10">26/09/2014</p></div>
                <hr></hr>

                <div class="clearfix">
                    <h6 class="pull-left">Owner</h6>

                    <p class="pull-left m-t-15 m-l-10">
                        <a href="">Pedro Garcia Sanchez</a></p></div>

            </div>
        </div>

        <div class="panel panel-inverse panel-card panel-detail ">
            <div class="panel-body">
                <div class="line-border clearfix m-b-10 m-t-5"></div>
                <div id="map-canvas"></div>
                <div class="line-border clearfix m-t-10"></div>

                <h6>DIRECCION</h6>

                <p>Paseo de la Castellana nº 95,
                    Torre España 15 planta - MADRID Spain</p>
                <!-- email-->
                <h6>EMAIL</h6>

                <p>daisycarlson@ikea.es
                    <button type="button" class="btn btn-default btn-xs  m-l-10"><i class="fa ic-email"></i></button>
                </p>
                <p>lore.ipsum@garciaandsons.es
                    <button type="button" class="btn btn-default btn-xs  m-l-10"><i class="fa ic-email"></i></button>
                </p>
                <!-- email-->
                <!-- telephones-->
                <div class="clearfix">
                    <h6 class="pull-left">Mobile</h6>

                    <p class="pull-left m-t-15 m-l-10">(699) 991 824</p></div>
                <div class="clearfix">
                    <h6 class="pull-left m-t-5">Landline</h6>

                    <p class="pull-left m-t-0 m-l-10">+34 689 56 97</p></div>
                <!-- telephones-->

                <h6>WEb</h6>

                <p>www.emporium.com</p>

                <!-- INTERMEDIATE company-->
                <h6>INTERMEDIATE </h6>

                <p>Leroy Merlin España</p>
                <button type="button" class="btn btn-default btn-xs  m-t-10 m-b-5"><span class="ic-plus"></span> Add
                    contact
                </button>
                <!-- INTERMEDIATE company-->
                <!-- Comments company-->
                <h6>Comments</h6>

                <p>Proporcionamos herramientas de marketing relacional: CRM, Fidelización, Buzoneo, Logística, Contact
                    Center... <a>more</a></p>
                <!-- Comments company-->
                <!-- telephones-->
                <div class="clearfix">
                    <h6 class="pull-left">Campo extra</h6>

                    <p class="pull-left m-t-15 m-l-10">Valore campo extra</p></div>
                <div class="clearfix">
                    <h6 class="pull-left m-t-5">Campo extra booleano</h6>

                    <p class="pull-left m-t-0 m-l-10"><span class="ic-accept"></span></p></div>
                <div class="clearfix">
                    <h6 class="pull-left m-t-5"><span class="boolean-no">Campo extra booleano NO</span></h6>

                    <p class="pull-left m-t-0 m-l-10"><span class="ic-close"></span></p></div>
                <!-- telephones-->

                <div>

                </div>
            </div>
        </div>
    </div>

    <!-- end col-4 -->
    <!-- begin all right content-->
    <div class="col-md-8">
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <div class="row">
                    <!-- begin col-3 -->
                    <div class="col-xs-6 col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-green">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                            <div class="stats-title">TODAY'S VISITS</div>
                            <div class="stats-number">7,842,900</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 70.1%;"></div>
                            </div>
                            <div class="stats-desc">Better than last week (70.1%)</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-xs-6 col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-blue">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                            <div class="stats-title">TODAY'S PROFIT</div>
                            <div class="stats-number">180,200</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 40.5%;"></div>
                            </div>
                            <div class="stats-desc">Better than last week (40.5%)</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-xs-6 col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-purple">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                            <div class="stats-title">NEW ORDERS</div>
                            <div class="stats-number">38,900</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 76.3%;"></div>
                            </div>
                            <div class="stats-desc">Better than last week (76.3%)</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-xs-6 col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-orange">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                            <div class="stats-title">NEW COMMENTS</div>
                            <div class="stats-number">3,988</div>
                            <div class="stats-progress progress">
                                <div class="progress-bar" style="width: 54.9%;"></div>
                            </div>
                            <div class="stats-desc">Better than last week (54.9%)</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
            </div>
            <!-- end col-8 -->

            <!-- begin activity panel -->
            <div class="col-md-12 drag-and-drop">
                <div class="panel panel-inverse ">
                    <div class="panel-heading">
                        <div class="panel-heading-btn"><a href="javascript:;"
                                                          class="btn btn-xs btn-icon btn-circle btn-default"
                                                          data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
                                href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                                data-click="panel-reload"><i class="fa fa-repeat"></i></a> <a href="javascript:;"
                                                                                              class="btn btn-xs btn-icon btn-circle btn-warning"
                                                                                              data-click="panel-collapse"><i
                                class="fa fa-minus"></i></a> <a href="javascript:;"
                                                                class="btn btn-xs btn-icon btn-circle btn-danger"
                                                                data-click="panel-remove"><i
                                class="fa fa-times"></i></a></div>
                        <h4 class="panel-title">Activity</h4>
                    </div>
                    <div class="panel-body timeline-div">

                        <ul class="timeline ">

                            <li>

                                <div class="timeline-time">

                                    <span class="label-activity">Today</span>

                                </div>
                            </li>
                            <li>
                                <!-- begin timeline-time -->
                                <div class="timeline-time">


                                    <span class="date">today</span>
                                    <span class="time">04:20</span>
                                </div>
                                <!-- end timeline-time -->
                                <!-- begin timeline-icon -->
                                <div class="timeline-icon">
                                    <a href="javascript:;"><i class="fa-lg ic-edit"></i></a>
                                </div>
                                <!-- end timeline-icon -->
                                <!-- begin timeline-body -->
                                <div class="timeline-body">
                                    <div class="timeline-header clearfix">

                                        <div class="userimage"><img src="assets/img/user-1.jpg"></div>
                                        <div class="pull-left"><a href="javascript:;" class="main">John Smith</a> <span> -  llamada efectuada a <a
                                                href="">Ikea Iberica SL</a></span>
                                            <span class="clearfix">Contacto: <a href="">Daisy Carlson </a>, CEO</span>
                                        </div>
                                        <button type="button" data-toggle="tooltip" title=""
                                                data-original-title="Follow activity"
                                                class="btn btn-default btn-sm btn-squared btn-follow pull-right"><i
                                                class="fa-lg ic-flag"></i></button>

                                    </div>

                                    <div class="timeline-content">
                                        <p>
                                            Hablo con el DGENERAL SR GALLEGO para intentar cerrar visita para JCARLOS:
                                            me dice que está fuera de SP. y que le llame el viernes 22 entre las 9 y
                                            9.30
                                        </p>
                                    </div>
                                    <div class="timeline-footer">

                                        <a href="javascript:;" class="m-r-15 "><i class="fa ic-edit"></i> Edit activity</a>

                                    </div>
                                </div>
                                <!-- end timeline-body -->
                            </li>
                            <!-- begin time divider li -->
                            <li>

                                <div class="timeline-time">

                                    <span class="label-activity">Yesterday</span>

                                </div>
                            </li>
                            <!-- begin time divider li -->
                            <li>
                                <!-- begin timeline-time -->
                                <div class="timeline-time">


                                    <span class="date">yesterday</span>
                                    <span class="time">04:20</span>
                                </div>
                                <!-- end timeline-time -->
                                <!-- begin timeline-icon -->
                                <div class="timeline-icon">
                                    <a href="javascript:;" class="followed"><i class="fa-lg ic-email-in"></i></a>
                                </div>
                                <!-- end timeline-icon -->
                                <!-- begin timeline-body -->
                                <div class="timeline-body">
                                    <div class="timeline-header clearfix">

                                        <div class="userimage"><img src="assets/img/user-7.jpg"></div>
                                        <div class="pull-left"><a href="javascript:;" class="main">Pedro Garcia
                                            Sanchez</a> <span> -  Email recibido desde <a href="">Leroy
                                            Merlin</a></span>
                                            <span class="clearfix">Contacto: <a href="">Daisy Carlson </a>, CEO</span>
                                        </div>
                                        <button type="button" data-toggle="tooltip" title=""
                                                data-original-title="Follow activity"
                                                class="btn btn-default btn-sm btn-squared btn-follow pull-right"><i
                                                class="fa-lg ic-flag"></i></button>


                                    </div>

                                    <div class="timeline-content">
                                        <p>
                                            Objeto: Formació Force Manager Vedesma <a href="">Show content </a>
                                        </p>
                                    </div>
                                    <div class="timeline-footer">
                                        <a href="javascript:;" class="m-r-15"><i class="fa ic-edit"></i> Edit
                                            activity</a>

                                    </div>
                                </div>
                                <!-- end timeline-body -->
                            </li>
                            <li>

                                <div class="timeline-time">

                                    <span class="label-activity">Last week</span>

                                </div>
                            </li>


                            <li>
                                <!-- begin timeline-time -->
                                <div class="timeline-time">

                                    <span class="date">10 January 2014</span>
                                    <span class="time">20:43</span>
                                </div>
                                <!-- end timeline-time -->
                                <!-- begin timeline-icon -->
                                <div class="timeline-icon">
                                    <a href="javascript:;"><i class="fa-lg ic-checkin"></i></a>
                                </div>
                                <!-- end timeline-icon -->
                                <!-- begin timeline-body -->
                                <div class="timeline-body">
                                    <div class="timeline-header clearfix">

                                        <div class="userimage"><img src="assets/img/user-1.jpg"></div>
                                        <div class="pull-left"><a href="javascript:;" class="main">John Smith</a> <span> -  CheckIn efectuado en <a
                                                href="">Ikea Iberica SL</a></span>
                                        </div>
                                        <button type="button" data-toggle="tooltip" title=""
                                                data-original-title="Follow activity"
                                                class="btn btn-default btn-sm btn-squared btn-follow pull-right"><i
                                                class="fa-lg ic-flag"></i></button>


                                    </div>
                                    <div class="timeline-content">
                                        <h4 class="template-title">
                                            <i class="fa fa-map-marker text-danger fa-fw"></i>
                                            795 Folsom Ave, Suite 600 San Francisco, CA 94107
                                        </h4>

                                        <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus.
                                            Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum odio, id
                                            luctus mauris nibh ut leo.</p>

                                        <p class="m-t-20">
                                            <img src="assets/img/gallery/gallery-4.jpg">
                                        </p>
                                    </div>
                                    <div class="timeline-footer">
                                        <a href="javascript:;" class="m-r-15"><i class="fa ic-edit"></i> Edit
                                            activity</a>

                                    </div>
                                </div>
                                <!-- end timeline-body -->
                            </li>


                            <li>
                                <!-- begin timeline-icon -->
                                <div class="timeline-icon">
                                    <a href="javascript:;"><i class="fa-lg fa-spinner"></i></a>
                                </div>
                                <!-- end timeline-icon -->
                                <!-- begin timeline-body -->
                                <div class="timeline-body">
                                    Loading...
                                </div>
                                <!-- begin timeline-body -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- end activity panel -->


            <!-- begin col-4 -->
            <div class="col-md-6 drag-and-drop">
                <!-- begin calendar-->

                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn"><a href="javascript:;"
                                                          class="btn btn-xs btn-icon btn-circle btn-default"
                                                          data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
                                href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                                data-click="panel-reload"><i class="fa fa-repeat"></i></a> <a href="javascript:;"
                                                                                              class="btn btn-xs btn-icon btn-circle btn-warning"
                                                                                              data-click="panel-collapse"><i
                                class="fa fa-minus"></i></a> <a href="javascript:;"
                                                                class="btn btn-xs btn-icon btn-circle btn-danger"
                                                                data-click="panel-remove"><i
                                class="fa fa-times"></i></a></div>
                        <h4 class="panel-title">Agenda</h4>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group m-b-10">
                            <button class="btn btn-white btn-sm ">Day</button>
                            <button class="btn btn-white btn-sm ">Week</button>
                            <button class="btn btn-white btn-sm active">Month</button>

                        </div>
                        <div class="line-border clearfix"></div>
                        <div id="datepicker-inline" class="datepicker-full-width">
                            <div></div>
                        </div>
                        <!-- legend -->

                        <table class="m-t-10 m-b-10">
                            <tbody>
                            <tr>
                                <td class="legendColorBox">
                                    <div style="border:1px solid #ddd;padding:1px">
                                        <div style="width:4px;height:0;border:5px solid #348fe2;overflow:hidden"></div>
                                    </div>
                                </td>
                                <td class="legendLabel p-r-10">Eventos</td>
                                <td class="legendColorBox ">
                                    <div style="border:1px solid #ddd;padding:1px">
                                        <div style="width:4px;height:0;border:5px solid #85ac1f;overflow:hidden"></div>
                                    </div>
                                </td>
                                <td class="legendLabel p-r-10">Tareas</td>
                                <td class="legendColorBox ">
                                    <div style="border:1px solid #ddd;padding:1px">
                                        <div style="width:4px;height:0;border:5px solid #85ac1f;overflow:hidden"></div>
                                    </div>
                                </td>
                                <td class="legendLabel p-r-10">Oportunidades en cierre</td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- legend -->
                        <div class="line-border clearfix"></div>
                        <div class="dropdown pull-left">
                            <button type="button" class="btn btn-default btn-sm  m-t-10 m-b-5 dropdown-toggle"
                                    id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><span
                                    class="ic-plus"></span> Create
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Task</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Event</a></li>
                            </ul>
                        </div>


                        <div class="m-t-15  text-link clearfix pull-right">
                            <a class="pull-right">Go to agenda <span class="ic-arr-right"></span></a>


                        </div>
                    </div>

                </div>

                <!-- end calendar-->
            </div>


            <!-- begin col-4 -->
            <div class="col-md-6 drag-and-drop">
                <!-- Best clients-->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn"><a href="javascript:;"
                                                          class="btn btn-xs btn-icon btn-circle btn-default"
                                                          data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
                                href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                                data-click="panel-reload"><i class="fa fa-repeat"></i></a> <a href="javascript:;"
                                                                                              class="btn btn-xs btn-icon btn-circle btn-warning"
                                                                                              data-click="panel-collapse"><i
                                class="fa fa-minus"></i></a> <a href="javascript:;"
                                                                class="btn btn-xs btn-icon btn-circle btn-danger"
                                                                data-click="panel-remove"><i
                                class="fa fa-times"></i></a></div>
                        <h4 class="panel-title">Quotes</h4>
                    </div>
                    <div class="panel-body panel-opportunity">
                        <ul class="no-bullet clearfix">
                            <!-- list item - single client-->
                            <li class="clearfix">
                                <div class="clearfix">

                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <a href="detail-quotes.html" class="main pull-left">Quote: 2014-182 </a>
                                        </div>
                                        <div class="btn-group pull-right">

                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Mark as won"><i class="ic-ic-won"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Follow opportunity"><i
                                                    class="ic-flag"></i></button>
                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Edit opportunity"><i
                                                    class="ic-edit"></i></button>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left"><p class="m-b-0 pull-left">Líder mundial en el cuidado de
                                            la salud</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix m-t-5">
                                    <div class="pull-left">

                                        <h6 class="pull-left m-t-5">Value</h6>

                                        <p class="pull-left m-t-0 m-l-10 m-b-0">€ 2.270,00 €</p>
                                    </div>
                                    <div class="pull-right"><i class="fa ic-salesforce"></i><a>Pedro Garcia Sanchez</a>
                                    </div>
                                </div>


                            </li>
                            <hr></hr>
                            <!-- end list item - single client -->
                            <!-- list item - single client-->
                            <li class="clearfix">
                                <div class="clearfix">

                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <a href="detail-quotes.html" class="main pull-left">Quote: 56847 </a>
                                        </div>
                                        <div class="btn-group pull-right">

                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Mark as won"><i class="ic-ic-won"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Follow opportunity"><i
                                                    class="ic-flag"></i></button>
                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Edit opportunity"><i
                                                    class="ic-edit"></i></button>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left"><p class="m-b-0 pull-left">Escripcion de la oferta</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix m-t-5">
                                    <div class="pull-left">

                                        <h6 class="pull-left m-t-5">Value</h6>

                                        <p class="pull-left m-t-0 m-l-10 m-b-0">€ 2.270,00 €</p>
                                    </div>
                                    <div class="pull-right"><i class="fa ic-salesforce"></i><a>Pedro Garcia Sanchez</a>
                                    </div>
                                </div>


                            </li>
                            <hr></hr>
                            <!-- end list item - single client -->
                            <!-- list item - single client-->
                            <li class="clearfix">
                                <div class="clearfix">

                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <a href="detail-quotes.html" class="main pull-left">Quote: 2014-189</a>
                                        </div>
                                        <div class="btn-group pull-right">

                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Mark as won"><i class="ic-ic-won"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Follow opportunity"><i
                                                    class="ic-flag"></i></button>
                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Edit opportunity"><i
                                                    class="ic-edit"></i></button>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left"><p class="m-b-0 pull-left">Descripcion de la oferta
                                            lorem </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix m-t-5">
                                    <div class="pull-left">

                                        <h6 class="pull-left m-t-5">Value</h6>

                                        <p class="pull-left m-t-0 m-l-10 m-b-0">€ 2.270,00 €</p>
                                    </div>
                                    <div class="pull-right"><i class="fa ic-salesforce"></i><a>Pedro Garcia Sanchez</a>
                                    </div>
                                </div>


                            </li>

                            <hr></hr>
                            <!-- end list item - single client -->
                            <!-- list item - single client-->
                            <li class="clearfix">
                                <div class="clearfix">

                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <a href="detail-quotes.html" class="main pull-left">Quote: 2014-12 </a>
                                        </div>
                                        <div class="btn-group pull-right">

                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Mark as won"><i class="ic-ic-won"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Follow opportunity"><i
                                                    class="ic-flag"></i></button>
                                            <button type="button" class="btn btn-default btn-xs " data-toggle="tooltip"
                                                    title="" data-original-title="Edit opportunity"><i
                                                    class="ic-edit"></i></button>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left"><p class="m-b-0 pull-left">Descriocion de la oferta</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix m-t-5">
                                    <div class="pull-left">

                                        <h6 class="pull-left m-t-5">Value</h6>

                                        <p class="pull-left m-t-0 m-l-10 m-b-0">€ 2.270,00 €</p>
                                    </div>
                                    <div class="pull-right"><i class="fa ic-salesforce"></i><a>Pedro Garcia Sanchez</a>
                                    </div>
                                </div>


                            </li>

                            <hr></hr>
                            <!-- end list item - single client -->


                        </ul>


                        <button type="button" class="btn btn-default btn-sm  m-t-10 m-b-5"><span class="ic-plus"></span>
                            Create
                        </button>


                        <div class="m-t-15  text-link clearfix pull-right">
                            <a class="pull-right" href="quotes.html">Go to quotes <span class="ic-arr-right"></span></a>


                        </div>


                    </div>


                </div>

                <!-- Best Clients-->
            </div>
            <!-- end col-4 -->

            <!-- begin documents -->
            <!-- begin documents panel -->
            <div class="col-md-12 drag-and-drop">
                <div class="panel panel-inverse ">
                    <div class="panel-heading">
                        <div class="panel-heading-btn"><a href="javascript:;"
                                                          class="btn btn-xs btn-icon btn-circle btn-default"
                                                          data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
                                href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                                data-click="panel-reload"><i class="fa fa-repeat"></i></a> <a href="javascript:;"
                                                                                              class="btn btn-xs btn-icon btn-circle btn-warning"
                                                                                              data-click="panel-collapse"><i
                                class="fa fa-minus"></i></a> <a href="javascript:;"
                                                                class="btn btn-xs btn-icon btn-circle btn-danger"
                                                                data-click="panel-remove"><i
                                class="fa fa-times"></i></a></div>
                        <h4 class="panel-title">Documents</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th><strong>Title</strong></th>
                                    <th><strong>Date</strong></th>
                                    <th><strong></strong></th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX">
                                    <td><a href="detail_quotes.html">Nombre documento</a></td>
                                    <td>23/11/2015</td>
                                    <td>
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                                                data-original-title="Edit document"><i class="fa ic-edit"></i></button>
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                                                data-original-title="Delete document"><i class="fa ic-trash"></i>
                                        </button>
                                    </td>

                                </tr>
                                <tr class="even gradeX">
                                    <td><a href="detail_quotes.html">Nombre documento</a></td>
                                    <td>23/11/2015</td>
                                    <td>
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                                                data-original-title="Edit document"><i class="fa ic-edit"></i></button>
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                                                data-original-title="Delete document"><i class="fa ic-trash"></i>
                                        </button>
                                    </td>

                                </tr>
                                <tr class="odd gradeX">
                                    <td><a href="detail_quotes.html">Nombre documento</a></td>
                                    <td>23/11/2015</td>
                                    <td>
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                                                data-original-title="Edit document"><i class="fa ic-edit"></i></button>
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                                                data-original-title="Delete document"><i class="fa ic-trash"></i>
                                        </button>
                                    </td>

                                </tr>
                                <tr class="even gradeX">
                                    <td><a href="detail_quotes.html">Nombre documento</a></td>
                                    <td>23/11/2015</td>
                                    <td>
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                                                data-original-title="Edit document"><i class="fa ic-edit"></i></button>
                                        <button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" title=""
                                                data-original-title="Delete document"><i class="fa ic-trash"></i>
                                        </button>
                                    </td>

                                </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <!-- end documents panel -->
            <!-- end documents -->
        </div>
        <!-- end row -->
    </div>
</div>