<ng-include src="'app/modules/saleAnalytics/header.html'"></ng-include>


<!-- begin filters -->
<ng-include src="'app/modules/saleAnalytics/filters/analyticsFilter.html'"></ng-include>
<!-- end filters-->

<!--
<div class="row">
    <div class="col-md-12">
        Widget Administration Button
        <button type="button" class="btn btn-default btn-xs pull-right btn-widget-administration"
                ng-click="fn.toggleWidgetAdministration()">
            <i class="ic-settings"></i>
            {{'Filters.Widget.Administration' | i18next}}
        </button>
    </div>
</div>
<div class="clearfix"></div>

WidgetAdministration
<ng-include src="'app/modules/saleAnalytics/widgetAdministration/widgetAdmin.html'"></ng-include>
-->

<div class="row m-t-20">
    <ng-include src="'app/modules/saleAnalytics/base/noWidgetAlert.html'"></ng-include>
    <div class="widgets-container"
         as-sortable
         widget-dropped="fn.onWidgetDropped($ui, $widget)">
        <div ng-repeat="widget in widgets"
             class="col-md-{{widget.position.size}} widget-container"
             data-widgetid="widget-{{widget.widgetId}}"
             ng-class="{'hidden': !widget.isActive}"
             as-sortable-item sortable-widget="widget">
            <ng-include src="widget.template"></ng-include>
        </div>
    </div>
</div>