html,
body {
  height: 100%;
}
.columnFields {
  margin: 15px 15px 0 0;
}
.ownersDropdown {
  padding: 10px;
}
.ownersDropdown li {
  padding: 5px;
}
.ownersDropdown li:hover {
  cursor: pointer;
}
.searchInput {
  margin: 0 15px 15px 0;
}
.filterTable td {
  padding: 5px;
}
.filterNone {
  background: url('/node_modules/datatables/media/images/sort_both.png') no-repeat right;
}
.filterAsc {
  background: url('/node_modules/datatables/media/images/sort_asc.png') no-repeat right;
}
.table > thead > tr > th.filterAsc,
.table > thead > tr > th.filterDesc {
  background-color: #ed8b00;
  color: #ffffff;
}
table.dataTable {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
.filterDesc {
  background: url('/node_modules/datatables/media/images/sort_desc.png') no-repeat right;
}
.noHover,
.noHover:hover {
  background: initial !important;
  cursor: default !important;
}
label.block {
  display: block;
}
.dropzone {
  height: 50px !important;
  border: dashed 1px #CDCDCD;
  margin-bottom: 20px;
  clear: both;
}
.flot-tooltip.animation {
  display: initial !important;
}
ul[datepicker-popup-wrap] {
  position: fixed;
  z-index: 65535;
  float: none;
}
.dropdown-menu > li > a {
  display: initial !important;
}
.filters-div .dropdown-menu.media-list li.media {
  cursor: default;
}
.filters-div .dropdown-menu.media-list li.media:hover {
  background-color: initial !important;
}
td.photo {
  width: 50px;
}
span.removeTextBoxBtn {
  position: absolute;
  float: right;
  right: 25px;
  top: 35px;
}
#map-canvas.map-account {
  height: 400px;
}
.panel.panel-expand > .panel-body.timeline-div {
  height: initial;
}
.panel.panel-loading .panel-body {
  position: initial !important;
}
.panel.panel-loading .panel-loader {
  margin: 40px 10px 20px !important;
}
.timeline-time > .date {
  text-transform: lowercase;
}
.modal-body.create-account {
  height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal-body.create-account.panel.panel-loading {
  overflow-y: hidden;
}
.modal-body.create-account.panel.panel-loading .panel-loader {
  margin: 0 !important;
}
.modal-content .panel-loader {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 65535;
  background: rgba(255, 255, 255, 0.6);
}
.validation-invalid {
  color: red;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.well-force-manager {
  padding: 10px;
}
.well-force-manager .row {
  min-height: 70px;
}
@media screen and (min-width: 768px) {
  .well-force-manager > .row > [class^="col-"],
  .well-force-manager > .row > [class*=" col-"] {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  .well-force-manager > .row > [class^="col-"],
  .well-force-manager > .row > [class*=" col-"] {
    font-size: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .well-force-manager > .row > [class^="col-"],
  .well-force-manager > .row > [class*=" col-"] {
    font-size: 11px;
  }
}
.well-force-manager > .row > [class^="col-"] > b,
.well-force-manager > .row > [class*=" col-"] > b {
  font-size: 16px;
}
.btn-padding {
  padding: 10px 30px;
  border-radius: 3px;
}
.filters-div .dynamic-filter {
  line-height: 36px;
  padding-right: 10px;
  margin: 10px 0;
}
.filters-div .dynamic-filter a {
  padding: 5px 9px 5px !important;
}
.filters-div .dynamic-filter a.dropdown-toggle {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #54585a;
}
.datepicker-full-width .datepicker-inline {
  width: 100%;
}
li.string-filter.loading {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}
a[function-getlocation] {
  color: #ed8b00;
}
.form-control {
  height: 36px;
}
.map-info {
  max-width: none;
}
.dataTables_scroll .dataTables_scrollHead {
  padding: 0;
}
.dataTables_scroll .dataTables_scrollHead table {
  margin-bottom: 0 !important;
}
.dataTables_scroll table#data-table {
  margin-top: 0 !important;
}
