html, body {
    height: 100%;
}

.columnFields {
    margin: 15px 15px 0 0;
}

.ownersDropdown {
    padding: 10px;
}

.ownersDropdown li {
    padding: 5px;
}

.ownersDropdown li:hover {
    cursor: pointer;
}

.searchInput {
    margin: 0 15px 15px 0;
}

.filterTable td {
    padding: 5px;
}

.filterNone {
    background: url('plugins/DataTables-1.9.4/img/sort_both.png') no-repeat right;
}

.filterAsc {
    background: url('plugins/DataTables-1.9.4/img/sort_asc.png') no-repeat right;
}

.table > thead > tr > th.filterAsc, .table > thead > tr > th.filterDesc {
    background-color: #ed8b00;
    color: #ffffff;
}

.filterDesc {
    background: url('plugins/DataTables-1.9.4/img/sort_desc.png') no-repeat right;
}

.noHover, .noHover:hover {
    background: initial !important;
    cursor: default !important;
}

label.block {
    display: block;
}

.dropzone {
    height: 50px !important;
    border: dashed 1px #CDCDCD;
    margin-bottom: 20px;
    clear: both;
}

.flot-tooltip.animation {
    display: initial !important;
}

ul[datepicker-popup-wrap] {
    position: fixed;
    z-index: 65535;
    float: none;
}

.dropdown-menu > li > a {
    display: initial !important;
}

.filters-div .dropdown-menu.media-list li.media {
    cursor: default;
}

.filters-div .dropdown-menu.media-list li.media:hover {
    background-color: initial !important;
}

td.photo {
    width: 50px;
}

span.removeTextBoxBtn {
    position: absolute;
    float: right;
    right: 25px;
    top: 35px;
}

#map-canvas.map-account {
    height: 400px;
}

.dataTables_info, #data-table_filter {
    display: none;
}