#header-web2 {
    background-color: #54585a;
}

#header-web2 .container-fluid {
    padding-right: 20px;
}


/* BRAND */

#header-web2 .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    width: 323px;
    height: 60px;
    line-height: 56px;
    margin-right: 0;
}

#header-web2 .navbar-brand img {
    width: 285px;
}


/*
-----------------------------
MENU ITEMS
-----------------------------
*/

#header-web2 ul.navbar-nav.section-nav li a i {
    line-height: normal;
}

#header-web2 ul.navbar-nav.section-nav li a {
    font-size: 24px;
    padding: 0!important;
    padding-top: 10px;
    text-align: center;
    color: #fff;

    display: inline-block;
    width: 54px;
    height: 60px;
    line-height: 60px;
}

#header-web2 ul.navbar-nav.section-nav li a:hover {
    background-color: #666869;
}

#header-web2 ul.navbar-nav.section-nav li.active a {
    background-color: #ED8B00;
}



/*
-----------------------------
RIGHT MENU ITEMS
-----------------------------
*/

#header-web2 ul.navbar-nav.user-section-nav li a {
    display: inline-block;
    height: 60px;
    line-height: 60px;

    font-size: 24px;
    padding: 0!important;
    padding-top: 10px;
    text-align: center;
    color: #fff;
}


/* PROFILE DROPDOWN */

#header-web2 .profile-meu-dropdown a[data-toggle]:hover {
    background-color: transparent;
}
#header-web2 .profile-meu-dropdown .profile-pic {
    float: left;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background: #FFF;
    border: none;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
    overflow: hidden;
}
#header-web2 .profile-meu-dropdown .profile-pic img {
    vertical-align: top;
}
#header-web2 .profile-meu-dropdown .caret {
    margin-top: -6px;
    border-top-color: #CCC;
    border-bottom-color: #CCC;
}
#header-web2 .profile-meu-dropdown .dropdown-menu {
    left: auto;
    right: 0;
    top: 50px;

    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#header-web2 .profile-meu-dropdown .dropdown-menu a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;

    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
#header-web2 .profile-meu-dropdown .dropdown-menu a:hover {
    background-color: transparent;
}
#header-web2 .profile-meu-dropdown .dropdown-menu .divider {
    margin-left: -20px;
    margin-right: -20px;
}
#header-web2 .profile-meu-dropdown .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: auto;
    right: 12px;
}


/* NOTIFICATIONS MENU ITEM */

#header-web2 .nav>li.user-notifications {
    width: 60px;
    margin-left: 30px;
}
#header-web2 .nav>li.user-notifications {
    width: 60px;
    margin-left: 30px;
}
#header-web2 .nav>li.user-notifications>a>.badge {
    position: absolute;
    display: inline-block;
    font-size: 11.8400001525879px;

    background-color: #f08d00;
    top: 7px;
    left: 10px;

    padding: 1px 9px 2px;
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;

    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

#header-web2 .icon-alert-notify {
    position: relative;
    display: inline-block;
    background-image: url(https://fmassets.s3-eu-west-1.amazonaws.com/pro/2127/img/icon_alert.png);
    background-position: -21px 0;
    height: 24px;
    margin-top: 18px;
    width: 20px;
}


/* AGENDA MENU ITEM */

#header-web2 .nav>li.agenda-notifications {
    margin-left: 10px;
    padding: 0;
    line-height: 60px;
    font-weight: 400;
    white-space: nowrap;
}
#header-web2 .nav>li.agenda-notifications .icon-agenda-notify {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://fmassets.s3-eu-west-1.amazonaws.com/pro/2127/img/icon_agenda.png) no-repeat;
    line-height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

#header-web2 .nav>li.agenda-notifications #events-top-menu {
    position: relative;
    display: inline-block;
    height: 44px;
    vertical-align: middle;
}
#header-web2 .nav>li.agenda-notifications #events-top-menu a {
    height: inherit;
    line-height: normal;
}
#header-web2 .nav>li.agenda-notifications span.notification {
    color: #f08d00;
    text-align: left;
    font-size: 13px;
    line-height: 16.8999996185303px;
}