<widget-wrapper body-class="graph-chart"
                title="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">

    <!-- TOOLBAR -->
    <div class="row" ng-init="fn.init()">

        <div class="col-xs-12 col-md-4 m-b-20">
            <!-- FILTERS dropdown -->
            <select class="form-control"
                    ng-change="fn.changeFilter(selectedFilter)"
                    ng-model="selectedFilter">
                <option value="{{filter.key}}"
                        ng-repeat="filter in filters">{{filter.name}}
                </option>
            </select>
        </div>


        <div class="col-xs-12 col-md-8 m-b-20">
            <!-- DATE RANGE buttonbar -->
            <div class="btn-group pull-right">
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='hour'}"
                        ng-click="fn.changeFilterRange('hour')">
                    {{'LineWidget.Filters.Hour' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='date'}"
                        ng-click="fn.changeFilterRange('date')">
                    {{'LineWidget.Filters.Date' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='week'}"
                        ng-click="fn.changeFilterRange('week')">
                    {{'LineWidget.Filters.Week' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='month'}"
                        ng-click="fn.changeFilterRange('month')">
                    {{'LineWidget.Filters.Month' | i18next}}
                </button>
            </div>
            <div class="pull-right" style="width:15px;height:10px;"></div>
            <!-- FIELDS buttonbar -->
            <div class="btn-group pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
                        {{'LineWidget.Filters.ShowFields' | i18next}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="field in availableFields">
                            <a class="small" data-value="{{field.name}}" tabIndex="-1" ng-click="fn.toggleDisplayField(field.name) ? null : $event.preventDefault()">
                                <span class="glyphicon" style="color:#666666;" ng-class="{'glyphicon-check':field.isDisplaying, 'glyphicon-unchecked':!field.isDisplaying}"></span>
                                &nbsp;{{field.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-white btn-sm p-t-5 p-b-5"
                            ng-click="fn.switchToLine()"
                            ng-disabled="selectedRangeOption=='hour'"
                            ng-class="{'active': currentChartType=='line'}"
                            ng-i18next="[title]lineChart">
                        <img src="assets/img/graph-1.png" ng-style="{'opacity': (selectedRangeOption=='hour' ? 0.2 : 1) }">
                    </button>
                    <button class="btn btn-white btn-sm p-t-5 p-b-5"
                            ng-click="fn.switchToFilled()"
                            ng-disabled="selectedRangeOption=='hour'"
                            ng-class="{'active': currentChartType=='filled'}"
                            ng-i18next="[title]areaChart">
                        <img src="assets/img/graph-2.png" ng-style="{'opacity': (selectedRangeOption=='hour' ? 0.2 : 1) }">
                    </button>
                </div>
            </div>
        </div>

    </div>
    <!-- END TOOLBAR -->


    <div class="row" ng-hide="data.serverError || data.noData">
        <div class="col-xs-12">
            <div class="chart-place-holder height-sm"></div>
        </div>
    </div>

    <div class="row" ng-if="data.noData">
        <div class="col-xs-12">
            <div class="height-sm">
                <div class="alert alert-warning" role="alert">{{'commonText.NoDataToDisplay' | i18next}}</div>
            </div>
        </div>
    </div>

    <ng-include
        src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
        ng-if="data.serverError===true">
    </ng-include>


    <!--<div class="row">
        <div class="col-xs-12 m-t-10">
        <span class="container-popover">
            <span class="btn btn-white btn-lg m-r-10 m-t-10 noHover">
                <strong>324</strong>
                <small>
                    {{'LineWidget.TotalVisits' | i18next}}
                </small>
            </span>
        </span>

        <span class="btn btn-white btn-lg m-r-10 m-t-10 noHover">
            <strong>58,9 </strong>
            <small>{{'LineWidget.VisitsPerDay' | i18next}}</small>
        </span>
        <span class="btn btn-white btn-lg m-r-10 m-t-10 noHover">
            <strong>5,7</strong>
            <small>{{'LineWidget.VisitsPerUserPerDay' | i18next}}</small>
        </span>
        </div>
    </div>-->
</widget-wrapper>