<widget-wrapper body-class="graph-chart"
                wtitle="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">

    <!-- TOOLBAR -->
    <div class="row" ng-init="fn.init()">

        <div class="col-xs-12 col-md-4 m-b-20">
            <!-- FILTERS dropdown -->
            <select class="form-control"
                    ng-change="fn.changeFilter(selectedFilter)"
                    ng-model="selectedFilter">
                <option value="{{filter.key}}"
                        ng-repeat="filter in filters">{{filter.name}}
                </option>
            </select>
        </div>


        <div class="col-xs-12 col-md-8 m-b-20">

            <!-- DATE RANGE buttonbar -->
            <div class="btn-group pull-right">
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='date'}"
                        ng-click="fn.changeFilterRange('date')">
                    {{'LineWidget.Filters.Date' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='week'}"
                        ng-click="fn.changeFilterRange('week')">
                    {{'LineWidget.Filters.Week' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='month'}"
                        ng-click="fn.changeFilterRange('month')">
                    {{'LineWidget.Filters.Month' | i18next}}
                </button>
            </div>

            <div class="pull-right" style="width:15px;height:10px;"></div>

            <div class="btn-group pull-right"
                 ng-show="selectedFilter !== 'orders' && selectedFilter !== 'quotes' && selectedFilter !== 'opportunities'">
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='hour'}"
                        ng-click="fn.changeFilterRange('hour')">
                    {{'LineWidget.Filters.Hour' | i18next}}
                </button>
            </div>

            <div class="pull-right" style="width:15px;height:10px;"></div>

            <!-- FIELDS buttonbar -->
            <div class="btn-group pull-right"
                 ng-show="selectedRangeOption !== 'hour' && availableFields.length > 1">
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToLine()"
                        ng-class="{'active': currentChartType=='line'}"
                        ng-i18next="[title]lineChart">
                    <img src="assets/img/line.png" style="width: 24px; height: 24px;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToFilled()"
                        ng-class="{'active': currentChartType=='filled'}"
                        ng-i18next="[title]areaChart">
                    <img src="assets/img/area.png" style="width: 24px; height: 24px;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToFilled100()"
                        ng-class="{'active': currentChartType=='filled100'}"
                        ng-i18next="[title]areaChartPercent">
                    <img src="assets/img/area-percent.png" style="width: 24px; height: 24px;">
                </button>
            </div>

        </div>
    </div>
    <!-- END TOOLBAR -->


    <div class="row" ng-hide="data.serverError || data.noData">
        <div class="col-xs-10">
            <div class="chart-place-holder height-sm"></div>
        </div>
        <div class="col-xs-2 height-sm" style="overflow-y: auto;">
            <ul style="list-style:none;padding:0;margin:0;">
                <li
                    style="padding-left:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;"
                    ng-repeat="field in availableFields"
                    ng-style="{'color':field.color}">
                    <a
                        ng-click="fn.toggleDisplayField(field.name)"
                        ng-mouseover="fn.serieRollOver(field, $index)"
                        ng-style="{'color':field.color}"
                        ng-attr-title="{{ field.name }}">
                        <span
                            class="glyphicon"
                            ng-class="{'glyphicon-check':field.isDisplaying, 'glyphicon-unchecked':!field.isDisplaying}">
                        </span>
                        &nbsp;{{field.name}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 m-t-10 p-l-20 p-r-20">
            <div class="well" ng-if="selectedFilter=='visits'">En Visitas estarán incluidas todas las gestiones geolocalizadas.</div>
            <div class="well" ng-if="selectedFilter=='phoneCallsTime'">En el tiempo de llamada están incluidas las llamadas entrantes y salientes del usuario.</div>
            <div class="well" ng-if="selectedFilter=='emails'">En emails estarán incluidos todos los correos, tanto enviados como recibido.</div>
            <div class="well" ng-if="selectedFilter=='activities'">En Actividad verás todas las gestiones no geolocalizadas: comentarios de llamadas telefónicas, comentarios de una reunión...</div>
            <div class="well" ng-if="selectedFilter=='activityScores'">Índice de actividad muestra cómo ha evolucionado la actividad de los usuarios durante el período establecido. Incluye la interacción que ha tenido el usuario en las últimas semanas: llamadas, check-in, correos.... Recuerda que, en ForceManager, cada actividad puede tener un peso según la importancia que tiene esa actividad para la empresa. Siempre tendrá más peso el nivel de actividad que el usuario ha tenido durante las últimas semanas, pero también se tiene en cuenta la inercia del usuario en los últimos meses, por tal de conseguir datos lo más reales posibles.</div>
            <div class="well" ng-if="selectedFilter=='users'"></div>
            <div class="well" ng-if="selectedFilter=='orders'">Nuevos pedidos creados por los usuarios seleccionados dentro del período establecido.</div>
            <div class="well" ng-if="selectedFilter=='quotes'">Nuevas ofertas creadas por los usuarios seleccionados dentro del período establecido.</div>
            <div class="well" ng-if="selectedFilter=='opportunities'">Nuevas oportunidades creadas por los usuarios seleccionados dentro del período establecido.</div>
        </div>

    </div>


    <div class="row" ng-if="data.noData">
        <div class="col-xs-12">
            <div class="height-sm">
                <div class="alert alert-warning" role="alert">
                    {{'commonText.NoDataToDisplay' | i18next}}
                    <button class="btn btn-outline m-l-10" ng-click="fn.reloadPanel()"><i class="fa fa-refresh"></i> {{'commonText.Refresh' | i18next}}</button>
                </div>
            </div>
        </div>
    </div>

    <ng-include
        src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
        ng-if="data.serverError===true">
    </ng-include>

</widget-wrapper>