<widget-wrapper body-class="graph-chart"
                wtitle="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">

    <!-- TOOLBAR -->
    <div class="row" ng-init="fn.init()">

        <div class="col-xs-12 col-md-4 m-b-20">
            <!-- FILTERS dropdown -->
            <select class="form-control"
                    ng-change="fn.changeFilter(selectedFilter)"
                    ng-model="selectedFilter">
                <option value="{{filter.key}}"
                        ng-repeat="filter in filters">{{filter.name}}
                </option>
            </select>
        </div>


        <div class="col-xs-12 col-md-8 m-b-20">

            <!-- DATE RANGE buttonbar -->
            <div class="btn-group pull-right">
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='date'}"
                        ng-click="fn.changeFilterRange('date')">
                    {{'LineWidget.Filters.Date' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='week'}"
                        ng-click="fn.changeFilterRange('week')">
                    {{'LineWidget.Filters.Week' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='month'}"
                        ng-click="fn.changeFilterRange('month')">
                    {{'LineWidget.Filters.Month' | i18next}}
                </button>
            </div>

            <div class="pull-right" style="width:15px;height:10px;"></div>

            <div class="btn-group pull-right"
                 ng-show="selectedFilter !== 'orders' && selectedFilter !== 'quotes' && selectedFilter !== 'opportunities'">
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='hour'}"
                        ng-click="fn.changeFilterRange('hour')">
                    {{'LineWidget.Filters.Hour' | i18next}}
                </button>
            </div>

            <div class="pull-right" style="width:15px;height:10px;"></div>

            <div class="btn-group pull-right" ng-show="availableFields.length > 1">
                <button type="button" class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
                    {{'LineWidget.Filters.ShowFields' | i18next}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="height:auto;max-height:180px;overflow-x: hidden;">
                    <li ng-repeat="field in availableFields">
                        <a class="small" data-value="{{field.name}}" tabIndex="-1" ng-click="fn.toggleDisplayField(field.name) ? null : $event.preventDefault()">
                            <span class="glyphicon" style="color:#666666;" ng-class="{'glyphicon-check':field.isDisplaying, 'glyphicon-unchecked':!field.isDisplaying}"></span>
                            &nbsp;{{field.name}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="pull-right" style="width:15px;height:10px;"></div>

            <!-- FIELDS buttonbar -->
            <div class="btn-group pull-right"
                 ng-show="selectedRangeOption !== 'hour' && availableFields.length > 1">
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToLine()"
                        ng-class="{'active': currentChartType=='line'}"
                        ng-i18next="[title]lineChart">
                    <img src="assets/img/line.png" style="width: 24px; height: 24px; opacity: 0.5;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToFilled()"
                        ng-class="{'active': currentChartType=='filled'}"
                        ng-i18next="[title]areaChart">
                    <img src="assets/img/area.png" style="width: 24px; height: 24px; opacity: 0.5;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToFilled100()"
                        ng-class="{'active': currentChartType=='filled100'}"
                        ng-i18next="[title]areaChartPercent">
                    <img src="assets/img/area-percent.png" style="width: 24px; height: 24px; opacity: 0.5;">
                </button>
            </div>

        </div>
    </div>
    <!-- END TOOLBAR -->


    <div class="row" ng-hide="data.serverError || data.noData">
        <div class="col-xs-12">
            <div class="chart-place-holder height-sm"></div>
        </div>
    </div>

    <div class="row" ng-if="data.noData">
        <div class="col-xs-12">
            <div class="height-sm">
                <div class="alert alert-warning" role="alert">
                    {{'commonText.NoDataToDisplay' | i18next}}
                    <button class="btn btn-outline m-l-10" ng-click="fn.reloadPanel()"><i class="fa fa-refresh"></i> {{'commonText.Refresh' | i18next}}</button>
                </div>
            </div>
        </div>
    </div>

    <ng-include
        src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
        ng-if="data.serverError===true">
    </ng-include>

</widget-wrapper>