<ng-include src="'app/modules/saleAnalytics/header.html?v='+cacheBuster" ng-show="i18nextLanguageReady===true"></ng-include>

<div class="row marketplace-container m-t-20" ng-show="i18nextLanguageReady===true">

  <div class="list-group col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        {{ data.selectedFilter.name }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="filter in data.filters">
          <a ng-click="fn.filterWidgetsByCategory(filter)">
            {{ filter.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="list-group col-md-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>

</div>

<div class="panel-loader" ng-show="!i18nextLanguageReady">
    <span class="spinner-small"></span>
</div>
