<ng-include
  src="'app/modules/saleAnalytics/header.html?v='+cacheBuster"
  ng-show="i18nextLanguageReady===true">
</ng-include>

<div
  class="marketplace-container m-t-20"
  ng-show="i18nextLanguageReady===true">

  <!-- Header -->
  <div class="row">

    <!-- Header - search box -->
    <div class="col-sm-4">
      <div class="search-box input-group">
        <input type="text"
          class="form-control"
          ng-model="data.searchFieldValue"
          ng-keydown="fn.searchWidgetByKeywords(data.searchFieldValue, $event.which === 13)">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="fn.searchWidgetByKeywords(data.searchFieldValue, true)">
            <i class="fa ic-search"></i>
          </button>
        </span>
      </div>
    </div>

    <!-- Header - dropdown -->
    <div class="col-sm-2 pull-right">
      <div class="dropdown">
        <button
          class="btn btn-default dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          style="width:100%; text-align: left;">
          {{ data.selectedFilter.name }}
          <span class="caret" style="position: absolute;right: 10px;top: 15px;"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="filter in data.filters">
            <a ng-click="fn.filterWidgetsByCategory(filter)">
              {{ filter.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- End Header -->



  <!-- Widget list -->
  <div class="row marketplace-widget-list">

    <!-- row -->
    <div class="col-xs-12 m-t-10 marketplace-widget-list-row"
      ng-repeat="widget in data.widgets"
      ng-class="{ active: data.selectedWidget === widget, uninstalled: widget.visible === false }"
      ng-click="fn.selectWidget(widget)">

      <!-- Overview -->
      <div
        class="col-xs-12 marketplace-widget-list-row-overview"
        ng-hide="data.selectedWidget === widget">
        <div class="col-xs-3"
          style="height: 150px;background-size: contain; background-position: 50%; background-repeat: no-repeat;"
          ng-style="{'background-image': 'url('+ widget.images[0].url +')'}">
        </div>
        <div class="col-xs-9">
          <h3>{{ widget.name }}</h3>
          <span class="label label-default">{{ widget.categoryLabel }}</span>
          <p class="m-t-10">
            {{ widget.description | limitTo:250 }}{{widget.description.length > 250 ? '...' : ''}}
          </p>
        </div>
      </div>

      <!-- Detail -->
      <div
        class="col-xs-12 marketplace-widget-list-row-detail"
        ng-show="data.selectedWidget === widget"
        ng-click="fn.unselectCurrentWidget();$event.stopImmediatePropagation();">
        <div class="col-xs-6" style="min-height: 350px;" ng-click="$event.stopImmediatePropagation();">
          <carousel interval="2000">
            <slide ng-repeat="slide in widget.images" active="slide.active">
              <!-- <img ng-src="{{ slide.url }}" class="img-responsive"> -->
              <div class="item-image" ng-style="{ 'background-image': 'url('+ slide.url +')' }"></div>
            </slide>
          </carousel>
        </div>
        <div class="col-xs-6">
          <h3>{{ widget.name }}</h3>
          <span class="label label-default">{{ widget.categoryLabel }}</span>
          <p class="m-t-10" ng-click="$event.stopImmediatePropagation();">
            {{ widget.description }}
          </p>
        </div>
        <!--<button
          type="button"
          class="close"
          data-dismiss="alert"
          ng-click="fn.unselectCurrentWidget();$event.stopImmediatePropagation();">
          <span>&times;</span>
        </button>-->
      </div>

      <button class="btn btn-default widget-install-button" type="button" ng-click="fn.uninstallWidget(widget);$event.stopImmediatePropagation();" ng-if="widget.visible">
        {{'Marketplace.uninstallWidget' | i18next}}
      </button>
      <button class="btn btn-default widget-install-button" type="button" ng-click="fn.installWidget(widget);$event.stopImmediatePropagation();" ng-if="!widget.visible">
        {{'Marketplace.installWidget' | i18next}}
      </button>

    </div><!-- En row -->

  </div><!-- End Widget list -->

</div><!-- End marketplace-container -->


<!-- Loading spinner -->
<div class="modal show" style="background-color: #f8f8f8; opacity: 0.5;" ng-show="!i18nextLanguageReady || data.loading">
    <span class="spinner-small"></span>
</div>
