.marketplace-container {

  .marketplace-widget-list {
    & > .marketplace-widget-list-row {
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &.active {
        min-height: 200px;
        background-color: rgba(0, 0, 0, 0.2);
      }
      .marketplace-widget-list-row-detail {
        .close {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
  }

}
