.marketplace-container {

  .marketplace-widget-list {
    margin: 0;

    & > .marketplace-widget-list-row {
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &.active {
        min-height: 200px;
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.uninstalled {
        background-color: rgba(0, 0, 0, 0.1);
        .marketplace-widget-list-row-overview {
          opacity: 0.3;
        }
      }

      .marketplace-widget-list-row-detail {
        .close {
          position: absolute;
          right: -18px;
          top: -22px;
          background-color: red;
          border-radius: 20px;
          width: 40px;
          height: 40px;
          opacity: .5;
        }
      }

      .widget-install-button {
        position: absolute;
        right: 15px;
        top: 15px;
      }

    }// End row
  }

}
