.marketplace-container {

  .marketplace-panel {
    background-color: #FFF;

    .marketplace-panel-header {
      padding-left: 15px;
      background-color: #54585a;
      line-height: 40px;
      margin: 0;
      color: #FFF;
      text-transform: uppercase;
    }
  }

  .marketplace-widget-list {
    margin: 0;

    & > .marketplace-widget-list-row {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eaeaea;
      border-left: 1px solid #FFF;
      border-right: 1px solid #FFF;

      .label.label-default {
        background-color: #989B9C;
        color: #FFF;
        font-size: 13px;
      }

      .title {
        color: #216DB3;
        font-size: 18px;
      }

      &:hover {
        background-color: #F8F8F8;
        cursor: pointer;
      }

      &.active {
        min-height: 200px;
        background-color: #F8F8F8;
      }

      .widget-install-button {
        background-color: #f2dede;
      }

      &.uninstalled {
        .marketplace-widget-list-row-overview {
          //opacity: 0.5;
        }
        .widget-install-button {
          background-color: #dff0d8;
        }
      }

      .marketplace-widget-list-row-detail {
        .close {
          position: absolute;
          right: -18px;
          top: -22px;
          background-color: red;
          border-radius: 20px;
          width: 40px;
          height: 40px;
          opacity: .5;
        }

        .carousel {
          .item {
            background-color: initial;
            div.item-image {
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          .carousel-control {
            background-image: none;
            display: none;
          }
        }
      }

      .widget-install-button {
        position: absolute;
        right: 15px;
        top: 15px;
      }

    }// End row
  }

}
