<accordion-group ng-repeat="item in treeList"
                 is-open="item.isOpen" is-disabled="!item.children"
                 class="clearfix accordion-tree-group accordion-heading-level-{{treeLevel}}"
                 ng-class="{'highlight' : item.selected}"
        >
    <accordion-heading class="clearfix">
        <div class="item-container accordion-level-{{treeLevel}}">

            <div class="item-box">

                <i ng-if="item.children && item.children.length > 0" class="pull-left fa environment-collapse-icon"
                   ng-class="{'fa-caret-down': item.isOpen, 'fa-caret-right': !item.isOpen}"></i>

                <i class="pull-left m-t-2 m-r-10 folder fa"
                   ng-class="{'fa-folder-o m-l-10': item.children, 'fa-folder-open-o': item.isOpen}"
                        ></i>

                <div class="m-l-10" ng-if="item.children">
                    <strong>{{item.Name}}</strong>
                </div>

                {{pageType}}
                <report-item report="item" ng-if="!item.children"></report-item>
            </div>
        </div>
    </accordion-heading>

    <accordion>
        <div tree-directory="item.children" tree-level="treeLevel+1"></div>
    </accordion>
</accordion-group>
