<accordion-group ng-repeat="item in treeList"
                 is-open="item.isOpen" is-disabled="!item.children"
                 class="clearfix accordion-tree-group">
    <accordion-heading class="clearfix">

        <div class="item-container">

            <div class="item-box col-xs-8" ng-class="{'checked': item.checked}">

                <i ng-if="item.children && item.children.length > 0" class="pull-left fa environment-collapse-icon"
                   ng-class="{'fa-caret-down': item.isOpen, 'fa-caret-right': !item.isOpen}"></i>

                <i class="pull-left m-t-2 m-r-10"
                   ng-class="{'fa fa-star  m-l-10': item.children && item.idParent == -1,
                    'fa fa-bookmark m-l-10': item.children && item.idParent !== -1,
                    'glyphicon glyphicon-user m-l-25': !item.children}"
                        ></i>

                <div class="m-l-10" ng-click="toggleNode(item);">
                    <strong>{{item.name}}</strong>
                    <span ng-show="item.checked" class="pull-right fa ic-close m-r-10"></span>
                </div>
            </div>

            <div class="select-box text-center pull-right" ng-if="multipleSelection">
                <a ng-if="item.children && item.children.length"
                   href="#" class="clearfix"
                   ng-click="toggleSelectGroupItems(item, $event)"
                   ng-class="{'checked': item.checked}"
                        >
                    SELECT TEAM
                    <span ng-show="item.checked" class="pull-right fa ic-close m-l-5"></span>
                </a>
            </div>

        </div>
    </accordion-heading>

    <accordion>
        <div tree-list="item.children" multiple-selection="multipleSelection"></div>
    </accordion>
</accordion-group>
