/*
--------------------------
 REPORTS
--------------------------
*/

.sale-analytics-reports {

  border: 1px solid #54585a;

  ul.nav.nav-tabs {
    background: #54585a;
    text-transform: uppercase;
    border-radius: 0;

    > li {
      border-bottom: 1px solid #54585a;
      > a {
        color: #fff !important;
        border-radius: 0;
      }
      &.active, :hover {
        background: #aeaeae;
        > a {
          background: #aeaeae;
        }
      }
    }
  }

  .tab-content {
    margin-bottom: 0 !important;
    padding: 20px;
  }
}