/*
--------------------------
 REPORTS
--------------------------
*/

@force_report_dark_grey: #54585a;

@force_report_light_grey: rgba(0, 0, 0, .1);

@force_report_light_blue: #F0F3F5;

@force_report_medium_grey: rgba(0, 0, 0, .5);

@white: #FFF;

.report-filter {
  padding-top: 10px;
  padding-left: 20px;
  .removeTextBoxBtn {
    right: 50px;
    top: 11px;
    z-index: 10;
  }
}

.sale-analytics-reports {

  .panel {
    position: relative;
    &.panel-loading .panel-loader {
      margin: 0 !important;
      z-index: 999;
    }
  }

  .favourite-icon {
    font-size: 1.2em;
    margin-right: 8px;
  }

  border: 1px solid @force_report_dark_grey;

  ul.nav.nav-tabs {
    background: @force_report_dark_grey;
    text-transform: uppercase;
    border-radius: 0;

    > li {
      border-bottom: 1px solid @force_report_dark_grey;
      > a {
        margin: 0;
        color: @white !important;
        border-radius: 0;
      }
      &.active, :hover {
        background: #aeaeae;
        > a {
          background: #aeaeae;
        }
      }
    }
  }

  .all-report, .favourite-report, .search-report {
    border: 1px solid @force_report_light_grey;
  }

  .tab-content {
    margin-bottom: 0 !important;
    padding: 20px;
  }

  .panel-body {
    padding: 0 !important;
  }

  .all-report {

    .report-directory {

      > div.panel-group > div > div > div.panel-heading {
        border-top: 0;
        border-bottom: 1px solid @force_report_light_grey;
        background: @white;

        &:hover {
          background: #fff;
        }
      }

      .panel {
        margin-top: 0;
      }

      div.panel {

        &.highlight {
          .panel-heading {
            background: #FFFAF0 !important;
          }
        }

        .panel-heading {
          border-top: 1px solid @force_report_light_grey;
          padding: 2px;
          background: @force_report_light_blue;
          text-transform: none !important;

          &:hover {
            background: #fff;
          }
          .item-box {
            font-size: 1.1em;
            > i {
              padding-top: 15px;
              font-size: 1.6em;
              &.folder {
                color: @force_report_medium_grey
              }
            }

            > div {
              font-size: 1.1em;
              padding-top: 20px;
            }

            .report-item {
              padding-top: 10px;
              padding-bottom: 0;

              > .row {
                padding-bottom: 0;
              }

              .action-form {
                padding-top: 10px;
                padding-right: 30px;
              }
            }

          }

          h5, .panel-title {
            text-transform: none !important;
          }

          a {
            color: rgba(0, 0, 0, .8);
            div {
              padding: 2px 0 4px 0;

              &.inline {
                padding: 0 !important;
                p {
                  margin-bottom: 3px;
                }
              }

              &.form-inline {
                padding-bottom: 0 !important;
              }

            }

            &.accordion-toggle {
              overflow: hidden;
              margin-bottom: 0 !important;
              padding: 0 20px;
            }
          }
        }
      }

      .panel-body {
        ul {
          padding: 4px 0 8px 15px;
          background-color: rgba(0, 0, 0, .05);
        }
      }

      .panel-collapse {
        margin-top: -3px;
      }

      .panel-group {
        background: @white !important;
        margin-bottom: 0 !important;

        .panel-heading {
          .btn-group .btn {
            margin-top: 0;
          }
        }
      }

    }
  }

  .favourite-report, .search-report {

    div.report-item-box {
      padding: 5px 20px;
      border-bottom: 1px solid @force_report_light_grey;
      &.panel {
        margin-bottom: 0;
      }
      &:nth-child(even) {
        background: @force_report_light_blue;
      }

    }
  }

  i.bullet {

    + h5 {
      cursor: pointer;
    }
  }

  .panel-heading a div, div {

    h5 {
      margin-bottom: 2px;
    }

    .inline {
      &.button-group {
        margin: 0;
      }
    }

    .name-form, .description-form {
      .help {
        font-size: .85em;
        padding-left: 4px;
        &.help-danger {
          color: #FF0000;
        }
      }
      padding-left: 30px !important;
    }

    .name-form {
      i.bullet {
        margin-left: -32px;
        margin-top: 10px;
        margin-right: 15px;
        font-size: 1.1em;
        color: @force_report_medium_grey;

        &.favourite, &:hover {
          color: #ED8B00 !important;
        }

      }
    }
  }

  input.inline {
    width: 75%;
  }

  .inline {
    margin: 3px;
    display: inline-block;

    &:not(input) {
      padding: 0;
    }

  }

  .name-form, .description-form {
    .edit-btn:not(.ng-hide) {
      display: none;
    }
    &:hover {
      .edit-btn:not(.ng-hide) {
        display: block;
        margin: 5px 0 0 15px;
        padding: 0 0 0 15px;
        color: rgba(0, 0, 0, .5);
      }
    }
  }

  .name-form {
    :hover {
      .edit-btn:not(.ng-hide) {
        //margin: 5px 0 0;
      }
    }
  }
  .description-form {

    .edit-btn {
      margin-top: 0 !important;
      padding-top: 0;
    }

    padding-bottom: 0 !important;
    > p {
      margin-bottom: 2px !important;
    }
    :hover {
      .edit-btn:not(.ng-hide) {
        margin-top: 0 !important;
        padding-top: 0
      }
    }
  }
  .action-form {
    padding-top: 5px;
    padding-right: 0;
  }
}

.createAccordionLevel(@level) when (@level >= 0) {
  .createAccordionLevel((@level - 1));

  .accordion-level-@{level} {
    @value: (25+(25*@level));
    padding-left: ~'@{value}px' !important;
  }
}

.createAccordionLevel(5);

.ui-autocomplete {
  z-index: 10000;
  li.ui-menu-item {
    padding: 5px 10px;
    &.ui-state-focus {
      background: @force_report_light_grey;
      border: none;
    }
  }
}