<div class="panel-loader" ng-show="data.isPosting">
    <span class="spinner-small"></span>
</div>
<div>
    <div class="padding_box">
        <div class="pull-right">
            <button class="btn btn-default p-r-30 p-l-30 p-t-15 p-b-15"
                    ng-disabled="data.isPosting" ng-click="fn.closeDialog()">
                {{'commonText.Cancel' | i18next}}
            </button>
            <button class="btn btn-primary p-r-30 p-l-30 p-t-15 p-b-15"
                    ng-disabled="!fn.isValid('CreateAccount') || data.isPosting"
                    ng-click="fn.saveAccount()">
                {{'commonText.Save' | i18next}}
            </button>
        </div>
    </div>
    <h4 class="modal-title">{{'Account.EditAccount' | i18next}}
    </h4>
</div>
</hr>
<div class="form-horizontal create-account panel form-content" ng-init="fn.init()">
    <form name="CreateAccount" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable"></label>

            <div class="col-md-6 ui-sortable form-img ">
                <img src="{{accountData.avatar || 'assets/img/placeholder.png'}}"
                        />
                <br>
                <button class="btn btn-default btn-sm btn-picture m-t-10 uppercase"
                        ng-file-select="fn.selectFile($files)">
                    Upload account's logo
                </button>
                <span class="spinner-small" ng-show="data.isUploading"></span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateAccount.name.$invalid && CreateAccount.name.$touched }">
            <label class="col-md-3 control-label ui-sortable">Account name</label>

            <div class="col-md-9 ui-sortable">
                <input type="text"
                       class="form-control account_name_box"
                       name="name"
                       required
                       placeholder="Account name *" ng-model="accountData.name">
                <p ng-show="CreateAccount.name.$touched && CreateAccount.name.$error.required"
                   class="help-block">
                    Please enter account name
                </p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateAccount.currentAccountType.$invalid && CreateAccount.currentAccountType.$touched }">
            <label class="col-md-3 control-label ui-sortable">Account type</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control account_type_box"
                        name="currentAccountType"
                        ng-change="fn.updateAccountType(currentAccountType)"
                        required
                        ng-model="currentAccountType"
                        ng-options="option.id as option.name for option in data.availableAccountTypes"
                        >
                    <option value="">Select one *</option>
                    <option ng-repeat="option in data.availableAccountTypes"
                            value="{{option.id}}">
                        {{option.name}}
                    </option>
                </select>

                <p ng-show="CreateAccount.currentAccountType.$touched && CreateAccount.currentAccountType.$error.required"
                   class="help-block">
                    Please select account type
                </p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateAccount.currentAccountEnv.$invalid && CreateAccount.currentAccountEnv.$touched }">
            <label class="col-md-3 control-label ui-sortable">Environment</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control account_env_box"
                        ng-change="fn.updateAccountEnv(currentAccountEnv)"
                        required
                        ng-model="currentAccountEnv"
                        name="currentAccountEnv"
                        ng-options="option.id as option.name for option in data.availableEnvironments">
                    <option value="">Select one *</option>
                    <option ng-repeat="option in data.availableEnvironments"
                            value="{{option.id}}">
                        {{option.name}}
                    </option>
                </select>
                <p ng-show="CreateAccount.currentAccountEnv.$touched && CreateAccount.currentAccountEnv.$error.required"
                   class="help-block">
                    Please select account type
                </p>
            </div>
        </div>
        <div class="form-group"ng-class="{ 'has-error' : CreateAccount.class.$invalid && CreateAccount.class.$touched }">
            <label class="col-md-3 control-label ui-sortable">Segment</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control account_seg_box"
                        name="class"
                        ng-model="accountData.class"
                        required
                        ng-options="class as class for class in accountClass">
                    <option value="">Select one *</option>
                    <option ng-repeat="class in accountClass" value="{{class}}">{{class}}</option>
                </select>
                <p ng-show="CreateAccount.class.$touched && CreateAccount.class.$error.required"
                   class="help-block">
                    Please select account type
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Account owner</label>

            <div class="col-md-6 ui-sortable padding_account_owner">
                <input type="text" ng-model="accountData.responsible.name" class="form-control account_owner_box" placeholder="Mario Rossi">
            </div>
            <div class="col-md-3 ui-sortable btn_add_owner">
                <button class="btn btn-sm btn-default uppercase" type="button">
                    <i class="symb_add_owner fa ic-plus"></i>
                    add owner
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 control-label ui-sortable"></div>
            <div class="col-md-6 ui-sortable padding_account_owner">
                <input type="text" class="form-control account_owner_box" placeholder="Search owner"/>
                <i class="fa ic-search search_owner_icon"></i>
            </div>
            <div class="col-md-1 ui-sortable">
                <i class="fa ic-close ic_close_search_owner"></i>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <h6 class="col-md-3 text-right">Contact details</h6>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateAccount.phoneNumber.$invalid && CreateAccount.phoneNumber.$touched }">
            <label class="col-md-3 control-label ui-sortable">
                Work phone number
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control work_phone_box"
                       name="phoneNumber"
                       ng-pattern="/^[0-9]{7,15}$/"
                       ng-model="accountData.contactInfo.phoneNumber"
                       placeholder="Work phone number" value="">
                <p ng-show="CreateAccount.phoneNumber.$touched && CreateAccount.phoneNumber.$error.pattern"
                   class="help-block">
                    Please enter a valid phone number
                </p>
            </div>

        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateAccount.fax.$invalid && CreateAccount.fax.$touched }">
            <label class="col-md-3 control-label ui-sortable">
                Fax
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control work_phone_box"
                       name="fax"
                       ng-pattern="/^[0-9]*$/"
                       ng-model="accountData.contactInfo.fax"
                       placeholder="Fax" value="">
                <p ng-show="CreateAccount.fax.$touched && CreateAccount.fax.$error.pattern"
                   class="help-block">
                    Please enter a valid fax number
                </p>
            </div>

        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateAccount.mobile.$invalid && CreateAccount.mobile.$touched }">
            <label class="col-md-3 control-label ui-sortable">
                Other phone
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control work_phone_box"
                       name="mobile"
                       ng-pattern="/^[0-9]{7,15}$/"
                       ng-model="accountData.contactInfo.mobile"
                       placeholder="Other phone" value="">
                <p ng-show="CreateAccount.mobile.$touched && CreateAccount.mobile.$error.pattern"
                   class="help-block">
                    Please enter a valid phone number
                </p>
            </div>

        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : CreateAccount.email.$invalid && CreateAccount.email.$touched }">
            <label class="col-md-3 control-label ui-sortable">
                Email
            </label>
            <div class="col-md-9 ui-sortable">
                <input type="email"
                       name="email"
                       ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"
                       ng-model="accountEmail"
                       class="form-control work_phone_box" placeholder="Email" value="">
                <p ng-show="CreateAccount.email.$touched &&
                (CreateAccount.email.$error.email || CreateAccount.email.$error.pattern)"
                   class="help-block">
                    Please enter a valid email
                </p>
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Web
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control work_phone_box"
                       validator="nilOrUrl"
                       ng-model="accountData.contactInfo.website"
                       valid-method="blur" placeholder="Web" value="http://">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Rate</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control account_seg_box"
                        ng-model="accountData.class"
                        valid-method="blur"
                        validator="required">
                    <option class="select_value_style" value="">Select one</option>
                    <option class="select_value_style" value="A">Tarifas Euro zone</option>
                    <option class="select_value_style" value="B">B</option>
                    <option class="select_value_style" value="C">C</option>
                    <option class="select_value_style" value="D">D</option>
                </select>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <h6 class="col-md-3 text-right">Address</h6>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Geolocalization
            </label>

            <div class="col-md-9 ui-sortable">
                Account not geolocated
                <button class="btn btn-sm btn-default m-l-10" type="button">
                    <i class="fa ic-checkin-filled padding_checkin_filled"></i>Localize on map
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Street
            </label>

            <div class="col-md-6 ui-sortable padding_account_owner">
                <input type="text" class="form-control account_owner_box"
                       validator="required"
                       ng-model="accountData.contactInfo.address"
                       valid-method="blur" placeholder="Street">
            </div>
            <div class="col-md-3 ui-sortable btn_add_owner">
                <button class="btn btn-sm btn-default uppercase" type="button"><i class="symb_add_owner fa ic-plus"></i>add
                    street
                </button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                City / Town
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control work_phone_box"
                       validator="required"
                       ng-model="accountData.contactInfo.city"
                       valid-method="blur" placeholder="City / Town">
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Province / State
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control work_phone_box"
                       validator="required"
                       ng-model="accountData.contactInfo.state"
                       valid-method="blur" value="Ikea Iberica SL" placeholder="Province / State">
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Region/State
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       ng-model="accountData.contactInfo.region" value="Ikea Iberica SL">
            </div>
        </div>-->

        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Country
            </label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control work_phone_box" ng-model="accountData.contactInfo.country"
                        valid-method="blur"
                        validator="required">
                    <option class="select_value_style" value="">Select one</option>
                    <option class="select_value_style" value="US">US</option>
                    <option class="select_value_style" value="UK">UK</option>
                    <option class="select_value_style" value="Spain">Spain</option>
                    <option class="select_value_style" value="Vietnam">Vietnam</option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Postcode
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control account_type_box"
                       validator="required"
                       ng-model="accountData.contactInfo.postCode"
                       valid-method="blur" placeholder="">
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Comments
            </label>

            <div class="col-md-9 ui-sortable">
                <textarea class="form-control work_phone_box"
                          ng-model="accountData.contactInfo.comment"
                          placeholder="" rows="5" resizable="falsev"></textarea>
            </div>
        </div>

        <hr/>
        <div class="form-group">
            <div class="form-group">
                <h6 class="col-md-3 text-right">Extra fields</h6>
            </div>
            <label class="col-md-3 control-label ui-sortable">
                Text
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control work_phone_box"
                       valid-method="blur" value="" placeholder=""
                        ng-model = "accountData.extra">
            </div>
        </div>


        <!--<div class="form-group">-->
        <!--<h6 class="col-md-3 text-right">Extra fields</h6>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label ui-sortable">Checkbox</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="">-->
        <!--Checkbox Label 1-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="">-->
        <!--Checkbox Label 2-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label ui-sortable">Inline Checkbox</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<label class="checkbox-inline">-->
        <!--<input type="checkbox" value="">-->
        <!--Checkbox Label 1-->
        <!--</label>-->
        <!--<label class="checkbox-inline">-->
        <!--<input type="checkbox" value="">-->
        <!--Checkbox Label 2-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label ui-sortable">Radio Button</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<div class="radio">-->
        <!--<label>-->
        <!--<input type="radio" name="optionsRadios" value="option1" checked="">-->
        <!--Radio option 1-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="radio">-->
        <!--<label>-->
        <!--<input type="radio" name="optionsRadios" value="option2">-->
        <!--Radio option 2-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label ui-sortable">Inline Radio Button</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<label class="radio-inline">-->
        <!--<input type="radio" name="optionsRadios" value="option1" checked="">-->
        <!--Radio option 1-->
        <!--</label>-->
        <!--<label class="radio-inline">-->
        <!--<input type="radio" name="optionsRadios" value="option2">-->
        <!--Radio option 2-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group has-success has-feedback">-->
        <!--<label class="col-md-3 control-label ui-sortable">Input with Success</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<input type="text" class="form-control">-->
        <!--<span class="fa fa-check form-control-feedback"></span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group has-warning has-feedback">-->
        <!--<label class="col-md-3 control-label ui-sortable">Input with Warning</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<input type="text" class="form-control">-->
        <!--<span class="fa fa-warning form-control-feedback"></span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group has-error has-feedback">-->
        <!--<label class="col-md-3 control-label ui-sortable">Input with Error</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<input type="text" class="form-control">-->
        <!--<span class="fa fa-times form-control-feedback"></span>-->
        <!--</div>-->
        <!--</div>-->
    </form>
</div>
<!--<div>
    <div class="pull-right">
        <button class="btn btn-sm"
                ng-disabled="data.isPosting" ng-click="fn.closeDialog(true)">
            {{'commonText.Cancel' | i18next}}
        </button>
        <button class="btn btn-sm btn-primary"
                ng-disabled="!fn.isValid(CreateAccount) || data.isPosting "
                ng-click="fn.saveAccount()">
            {{'commonText.Save' | i18next}}
        </button>
    </div>
</div>-->