<widget-wrapper body-class="timeline-div"
                title="Activity"
                event-bus-channel="eventChannel"
                is-reloading="isReloading">
    <ul class="timeline">

        <li>

            <div class="timeline-time">

                <span class="label-activity">Today</span>

            </div>
        </li>
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">


                <span class="date">today</span>
                <span class="time">04:20</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa-lg ic-edit"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <div class="timeline-header clearfix">

                    <div class="userimage"><img src="assets/img/user-1.jpg"></div>
                    <div class="pull-left"><a href="javascript:;" class="main">John Smith</a>
                        <span> -  llamada efectuada a <a href="">Ikea Iberica SL</a></span>
                                                <span class="clearfix">Contacto: <a href="">Daisy
                                                    Carlson </a>, CEO</span></div>
                    <button type="button" data-toggle="tooltip" title=""
                            data-original-title="Follow activity"
                            class="btn btn-default btn-sm btn-squared btn-follow pull-right"><i
                            class="fa-lg ic-flag"></i></button>

                </div>

                <div class="timeline-content">
                    <p>
                        Hablo con el DGENERAL SR GALLEGO para intentar cerrar visita para
                        JCARLOS: me dice que está fuera de SP. y que le llame el viernes 22
                        entre las 9 y 9.30
                    </p>
                </div>
                <div class="timeline-footer">

                    <a href="javascript:;" class="m-r-15 "><i class="fa ic-edit"></i> Edit
                        activity</a>

                </div>
            </div>
            <!-- end timeline-body -->
        </li>
        <!-- begin time divider li -->
        <li>

            <div class="timeline-time">

                <span class="label-activity">Yesterday</span>

            </div>
        </li>
        <!-- begin time divider li -->
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">


                <span class="date">yesterday</span>
                <span class="time">04:20</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;" class="followed"><i class="fa-lg ic-email-in"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <div class="timeline-header clearfix">

                    <div class="userimage"><img src="assets/img/user-7.jpg"></div>
                    <div class="pull-left"><a href="javascript:;" class="main">Pedro Garcia
                        Sanchez</a> <span> -  Email recibido desde <a href="">Leroy
                        Merlin</a></span>
                                                <span class="clearfix">Contacto: <a href="">Daisy
                                                    Carlson </a>, CEO</span></div>
                    <button type="button" data-toggle="tooltip" title=""
                            data-original-title="Follow activity"
                            class="btn btn-default btn-sm btn-squared btn-follow pull-right"><i
                            class="fa-lg ic-flag"></i></button>


                </div>

                <div class="timeline-content">
                    <p>
                        Objeto: Formació Force Manager Vedesma <a href="">Show content </a>
                    </p>
                </div>
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-15"><i class="fa ic-edit"></i> Edit
                        activity</a>

                </div>
            </div>
            <!-- end timeline-body -->
        </li>
        <li>

            <div class="timeline-time">

                <span class="label-activity">Last week</span>

            </div>
        </li>


        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">

                <span class="date">10 January 2014</span>
                <span class="time">20:43</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa-lg ic-checkin"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <div class="timeline-header clearfix">

                    <div class="userimage"><img src="assets/img/user-1.jpg"></div>
                    <div class="pull-left"><a href="javascript:;" class="main">John Smith</a>
                        <span> -  CheckIn efectuado en <a href="">Ikea Iberica SL</a></span>
                    </div>
                    <button type="button" data-toggle="tooltip" title=""
                            data-original-title="Follow activity"
                            class="btn btn-default btn-sm btn-squared btn-follow pull-right"><i
                            class="fa-lg ic-flag"></i></button>


                </div>
                <div class="timeline-content">
                    <h4 class="template-title">
                        <i class="fa fa-map-marker text-danger fa-fw"></i>
                        795 Folsom Ave, Suite 600 San Francisco, CA 94107
                    </h4>

                    <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec
                        faucibus. Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum
                        odio, id luctus mauris nibh ut leo.</p>

                    <p class="m-t-20">
                        <img src="assets/img/gallery/gallery-4.jpg">
                    </p>
                </div>
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-15"><i class="fa ic-edit"></i> Edit
                        activity</a>

                </div>
            </div>
            <!-- end timeline-body -->
        </li>


        <li>
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa-lg fa-spinner"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                Loading...
            </div>
            <!-- begin timeline-body -->
        </li>
    </ul>
</widget-wrapper>