<widget-wrapper body-class="timeline-div"
                title="Activity"
                event-bus-channel="eventChannel"
                is-reloading="isReloading"
                forever-scroll="fn.requestNextPage()"
        >
    <ul class="timeline">

        <li>
            <div class="timeline-time">
                <span class="label-activity">Today</span>
            </div>
        </li>
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">
                <span class="date">today</span>
                <span class="time">04:20</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;">
                    <i class="fa-lg ic-edit"></i>
                </a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <div class="timeline-header clearfix">
                    <div class="userimage">
                        <img src="assets/img/user-1.jpg">
                    </div>
                    <div class="pull-left">
                        <a href="javascript:;" class="main">John Smith</a>
                        <span> -  llamada efectuada a <a href="">Ikea Iberica SL</a></span>
                                                <span class="clearfix">Contacto:
                                                    <a href="">Daisy Carlson </a>, CEO</span>
                    </div>
                    <button type="button" data-toggle="tooltip" title=""
                            data-original-title="Follow activity"
                            class="btn btn-default btn-sm btn-squared btn-follow pull-right">
                        <i class="fa-lg ic-flag"></i>
                    </button>
                </div>

                <div class="timeline-content">
                    <p>
                        Hablo con el DGENERAL SR GALLEGO para intentar cerrar visita para
                        JCARLOS: me dice que está fuera de SP. y que le llame el viernes 22
                        entre las 9 y 9.30
                    </p>
                </div>
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-15 ">
                        <i class="fa ic-edit"></i> Edit activity</a>

                </div>
            </div>
            <!-- end timeline-body -->
        </li><li>
            <div class="timeline-time">
                <span class="label-activity">Today</span>
            </div>
        </li>
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">
                <span class="date">today</span>
                <span class="time">04:20</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;">
                    <i class="fa-lg ic-edit"></i>
                </a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <div class="timeline-header clearfix">
                    <div class="userimage">
                        <img src="assets/img/user-1.jpg">
                    </div>
                    <div class="pull-left">
                        <a href="javascript:;" class="main">John Smith</a>
                        <span> -  llamada efectuada a <a href="">Ikea Iberica SL</a></span>
                                                <span class="clearfix">Contacto:
                                                    <a href="">Daisy Carlson </a>, CEO</span>
                    </div>
                    <button type="button" data-toggle="tooltip" title=""
                            data-original-title="Follow activity"
                            class="btn btn-default btn-sm btn-squared btn-follow pull-right">
                        <i class="fa-lg ic-flag"></i>
                    </button>
                </div>

                <div class="timeline-content">
                    <p>
                        Hablo con el DGENERAL SR GALLEGO para intentar cerrar visita para
                        JCARLOS: me dice que está fuera de SP. y que le llame el viernes 22
                        entre las 9 y 9.30
                    </p>
                </div>
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-15 ">
                        <i class="fa ic-edit"></i> Edit activity</a>

                </div>
            </div>
            <!-- end timeline-body -->
        </li>
    </ul>
</widget-wrapper>