<accordion class="users-filter-list environment clearfix" close-others="false">
    <accordion-group ng-repeat="group in userFiltered | filter: { visible: true }" is-open="group.isOpen || allNodesOpened" class="clearfix">

        <accordion-heading class="clearfix">
            <div class="users-group-heading" ng-click="$event.stopPropagation();">
                <i class="pull-left fa environment-collapse-icon"
                   ng-if="group.children && group.children.length"
                   ng-click="group.isOpen = !group.isOpen;$event.stopPropagation();"
                   ng-class="{'fa-caret-down': group.isOpen, 'fa-caret-right': !group.isOpen}"></i>

                <input type="checkbox"
                       ng-if="group.children && group.children.length"
                       tri-state-check-box
                       ng-model="group.checked"
                       ng-change="fn.groupSelectAllChanged(group)"
                       ng-click="$event.stopPropagation()"
                       ng-value="group.Id"
                       class="pull-left m-l-10 ">

                <input type="checkbox"
                       ng-if="!group.children || !group.children.length"
                       ng-model="group.checked"
                       ng-change="fn.groupSelectAllChanged(group)"
                       ng-click="group.checked=!group.checked;$event.stopPropagation()"
                       ng-value="group.Id"
                       class="pull-left m-l-10 ">

                <div class="pull-left m-l-10">
                    <strong>{{group.Name}}</strong>
                </div>
            </div>
        </accordion-heading>

        <ul ng-if="group.children && group.children.length">
            <li class="clearfix p-t-5 p-b-5 img-user-tree" ng-repeat="user in group.children | filter: { visible: true }">
                <input type="checkbox"
                       value="{{user.Id}}"
                       ng-model="user.checked"
                       ng-change="fn.userSelectionChanged()"
                       ng-click="$event.stopPropagation()"
                       class="pull-left m-t-10 m-r-10 ">

                <div class=" pull-left">
                    <img class="media-object" ng-src="{{ user.PhotoUrl }}">
                </div>

                <div class="pull-left m-t-5 m-l-10">
                    {{user.Name}}
                </div>
            </li>
        </ul>

    </accordion-group>
</accordion>