<ul class="nav navbar-nav row row m-t-10"
    ng-controller="UserFilterController"
    ng-init="fn.initializeFilters(true)">

    <li class="dropdown" dropdown is-open="userFilterOpened" on-toggle="fn.toggled(open)">


        <!-- COMPONENT DROPDOWN -->

        <a id="UserFilterDropDownButton"
           href="javascript:"
           class="dropdown-toggle m-r-30"
           dropdown-toggle
           tooltip="{{ 'commonText.userFilter.tooltip' | i18next }}"
        >
            <span ng-if="data.selectionType==='SELECTED_NONE'">
                {{'Filters.AllUsers' | i18next}}
            </span>
            <span class="userFilter-selection" ng-if="data.selectionType==='SELECTED_ONE_USER'">
                <img ng-src="{{ data.userSelectionPicture }}" />
                {{ data.userSelectionLabel }}
            </span>

            <span class="userFilter-selection" ng-if="data.selectionType==='SELECTED_ONE_ENVIRONMENT'">
                <i class="ic-environment pull-left m-r-5"></i>
                <span class="pull-left">{{ data.userSelectionLabel }}</span>
            </span>

            <span class="userFilter-selection" ng-if="data.selectionType==='SELECTED_MANY'">
                <i class="ic-users-1 pull-left m-r-5"></i>
                <span class="pull-left">{{ data.userSelectionLabel }}</span>
            </span>

            <!--<span ng-if="multipleSelection">
                {{'Filters.AllUsers' | i18next}}
            </span>
            <span ng-if="!multipleSelection">
                User: <span ng-if="currentSelectedUser">{{currentSelectedUser}}</span> <span ng-if="!currentSelectedUser">None</span>
            </span>-->
            <span class="caret"></span>
        </a>


        <!-- COMPONENT -->

        <ul id="UserFilterDropDown"
            class="dropdown-menu media-list animated fadeInDown width-md"
            onmouseover="$('body').disableScroll();"
            onmouseout="$('body').enableScroll();"
            ng-click="$event.stopPropagation()">

            <span class="panel-loading isLoading" ng-if="data.isLoadingUsers" style="z-index: 3">
                <i class="spinner"></i>
            </span>

            <!-- search users -->
            <li class="m-t-10 m-b-10">
                <form>
                    <input type="text" class="form-control ic-user"
                           ng-model="searchingUser"
                           ng-change="fn.getFilteredUsersList()"
                           ng-click="$event.stopPropagation()"
                           ng-i18next="[placeholder]Filters.SearchOwner">
                    <i class="fa ic-search search_owner_icon"></i>
                </form>
            </li>
            <!-- END search users -->


            <!-- Buttonbar -->
            <li class="media">

                <!-- Check/uncheck all -->
                <div class="btn-group pull-left">
                    <input type="checkbox"
                           class="pull-left m-t-10 m-r-10"
                           ng-change="fn.toggleAll(data.allUsersSelected)"
                           ng-model="data.allUsersSelected">
                    <div class="pull-left m-t-5">
                        <strong>{{'Filters.AllUsers' | i18next}}</strong>
                    </div>
                </div>
                <!-- End check/uncheck all -->

                <div class="btn-group pull-right">

                    <button class="btn btn-white btn-sm"
                            ng-class="{'active': currentUserFilterGroup=='Environment'}"
                            ng-click="fn.searchUsersByTeam($event)">
                        {{'Filters.Environment' | i18next}}
                    </button>

                    <button class="btn btn-white btn-sm"
                            ng-class="{'active': currentUserFilterGroup=='Hierarqhy'}"
                            ng-click="fn.searchUsersByHierarchy($event)">
                        {{'Filters.Team' | i18next}}
                    </button>
                </div>
            </li>
            <!-- End Buttonbar -->


            <!-- recent added users -->
            <li class="media recent-added-users hide">
                <h6>{{'Filters.RecentSelected' | i18next}}</h6>

                <!--<div class="m-t-10 m-b-10">
                    <span class="environment-tag" ng-repeat="environment in userFiltered | filter:{checked:true}">{{ environment.Name }}</span>
                    <span ng-repeat="environment in userFiltered | filter:{checked:null}">
                        <span class="user-tag" ng-repeat="user in environment.children | filter:{checked:true}">{{ user.Name }}</span>
                    </span>
                </div>-->
            </li>
            <!-- END recent added users -->


            <!-- Starts users tree -->
            <li class="users-tree" ng-if="data.usersLoadedFailError===null">

                <!--ng-if="multipleSelection"-->
                <ng-include  ng-if="currentUserFilterGroup=='Environment'" src="'app/modules/saleAnalytics/filters/userFilter/'+currentUserFilterGroup+'UsersFilter.html?v='+cacheBuster"></ng-include>

                <!-- ng-if="!multipleSelection" -->
                <ng-include ng-if="currentUserFilterGroup=='Hierarqhy'" src="'app/modules/saleAnalytics/filters/userFilter/HierarqhyUsersFilter.html?v='+cacheBuster"></ng-include>
            </li>
            <!-- END users tree -->

            <div class="alert alert-danger" role="alert" ng-if="data.usersLoadedFailError!==null">
                <strong>Error:</strong><br/>{{ data.usersLoadedFailError.toString() }}
            </div>

        </ul>
    </li>
</ul>