<widget-wrapper body-class="height-md"
                wtitle="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">

    <div class="clearfix m-b-20 ">
        <div class="btn-group pull-right">
            <button ng-if="widget.option == 'tab'" class="btn btn-white btn-sm" ng-repeat="filter in filters"
                    ng-click="fn.changeFilter(filter)"
                    ng-class="{'active':selectedFilter.key==filter.key}">
                {{filter.name}}
            </button>

            <!--<select ng-if="widget.option == 'dropdown'" class="form-control pull left"
                    ng-model="selectedFilter"
                    ng-change="fn.changeFilter(selectedFilter)">
                <option ng-repeat="filter in tabs" value="{{filter.key}}">{{filter.name}}</option>
            </select>-->

            <div class="form-control pull left"
                 ng-if="widget.option == 'dropdown'">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        {{ selectedFilter.name }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="filter in filters"
                            ng-class="{active: filter.key===selectedFilter.key}">
                            <a href ng-click="fn.changeFilter(filter)">
                                {{ filter.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="chart-place-holder height-sm  map-fix" ng-hide="data.serverError===true"></div>


    <div class="col-xs-12 m-t-10 p-l-20 p-r-20" ng-hide="data.serverError===true">
        <div class="well" ng-if="widget.widgetName=='ANALISIS DE COBERTURA'">
            El análisis de cobertura muestra cómo ha sido la interacción con cada tipo de cliente.
        </div>
    </div>


    <ng-include
            src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
            ng-if="data.serverError===true">
    </ng-include>


</widget-wrapper>