<widget-wrapper body-class="height-md"
                wtitle="{{widget.widgetName}}"
                wtooltip="{{ 'tabDistribution.coverageAnalysis.header.title.tooltip' | i18next }}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">

    <div class="clearfix m-b-20 ">
        <div class="btn-group pull-right">
            <button ng-if="widget.option == 'tab'"
                    class="btn btn-white btn-sm"
                    ng-repeat="filter in filters"
                    ng-attr-title="{{ filter.tooltip }}"
                    ng-click="fn.changeFilter(filter)"
                    ng-class="{'active':selectedFilter.key==filter.key}">
                {{filter.name}}
            </button>

            <!--<select ng-if="widget.option == 'dropdown'" class="form-control pull left"
                    ng-model="selectedFilter"
                    ng-change="fn.changeFilter(selectedFilter)">
                <option ng-repeat="filter in tabs" value="{{filter.key}}">{{filter.name}}</option>
            </select>-->

            <div class="form-control pull left"
                 ng-if="widget.option == 'dropdown'">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        {{ selectedFilter.name }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="filter in filters"
                            ng-class="{active: filter.key===selectedFilter.key}">
                            <a href ng-click="fn.changeFilter(filter)">
                                {{ filter.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="chart-place-holder height-sm  map-fix" ng-hide="data.serverError===true"></div>


    <div class="col-xs-12 m-t-10 p-l-20 p-r-20" ng-hide="data.serverError===true">
        <div class="well">
            <span ng-if="selectedFilter.key=='Segment'">{{ 'tabDistribution.coverageAnalysis.selectButton.itemSegment' | i18next }}</span>
            <span ng-if="selectedFilter.key=='AccountType'">{{ 'tabDistribution.coverageAnalysis.accountType.description' | i18next }}</span>
        </div>
    </div>


    <ng-include
            src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
            ng-if="data.serverError===true">
    </ng-include>



    <div style="display:none;">
        <!--
            Bar chart Callout Table Template
        -->
        <div id="barChartCalloutTableTemplate">
            <table id="barChartCalloutTable" style="margin:-5px; width:300px; padding:10px; background-color:white; border: 1px solid #DDDDDD;">
                <tbody>
                    <tr id="HeaderBgColor1" style="height:35px;">
                        <td colspan="2" style="padding-left:20px; vertical-align:middle; color:#FFFFFF; font-size:15px; font-weight:400;">
                            {Agrupacion}
                        </td>
                    </tr>
                    <tr id="HeaderBgColor2" style="height:30px;;">
                        <td colspan="2" style="padding-left:20px; vertical-align:middle; color:#FFFFFF;">
                            <span style="font-size:13px;">{ActivityType}: {ActivityCount}</span>
                            <span style="font-size:15px; font-weight:400;">({ActivityPercentage}%)</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px; height:40px; vertical-align:middle; padding-left:20px; color:#212121; font-size:13px; font-weight:400;">User</td>
                        <td style="width:50px;  height:40px; vertical-align:middle; text-align:center; color:#212121; font-size:13px; font-weight:400;">Total</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</widget-wrapper>