<widget-wrapper body-class="height-md"
                wtitle="{{widget.widgetName}}"
                wtooltip="{{ 'tabDistribution.coverageAnalysis.header.title.tooltip' | i18next }}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">


    <!-- TOOLBAR -->
    <div class="row panel-toolbar" ng-init="fn.init()">
        <div class="col-xs-12 m-b-20">
            <div class="btn-group pull-right">
                <button ng-if="widget.option == 'tab'"
                        class="btn btn-white btn-sm"
                        ng-repeat="filter in filters"
                        tooltip="{{ filter.tooltip }}" tooltip-placement="bottom"
                        ng-click="fn.changeFilter(filter)"
                        ng-class="{'active':selectedFilter.key==filter.key}">
                    {{filter.name}}
                </button>

                <!--<select ng-if="widget.option == 'dropdown'" class="form-control pull left"
                        ng-model="selectedFilter"
                        ng-change="fn.changeFilter(selectedFilter)">
                    <option ng-repeat="filter in tabs" value="{{filter.key}}">{{filter.name}}</option>
                </select>-->

                <div class="form-control pull left"
                     ng-if="widget.option == 'dropdown'">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            {{ selectedFilter.name }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="filter in filters"
                                ng-class="{active: filter.key===selectedFilter.key}">
                                <a href ng-click="fn.changeFilter(filter)">
                                    {{ filter.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END TOOLBAR -->


    <!-- CONTENT -->
    <div class="row panel-content height-md" ng-hide="data.serverError || data.noData" style="position:relative;z-index:100;">
        <div class="panel-content-child col-xs-10 height-md">
            <div class="chart-place-holder panel-content-child map-fix height-md"></div>
        </div>
    </div>


    <!-- DESCRIPTION -->
    <div class="row panel-description" ng-hide="data.serverError===true">
        <div class="col-xs-12 m-t-10 p-l-20 p-r-20">
            <div class="well">
                <div ng-if="selectedFilter.key=='Segment'"><p ng-i18next="[html]tabDistribution.coverageAnalysis.segment.description"></p></div>
                <div ng-if="selectedFilter.key=='AccountType'"><p ng-i18next="[html]tabDistribution.coverageAnalysis.accountType.description"></p></div>
            </div>
        </div>
    </div>


    <!-- NO DATA -->
    <div class="row" ng-if="data.noData">
        <div class="col-xs-12">
            <div class="alert alert-warning" role="alert">
                {{'commonText.NoDataToDisplay' | i18next}}
                <button class="btn btn-outline m-l-10" ng-click="fn.reloadPanel()"><i class="fa fa-refresh"></i> {{'commonText.Refresh' | i18next}}</button>
            </div>
        </div>
    </div>


    <!-- SERVER ERROR -->
    <ng-include src="'app/modules/saleAnalytics/base/serverErrorAlert.html?v='+cacheBuster" ng-if="data.serverError===true"></ng-include>



    <!-- TEMPLATES -->
    <div style="display:none;">
        <!--
            Bar chart Callout Table Template
        -->
        <div id="barChartCalloutTableTemplate">
            <table id="barChartCalloutTable" style="margin:-5px; width:300px; padding:10px; background-color:white; border: 1px solid #DDDDDD;">
                <tbody>
                    <tr id="HeaderBgColor1" style="height:35px;">
                        <td colspan="2" style="padding-left:20px; vertical-align:middle; color:#FFFFFF; font-size:15px; font-weight:400;">
                            {Agrupacion}
                        </td>
                    </tr>
                    <tr id="HeaderBgColor2" style="height:30px;;">
                        <td colspan="2" style="padding-left:20px; vertical-align:middle; color:#FFFFFF;">
                            <span style="font-size:13px;">{ActivityType}: {ActivityCount}</span>
                            <span style="font-size:15px; font-weight:400;">({ActivityPercentage}%)</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px; height:40px; vertical-align:middle; padding-left:20px; color:#212121; font-size:13px; font-weight:400;">{{ 'label_user' | i18next }}</td>
                        <td style="width:50px;  height:40px; vertical-align:middle; text-align:center; color:#212121; font-size:13px; font-weight:400;">{{ 'label_total' | i18next }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</widget-wrapper>