<div ng-init="event.onInit()">
    <ul class=" pull-right no-bullet m-t-20">
        <li><a href="#"><i class="fa ic-export"></i> {{'commonText.Export' |i18next}}</a></li>
    </ul>
    <h1 class="page-header">{{'Account.AccountTitle' | i18next}}
        <a href="#/account/create" class="btn btn-big btn-primary m-r-5">
            <span class="ic-plus m-r-5"></span>
            {{'Account.CreateAccount' | i18next}}
        </a>
    </h1>

    <div ng-include="'templates/account/accountFilter.html'"></div>
    <div ng-include="'templates/account/table.html'" class="row"></div>

    <div style="text-align: center; border-top: 1px solid gray; position: fixed; width: 100%; left: 0; bottom: 0;">
        {{data.currentError}}
    </div>
    <div class="hide">
        <div id="popover_template">
            <div class="popover map-info" role="tooltip">
                <div class="arrow"></div>
                <a class="close close-pop-over">&times;</a>

                <div class="popover-content"></div>
            </div>
        </div>

        <div id="popover_content_template">
            <img id="popover_map_canvas" src="{0}" />
        </div>
    </div>
</div>