<div id="sidebar" class="sidebar" ng-init="event.onInit()">
    <!-- begin sidebar scrollbar -->
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div data-scrollbar="true" data-height="100%" style="overflow: hidden; width: auto; height: 100%;">
        <!-- begin sidebar user -->
        <ul class="nav">
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <!--<li class="nav-header">Navigation</li>-->
            <li><a href="dashboard.html"><i class="fa icon-gauge"></i> <span>Dashboard</span></a></li>
            <li class="active"><a href="accounts.html"><i class="fa icon-accounts"></i> <span>Accounts</span></a></li>
            <li><a href="contacts.html"><i class="fa icon-contacts"></i> <span>Contacts</span></a></li>
            <li><a href="opportunities.html"><i class="fa icon-opportunity"></i> <span>Opportunities</span></a></li>
            <li><a href="quotes.html"><i class="fa icon-quotes"></i> <span>Quotes</span></a></li>
            <li><a href="agenda.html"><i class="fa icon-agenda"></i> <span>Agenda</span></a></li>
            <li><a href="products.html"><i class="fa icon-product"></i> <span>Products</span></a></li>

            <li><a href="documents.html"><i class="fa icon-doc"></i> <span>Documents</span></a></li>
            <li><a href="activity.html"><i class="fa icon-activity"></i> <span>Activity</span></a></li>

            <li class="has-sub" ng-click="event.onToggleSubMenu('.sub-menu')">
                <a href="javascript:;" >
                    <b class="caret pull-right"></b>
                    <i class="fa icon-chart-bar"></i>
					<span>Sales analytics</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="sales_overview.html">Overview </a></li>
                    <li><a href="helper_css.html">Intensity </a></li>
                    <li><a href="helper_css.html">Distribution </a></li>
                    <li><a href="helper_css.html">Conversion </a></li>
                    <li><a href="helper_css.html">Reports </a></li>
                </ul>
            </li>


        </ul>
        <!-- end sidebar nav -->
    </div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 717px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
    <!-- end sidebar scrollbar -->
</div>