<div id="sidebar" class="sidebar" ng-controller="LeftMenuController">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <!--<li class="nav-header">Navigation</li>-->
            <li ><a href="dashboard.html"><i class="fa icon-gauge"></i> <span>Dashboard</span></a></li>
            <li ><a href="accounts.html"><i class="fa icon-accounts"></i> <span>Accounts</span></a></li>
            <li class="active"><a href="contacts.html"><i class="fa icon-contacts"></i> <span>Contacts</span></a></li>
            <li><a href="opportunities.html"><i class="fa icon-opportunity"></i> <span>Opportunities</span></a></li>
            <li><a href="quotes.html"><i class="fa icon-quotes"></i> <span>Quotes</span></a></li>
            <li><a href="agenda.html"><i class="fa icon-agenda"></i> <span>Agenda</span></a></li>
            <li><a href="products.html"><i class="fa icon-product"></i> <span>Products</span></a></li>

            <li><a href="documents.html"><i class="fa icon-doc"></i> <span>Documents</span></a></li>
            <li><a href="activity.html"><i class="fa icon-activity"></i> <span>Activity</span></a></li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa icon-chart-bar"></i>
					<span>Sales analytics</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="sales_overview.html">Overview </i></a></li>
                    <li><a href="#/analytics/intensity">Intensity </i></a></li>
                    <li><a href="helper_css.html">Distribution </i></a></li>
                    <li><a href="helper_css.html">Conversion </i></a></li>
                    <li><a href="helper_css.html">Reports </i></a></li>
                </ul>
            </li>
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>