<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="account-wall">
				<form class="form-signin" ng-init="data.loginUser='bruno_test@gmail.com';data.loginPassword='dimarts1*';">
					<input
							ng-model="data.loginUser"
							type="text"
							class="form-control"
							placeholder="User"
							required autofocus>
					<input
							ng-model="data.loginPassword"
							type="password"
							class="form-control"
							placeholder="Password"
							required>
					<button ng-disabled="data.isLoggingIn || !data.loginUser || !data.loginPassword"
							ng-click="fn.login()"
							class="btn btn-lg btn-primary btn-block">
						Sign in
					</button>
					<a ng-click="event.forgotYourPassword()" class="pull-right need-help">Forgot your password? </a><span class="clearfix"></span>
					<p class="form-signin error-desc" ng-if="data.errorMessage!==null" ng-bind="data.errorMessage"></p>
				</form>
			</div>
		</div>
	</div>
</div>