<div id="header-web2" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <div class="navbar-brand" href="views/companylist.aspx">
                <img src="https://fmassets.s3-eu-west-1.amazonaws.com/commons/lg-forcemanager-inverse.svg" alt="ForceManager">
            </div>
        </div>

        <ul class="nav navbar-nav">

            <li class="active"><a id="company-top-menu" data-placement="bottom" data-section="company" href="companylist.aspx" data-original-title="sdfsdf" class="toggle-true"><i class="ic-accounts"></i></a></li>

            <li><a id="contacts-top-menu" data-placement="bottom" data-section="contact" href="contactslist.aspx" data-original-title="Contacts" class="toggle-true"><i class="ic-contact"></i></a></li>
        </ul>

    </div>
</div>
