<div id="header-web2" class="navbar navbar-default navbar-fixed-top" ng-init="fn.onInit()">
    <div class="container-fluid">

        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="{{ data.userData.defaultAccessPage }}">
                    <img src="https://fmassets.s3-eu-west-1.amazonaws.com/commons/lg-forcemanager-inverse.svg" alt="ForceManager">
                </a>
            </div>
        </div>

        <ul class="nav navbar-nav section-nav">
            <li ng-class="{ active: item.section == 'sfm' }" ng-repeat="item in data.userSections">
                <a id="{{ item.id }}"
                   data-placement="bottom"
                   data-section="{{ item.section }}"
                   href="{{ item.url }}"
                   data-original-title="{{ item.name }}"
                   class="toggle-true">
                    <i class="ic-{{ item.icon }}"></i>
                </a>
            </li>
        </ul>


        <!-- RIGHT MENU -->
        <ul class="nav navbar-nav user-section-nav pull-right">

            <!-- SEPARATOR -->
            <li class="upgrade"></li>

            <!-- AGENDA -->
            <li class="agenda-notifications" ng-show="fn.hasEventsOrTasksForToday()">
                <i class="icon-agenda-notify"></i>
                <span id="events-top-menu">
                    <a href="calendar.aspx">
                        <span class="notification">
                            <div ng-show="fn.hasEventsForToday()">{{ data.eventsForToday }} events</div>
                            <div ng-show="fn.hasTasksForToday()">{{ data.tasksForToday }} task</div>
                        </span>
                    </a>
                </span>
            </li>

            <!-- NOTIFICATIONS -->
            <li id="unreadNotifications" class="user-notifications">
                <a href="#">
                    <i class="icon-alert-notify"></i>
                    <span class="badge" ng-show="fn.hasUnreadNotifications()">{{ data.unreadNotifications }}</span>
                </a>
            </li>

            <!-- PROFILE -->
            <li class="dropdown profile-meu-dropdown" dropdown>
                <a href="#" class="dropdown-toggle h" data-toggle="dropdown">
                    <div class="profile-pic" data-placement="bottom" data-original-title="{{ data.userData.userName }}">
                        <img width="40" height="40" src="{{ data.userData.userImg }}" alt="">
                    </div>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in data.userOptions" ng-class="{ 'with-divider': $last }">
                        <a id="{{ item.id }}" href="{{ item.linkToGo }}" target="{{ item.target }}">
                            {{ item.name }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>



    </div>
</div>
