<div id="header-web2" class="navbar navbar-default navbar-fixed-top" ng-init="fn.onInit()">
    <div class="container-fluid">

        <div class="navbar-header">
            <div class="navbar-brand" href="views/companylist.aspx">
                <img src="https://fmassets.s3-eu-west-1.amazonaws.com/commons/lg-forcemanager-inverse.svg" alt="ForceManager">
            </div>
        </div>

        <ul class="nav navbar-nav">
            <li ng-class="{ active: item.section == 'sfm' }" ng-repeat="item in data.userSections">
                <a id="{{ item.id }}"
                   data-placement="bottom"
                   data-section="{{ item.section }}"
                   href="{{ item.url }}"
                   data-original-title="{{ item.name }}"
                   class="toggle-true">
                    <i class="ic-{{ item.icon }}"></i>
                </a>
            </li>
        </ul>

    </div>
</div>
