<widget-wrapper body-class="timeline-div"
                wtitle="Activity"
                event-bus-channel="eventChannel"
                is-reloading="isReloading"
                forever-scroll="fn.requestNextPage()"
        >
    <ul class="timeline">
        <li ng-repeat="activityEntry in activitiesList">
            <ng-include src="'app/modules/account/widgets/activity/activityDelimiterEntry.html'" ng-if="activityEntry.isDelimiter"></ng-include>
            <ng-include src="'app/modules/account/widgets/activity/activityRecord.html'" ng-if="!activityEntry.isDelimiter"></ng-include>
        </li>
    </ul>
</widget-wrapper>