<div class="panel panel-inverse panel-card panel-detail panel-account-detail">
    <div class="panel-body">
        <h4>{{'AccountDetail.AccountType' | i18next}}: Lead</h4>

        <p>{{'AccountDetail.Classification' | i18next}}: {{accountData.class}} </p>

        <p>{{'AccountDetail.Owner' | i18next}}:
            <a href="#/accounts/{{accountData.responsible.id}}">{{accountData.responsible.name}}</a>
        </p>

        <div class="line-border clearfix m-b-10 m-t-5"></div>
        <div id="map-canvas"></div>
        <div class="line-border clearfix m-t-10"></div>

        <h6>{{'AccountDetail.Address' | i18next}}</h6>

        <p>{{accountData.contactInfo.address}} {{accountData.contactInfo.city}} {{accountData.contactInfo.country}}</p>
        <!-- email-->
        <h6>{{'commonText.Email' | i18next}}</h6>

        <p>daisycarlson@ikea.es
            <button type="button" class="btn btn-default btn-xs  m-l-10"><i class="fa ic-email"></i>
            </button>
        </p>
        <p>lore.ipsum@garciaandsons.es
            <button type="button" class="btn btn-default btn-xs  m-l-10"><i class="fa ic-email"></i>
            </button>
        </p>
        <!-- email-->
        <!-- telephones-->
        <div class="clearfix">
            <h6 class="pull-left">{{'AccountDetail.Mobile' | i18next}}</h6>

            <p class="pull-left m-t-15 m-l-10">(699) 991 824</p></div>
        <div class="clearfix">
            <h6 class="pull-left m-t-5">{{'AccountDetail.LaneLine' | i18next}}</h6>

            <p class="pull-left m-t-0 m-l-10">+34 689 56 97</p></div>
        <!-- telephones-->

        <h6>{{'AccountDetail.Web' | i18next}}</h6>

        <p>www.emporium.com</p>
        <!-- related contacts-->
        <h6>{{'AccountDetail.RelatedContacts' | i18next}}</h6>

        <p><a href="">Daisy Carlsom</a> <span class="ic-info"></span></p>

        <p><a href="">Carlos Garcia Lopez</a> <span class="ic-info"></span></p>

        <p><a href="">Mario Rossi</a> <span class="ic-info"></span></p>
        <button type="button" class="btn btn-default btn-xs  m-t-10 m-b-5"><span class="ic-plus"></span>
            {{'AccountDetail.AddContact' | i18next}}
        </button>
        <!-- related contacts-->
        <!-- related company-->
        <h6>{{'AccountDetail.RelatedCompany' | i18next}}</h6>

        <p>Leroy Merlin España</p>
        <button type="button" class="btn btn-default btn-xs  m-t-10 m-b-5"><span class="ic-plus"></span>
            {{'AccountDetail.AddContact' | i18next}}
        </button>
        <!-- related company-->
        <!-- related company-->
        <h6>{{'commonText.Description' | i18next}}</h6>

        <p>Proporcionamos herramientas de marketing relacional: CRM, Fidelización, Buzoneo, Logística,
            Contact Center... <a>more</a></p>
        <!-- related company-->
        <!-- telephones-->
        <div class="clearfix">
            <h6 class="pull-left">Campo extra</h6>

            <p class="pull-left m-t-15 m-l-10">Valore campo extra</p></div>
        <div class="clearfix">
            <h6 class="pull-left m-t-5">Campo extra booleano</h6>

            <p class="pull-left m-t-0 m-l-10"><span class="ic-accept"></span></p></div>
        <div class="clearfix">
            <h6 class="pull-left m-t-5"><span class="boolean-no">Campo extra booleano NO</span></h6>

            <p class="pull-left m-t-0 m-l-10"><span class="ic-close"></span></p></div>
        <!-- telephones-->


        <div>

        </div>
    </div>
</div>