<!-- begin #content -->
<div class="m-b-5 clearfix m-t-15">
    <!-- begin edit / delete -->
    <div class="btn-group pull-right prev-buttons">
        <button class="btn btn-white btn-xs"><span class="ic-arr-left"> </span>Previous Account</button>
        <button class="btn btn-white btn-xs"> Next Account <span class="ic-arr-right"></span></button>
    </div>


    <ng-include src="'/templates/accountDetails/header.html'"></ng-include>
</div>
<div class="line-border clearfix m-b-20"></div>
<!-- begin row -->
<div class="row m-t-10">

    <!-- begin col-4 -->
    <div class="col-md-4">
        <ng-include src="'/templates/accountDetails/accountInfo.html'"></ng-include>
    </div>

    <!-- end col-4 -->
    <!-- begin all right content-->
    <div class="col-md-8">
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <ng-include src="'/templates/accountDetails/statisticsButtons.html'"></ng-include>
            </div>
            <!-- end col-8 -->

            <!-- begin activity panel -->
            <div class="col-md-12 drag-and-drop">
                <account-detail-activity account-id="accountData.id">
                </account-detail-activity>
            </div>

            <!-- end activity panel -->


            <!-- begin col-4 -->
            <div class="col-md-6 drag-and-drop">
                <!-- begin calendar-->

                <account-detail-agenda account-id="accountData.id">
                </account-detail-agenda>

                <!-- end calendar-->
            </div>


            <!-- begin col-4 -->
            <div class="col-md-6 drag-and-drop">
                <account-detail-opportunity account-id="accountData.id">
                </account-detail-opportunity>
            </div>
            <!-- end col-4 -->

            <!-- begin documents -->
            <!-- begin documents panel -->
            <div class="col-md-12 drag-and-drop">
                <account-detail-documents account-id="accountData.id">
                </account-detail-documents>
            </div>

            <!-- end documents panel -->
            <!-- end documents -->
        </div>
        <!-- end row -->
    </div>
</div>
<!-- end #content -->