<div class="modal-header">
    <button type="button" ng-click="fn.closeDialog()"
            class="close">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{'Account.CreateAccount' | i18next}}
    </h4>
</div>
<div class="modal-body form-horizontal create-account">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable"></label>

            <div class="col-md-9 ui-sortable form-img ">
                <img src="assets/img/placeholder.png"><br>
                <button type="button" class="btn btn-default btn-sm btn-picture m-t-10"> Upload account's logo</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Account name *</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Account type*</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control">
                    <option>select one</option>
                    <option>Client</option>
                    <option>Provider</option>
                    <option>User</option>
                    <option>Lorem ipsum</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Environment*</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control">
                    <option>select one</option>
                    <option>Automotion</option>
                    <option>Lorem ipsum</option>
                    <option>Candy crush</option>
                    <option>Spotify</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Segment*</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Account owner*</label>

            <div class="col-md-6 ui-sortable">
                <input type="text" class="form-control" value="Mario Rossi">
            </div>
            <div class="col-md-3 ui-sortable">
                <button class="btn btn-sm btn-default" type="button"><i class="fa ic-plus"></i>add user</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable"></label>

            <div class="col-md-6 ui-sortable">
                <input type="text" class="form-control" value="Mario Rossi">
            </div>
            <div class="col-md-3 ui-sortable">
                <i class="fa ic-close m-t-10"></i>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Rate</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control">
                    <option>Tarifas euro zone</option>
                    <option>Tarifas Londres</option>
                    <option>Lorem ipsum</option>

                </select>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <h6 class="col-md-3 text-right">Contact details</h6>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Work phone number
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" value="">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Fax
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" value="">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Other phone
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" value="">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Email
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" value="">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Web</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" value="">
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <h6 class="col-md-3 text-right">Address</h6>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Geolocalization</label>

            <div class="col-md-9 ui-sortable">
                Account not geolocated
                <button class="btn btn-sm btn-default m-l-10" type="button"><i class="fa ic-checkin "></i>Localize on
                    map
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Address 1 *</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" placeholder="+39 3475632456">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Address 2 *</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">City/Town</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" placeholder="Ikea Iberica SL" disabled="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Region/State</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control" placeholder="Ikea Iberica SL" disabled="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Country</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control">
                    <option>Tarifas euro zone</option>
                    <option>Tarifas Londres</option>
                    <option>Lorem ipsum</option>

                </select>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Comments</label>

            <div class="col-md-9 ui-sortable">
                <textarea class="form-control" placeholder="Textarea" rows="5"></textarea>
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <h6 class="col-md-3 text-right">Extra fields</h6>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Checkbox</label>

            <div class="col-md-9 ui-sortable">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Checkbox Label 1
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Checkbox Label 2
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Inline Checkbox</label>

            <div class="col-md-9 ui-sortable">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Checkbox Label 1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Checkbox Label 2
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Radio Button</label>

            <div class="col-md-9 ui-sortable">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" value="option1" checked="">
                        Radio option 1
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" value="option2">
                        Radio option 2
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Inline Radio Button</label>

            <div class="col-md-9 ui-sortable">
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" value="option1" checked="">
                    Radio option 1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" value="option2">
                    Radio option 2
                </label>
            </div>
        </div>
        <div class="form-group has-success has-feedback">
            <label class="col-md-3 control-label ui-sortable">Input with Success</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control">
                <span class="fa fa-check form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-warning has-feedback">
            <label class="col-md-3 control-label ui-sortable">Input with Warning</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control">
                <span class="fa fa-warning form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-error has-feedback">
            <label class="col-md-3 control-label ui-sortable">Input with Error</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control">
                <span class="fa fa-times form-control-feedback"></span>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-sm" ng-click="fn.closeDialog()">
            {{'commonText.Cancel' | i18next}}
        </button>
        <button class="btn btn-sm btn-primary" ng-click="fn.closeDialog()">
            {{'commonText.Save' | i18next}}
        </button>
    </div>
</div>