<div class="panel-loader" ng-show="data.isPosting">
    <span class="spinner-small"></span>
</div>
<div class="modal-header">
    <button type="button"
            ng-disabled="data.isPosting"
            ng-click="fn.closeDialog()"
            class="close">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{'Account.CreateAccount' | i18next}}
    </h4>
</div>
<div class="modal-body form-horizontal create-account panel">
    <form name="CreateAccount" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable"></label>

            <div class="col-md-9 ui-sortable form-img ">
                <img src="{{accountData.imgUrl || 'assets/img/placeholder.png'}}"
                        />
                <br>
                <button class="btn btn-default btn-sm btn-picture m-t-10"
                        ng-file-select="fn.selectFile($files)">
                    Upload account's logo
                </button>
                <span class="spinner-small" ng-show="data.isUploading"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Account name *</label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       validator="required"
                       valid-method="blur"
                       placeholder="" ng-model="accountData.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Account type*</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control" ng-model="accountData.accountType"
                        validator="required"
                        valid-method="blur">
                    <option value="-1">Select one</option>
                    <option ng-repeat="option in data.availableAccountTypes"
                            value="{{option.id || option.$loki}}">
                        {{option.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Environment*</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control"
                        validator="required"
                        valid-method="blur"
                        ng-model="accountData.environments">
                    <option value="">Select one</option>
                    <option ng-repeat="option in data.availableEnvironments"
                            value="{{option.id || option.$loki}}">
                        {{option.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Segment*</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control"
                        ng-model="accountData.class"
                        valid-method="blur"
                        validator="required">
                    <option value="">Select one</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Account owner*</label>

            <div class="col-md-6 ui-sortable">
                <input type="text" class="form-control" value="Mario Rossi">
            </div>
            <div class="col-md-3 ui-sortable">
                <button class="btn btn-sm btn-default" type="button"><i class="fa ic-plus"></i>add user</button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">Rate</label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control">
                    <option>Tarifas euro zone</option>
                    <option>Tarifas Londres</option>
                    <option>Lorem ipsum</option>
                </select>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <h6 class="col-md-3 text-right">Contact details</h6>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Work phone number
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       validator="nilOrNumber"
                       ng-model="accountData.contactInfo.phoneNumber"
                       valid-method="blur" value="">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Fax
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       validator="nilOrNumber"
                       ng-model="accountData.contactInfo.fax"
                       valid-method="blur" value="">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Other phone
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       validator="nilOrNumber"
                       ng-model="accountData.contactInfo.otherPhone"
                       valid-method="blur" value="">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Email
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="email"
                       validator="required,email"
                       valid-method="blur"
                       ng-model="accountData.emails"
                       class="form-control" value="">
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Web
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       validator="nilOrUrl"
                       ng-model="accountData.contactInfo.web"
                       valid-method="blur" value="http://">
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <h6 class="col-md-3 text-right">Address</h6>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Geolocalization
            </label>

            <div class="col-md-9 ui-sortable">
                Account not geolocated
                <button class="btn btn-sm btn-default m-l-10" type="button">
                    <i class="fa ic-checkin "></i>Localize on map
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Address 1 *
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       validator="required"
                       ng-model="accountData.contactInfo.address"
                       valid-method="blur" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Address 2 *
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       validator="required"
                       ng-model="accountData.contactInfo.address2"
                       valid-method="blur" placeholder="">
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                City/Town *
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       validator="required"
                       ng-model="accountData.contactInfo.city"
                       valid-method="blur" value="Ikea Iberica SL">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Region/State
            </label>

            <div class="col-md-9 ui-sortable">
                <input type="text" class="form-control"
                       ng-model="accountData.contactInfo.region" value="Ikea Iberica SL">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Country *
            </label>

            <div class="col-md-9 ui-sortable">
                <select class="form-control" ng-model="accountData.contactInfo.country">
                    <option value="US">US</option>
                    <option value="UK">UK</option>
                    <option value="Spain">Spain</option>
                    <option value="Vietnam">Vietnam</option>

                </select>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-md-3 control-label ui-sortable">
                Comments
            </label>

            <div class="col-md-9 ui-sortable">
                <textarea class="form-control"
                          ng-model="accountData.comment"
                          placeholder="Textarea" rows="5"></textarea>
            </div>
        </div>

        <hr/>

        <!--<div class="form-group">-->
        <!--<h6 class="col-md-3 text-right">Extra fields</h6>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label ui-sortable">Checkbox</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="">-->
        <!--Checkbox Label 1-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="">-->
        <!--Checkbox Label 2-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label ui-sortable">Inline Checkbox</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<label class="checkbox-inline">-->
        <!--<input type="checkbox" value="">-->
        <!--Checkbox Label 1-->
        <!--</label>-->
        <!--<label class="checkbox-inline">-->
        <!--<input type="checkbox" value="">-->
        <!--Checkbox Label 2-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label ui-sortable">Radio Button</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<div class="radio">-->
        <!--<label>-->
        <!--<input type="radio" name="optionsRadios" value="option1" checked="">-->
        <!--Radio option 1-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="radio">-->
        <!--<label>-->
        <!--<input type="radio" name="optionsRadios" value="option2">-->
        <!--Radio option 2-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label class="col-md-3 control-label ui-sortable">Inline Radio Button</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<label class="radio-inline">-->
        <!--<input type="radio" name="optionsRadios" value="option1" checked="">-->
        <!--Radio option 1-->
        <!--</label>-->
        <!--<label class="radio-inline">-->
        <!--<input type="radio" name="optionsRadios" value="option2">-->
        <!--Radio option 2-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group has-success has-feedback">-->
        <!--<label class="col-md-3 control-label ui-sortable">Input with Success</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<input type="text" class="form-control">-->
        <!--<span class="fa fa-check form-control-feedback"></span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group has-warning has-feedback">-->
        <!--<label class="col-md-3 control-label ui-sortable">Input with Warning</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<input type="text" class="form-control">-->
        <!--<span class="fa fa-warning form-control-feedback"></span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group has-error has-feedback">-->
        <!--<label class="col-md-3 control-label ui-sortable">Input with Error</label>-->

        <!--<div class="col-md-9 ui-sortable">-->
        <!--<input type="text" class="form-control">-->
        <!--<span class="fa fa-times form-control-feedback"></span>-->
        <!--</div>-->
        <!--</div>-->
    </form>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-sm"
                ng-disabled="data.isPosting" ng-click="fn.closeDialog(true)">
            {{'commonText.Cancel' | i18next}}
        </button>
        <button class="btn btn-sm btn-primary"
                ng-disabled="!fn.isValid(CreateAccount) || data.isPosting "
                ng-click="fn.saveAccount()">
            {{'commonText.Save' | i18next}}
        </button>
    </div>
</div>