<div class="timeline-time">
    <span class="date">{{activityEntry.timeLabel}}</span>
    <span class="time">{{activityEntry.date | amDateFormat:'hh:mm'}}</span>
</div>
<div class="timeline-icon">
    <a href="javascript:;">
        <i class="fa-lg ic-edit"></i>
    </a>
</div>
<div class="timeline-body">
    <div class="timeline-header clearfix">
        <div class="userimage">
            <img src="{{activityEntry.from.imageUrl}}"/>
        </div>
        <div class="pull-left">
            <a href="#/contacts/{{activityEntry.from.id}}" class="main">{{activityEntry.from.name}}</a>
            <span> -  {{activityEntry.activity}} <a href="#/accounts/{{activityEntry.activityTo.id}}">{{activityEntry.activityTo.name}}</a></span>
            <span ng-if="activityEntry.contactTo!=null" class="clearfix">Contacto: <a
                    href="#/contacts/{{activityEntry.contactTo.id}}">{{activityEntry.contactTo.name}} </a>, {{activityEntry.contactTo.position}}</span>
        </div>
        <button type="button" data-toggle="tooltip" title=""
                data-original-title="Follow activity"
                class="btn btn-default btn-sm btn-squared btn-follow pull-right"
                ng-class="{'active': activityEntry.isFollowed}"
                ng-click="fn.toggleFollow(activityEntry.id)">
            <i class="fa-lg ic-flag"></i>
        </button>
    </div>

    <div class="timeline-content">
        <h4 class="template-title" ng-if="activityEntry.activity=='Checkin'">
            <i class="fa fa-map-marker text-danger fa-fw"></i>
            {{activityEntry.activityTo.address}}
        </h4>

        <p>
            {{activityEntry.description}}
        </p>

        <div ng-if="activityEntry.images.length">
            <p ng-repeat="image in activityEntry.images">
                <img src="{{image.url}}"/>
            </p>
        </div>
    </div>
    <div class="timeline-footer">
        <a href="javascript:;" class="m-r-15 ">
            <i class="fa ic-edit"></i>{{'AccountDetail.ActivityWidget.EditActivity' | i18next}}</a>

    </div>
</div>