
.edit-delete-div {
	display: none;
	margin-top: -4px;
	a i {
    margin-right: 4px;
    position: relative;
    top: 1px;
}
}

tr:hover .edit-delete-div {
	display:block;
}

tr.odd td.sorting_1, tr.even td.sorting_1{
	background-color: @light_orange !important;
}



.table {
	background-color: @white;

	&.table-listing{
		thead{
			tr {
				th{
					background-color: @brand-gray;
					color: @white;
					font-size: @body_font_size;
					font-weight: 300 !important;
					text-transform: uppercase;

				}
			}
		}


	}
	& > thead {
		& > tr {
			& > th.sorting_asc {
				background-color: @brand-primary;
				color:@white;
			}
			& > th.sorting_desc {
				background-color: @brand-primary;
					color:@white;
			}
		}
	}
	tbody{
		tr:hover .edit-delete-div {
			display:block;
		}

		tr.odd td.sorting_1, tr.even td.sorting_1{
			background-color: @extralight_orange !important;
		}

		tr td{
			height: 53px;
padding: 10px 15px 0px !important;
		}
	}
}