.panel:not(.panel-expand) .table-chart-widget .table-chart-widget-content {
  height: 400px;
  overflow-y: scroll;
}

.table-chart-widget {
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 8px;
  }
}
