<widget-wrapper body-class="height-md no-toolbar"
                wtitle="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">


    <!-- CONTENT -->
    <div class="row panel-content height-md" ng-hide="data.serverError || data.noData">
        <div class="panel-content-child col-xs-10 height-md" style="position:relative;z-index:100;">
            <div class="chart-place-holder panel-content-child map-fix height-md"></div>
        </div>
        <div class="panel-content-child col-xs-2 height-md" style="overflow-y: auto;">
            <ul style="list-style:none;padding:0;margin:0;">
                <li
                        style="padding-left:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;"
                        ng-repeat="field in availableFields"
                        ng-style="{'color':field.color}">
                    <a
                            ng-mouseover="fn.serieRollOver($index)"
                            ng-style="{'color':field.color}"
                            tooltip="{{ field.name }}" tooltip-placement="bottom" tooltip-append-to-body="true">
                      &bullet; {{ fn.calculateFieldName(field) }}
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <!-- DESCRIPTION -->
    <div class="row panel-description" ng-hide="data.serverError===true">
        <div class="col-xs-12 m-t-10 p-l-20 p-r-20">
            <div class="well">
                <p ng-i18next="[html]tabConversion.activitySalesConversion.description"></p>
            </div>
        </div>
    </div>


    <!-- NO DATA -->
    <div class="row" ng-if="data.noData">
        <div class="col-xs-12">
            <div class="alert alert-warning" role="alert">
                {{'commonText.NoDataToDisplay' | i18next}}
                <button class="btn btn-outline m-l-10" ng-click="fn.reloadPanel()"><i class="fa fa-refresh"></i> {{'commonText.Refresh' | i18next}}</button>
            </div>
        </div>
    </div>


    <!-- SERVER ERROR -->
    <ng-include src="'app/modules/saleAnalytics/base/serverErrorAlert.html?v='+cacheBuster" ng-if="data.serverError===true"></ng-include>


    <!-- TEMPLATES -->
    <div style="display:none;">
        <!--
            Scatter Callout Template
        -->
        <!--<div id="scatterCalloutTemplate">

                <table style="margin:-5px;width:350px;height:131px;padding:10px;background-color:white;border: 1px solid #DDDDDD;">
                    <tr>
                        <td rowspan="2" style="width:70px;vertical-align:middle;text-align:center;">
                            <img src="{PhotoUrl}" style="width:50px;height:50px;border-radius:25px;" />
                        </td>
                        <td style="height:45px;vertical-align:bottom;color:#226EB4;font-size:15px;font-weight:400;">{FullName}</td>
                    </tr>
                    <tr>
                        <td style="height:45px;vertical-align:top;color:#636363;font-size:13px;">{Description}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="vertical-align:middle;background-color:#F8F8F8;border-top:1px solid #DDDDDD;">
                            <div style="width:50%;text-align:center;float:left;">
                                <span style="color:#636363;font-size:13px;padding-right:5px;">{axisXTitle}:</span>
                                <span style="color:#212121;font-size:13px;font-weight:400;">{X}</span>
                            </div>
                            <div style="width:50%;text-align:center;float:right;">
                                <span style="color:#636363;font-size:13px;padding-right:5px;">{axisYTitle}:</span>
                                <span style="color:#212121;font-size:13px;font-weight:400;">{Y}</span>
                            </div>
                        </td>
                    </tr>
                </table>

        </div>-->
    </div>

</widget-wrapper>
