<div class="LiteralsEditCreateView" ng-init="fn.onInit()">

    <!-- HEADER -->
    <div class="row LiteralsEditCreateView_Header">

        <!-- TITLE -->
        <div class="pull-left">
            <h1 class="page-header">
                <span ng-if="fn.isNew()">{{'Literal.Detail.Header.Create' | i18next}} </span>
                <span ng-if="!fn.isNew()">{{'Literal.Detail.Header.Edit' | i18next}} </span>
            </h1>
        </div>

        <!-- SAVE/CANCEL BUTTONS -->
        <div class="pull-right">
            <button class="btn btn-big btn-default p-r-30 p-l-30 p-t-15 p-b-15"
                    ng-disabled="data.isPosting" ng-click="fn.onCancel()">
                {{'commonText.Cancel' | i18next}}
            </button>
            <button class="btn btn-big btn-primary p-r-30 p-l-30 p-t-15 p-b-15"
                    ng-disabled="!fn.isValid(CreateLiteral) || data.isPosting "
                    ng-click="fn.onSave()">
                {{'commonText.Save' | i18next}}
            </button>
        </div>

    </div>
    <!-- END HEADER -->



    <!-- HR -->
    <div class="row">
        <div class="line-border clearfix"></div>
    </div>



    <!-- FORM -->
    <div class="form-horizontal create-account panel form-content">
        <form class="form-horizontal" name="CreateLiteral">

            <!-- Literal Key -->
            <div class="form-group required">
                <label class="col-md-3 control-label">{{'Literal.Detail.Form.Literal_Key' | i18next}}</label>
                <div class="col-md-9">
                    <!-- Literal Key -->
                    <p ng-if="!fn.isNew()" class="form-control-static">{{data.literal.Key}}</p>
                    <input ng-if="fn.isNew()"
                           validator="required"
                           valid-method="blur"
                           type="text"
                           class="form-control"
                           placeholder="{{'Literal.Detail.Form.Literal_Key_Placeholder' | i18next}}"
                           ng-model="data.literal.Key">
                </div>
            </div>
            <!-- END Literal Key -->

            <!-- Literal Type -->
            <div class="form-group">
                <label class="col-md-3 control-label">{{'Literal.Detail.Form.Literal_Type' | i18next}}</label>
                <div class="col-md-9">
                    <select class="form-control"
                            ng-model="data.literal.LiteralType"
                            ng-options="literalType.Name for literalType in data.literalTypeList track by literalType.Id">
                        <option value="">{{'Literal.Detail.Form.Select_Literal_Type' | i18next}}</option>
                    </select>
                </div>
            </div>
            <!-- END Literal Type -->


            <!-- Literal Device Types -->
            <div id="LiteralView_DeviceTypes" class="form-group">
                <label class="col-md-3 control-label">{{'Literal.Detail.Form.Device_Type' | i18next}}</label>
                <div class="col-md-9">
                    <li class="dropdown" style="list-style: none;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ data.deviceTypeListPrompt }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu media-list  animated-slow fadeInDown">
                            <!-- When empty list -->
                            <li class="media" ng-if="!data.deviceTypeList || data.deviceTypeList.length==0">
                                <div class="media-body"
                                     ng-click="$event.stopPropagation();">
                                    <p>{{'Literal.Detail.Form.ListEmpty' | i18next}}</p>
                                </div>
                            </li>
                            <!-- When list not empty-->
                            <li class="media" ng-repeat="deviceType in data.deviceTypeList">
                                <input type="checkbox" class="pull-left m-t-10 m-r-10 "
                                       ng-click="$event.stopPropagation();fn.onToggleDeviceType(deviceType);"
                                       ng-checked="deviceType.selected"/>
                                <div class="media-body"
                                     ng-click="$event.stopPropagation();fn.onToggleDeviceType(deviceType);">
                                    <p>{{ deviceType.Name }}</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
            <!-- END Literal Device Types -->


            <!-- Literal languages -->
            <div class="form-group"
                 ng-repeat="(languageKey, languageValue) in data.literal.LanguageValues">
                <label class="col-md-3 control-label">{{ languageKey }}</label>
                <div class="col-md-9">
                    <textarea resizable-text-area
                              class="form-control" rows="1"
                              ng-model="data.literal.LanguageValues[languageKey]"
                              placeholder="{{ 'Literal.Detail.Form.Literal_Value_Placeholder' | i18next:{mylang:languageKey} }}">
                    </textarea>
                </div>
            </div>
            <!-- END Literal languages -->


        </form>
    </div>
    <!-- END Form -->


    <!-- SPINNER -->
    <div class="panel-loader" ng-show="data.isLoading">
        <span class="spinner-small"></span>
    </div>


</div>