<div class="LiteralView" ng-init="fn.onInit()">
    <h1 class="page-header">{{'Literal.Detail.Title' | i18next}}</h1>

    <div class="row">
        <div class="col-md-12 ui-sortable">
            <div class="panel panel-inverse">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span ng-if="fn.isNew()">{{'Literal.Detail.Header.Create' | i18next}} </span>
                        <span ng-if="!fn.isNew()">{{'Literal.Detail.Header.Edit' | i18next}} </span>
                        {{'Literal.Detail.Header.Form' | i18next}}
                    </h4>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal">

                        <!-- Literal Key -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'Literal.Detail.Form.Literal_Key' | i18next}}</label>
                            <div class="col-md-9">
                                <!-- Literal Key -->
                                <p ng-if="!fn.isNew()" class="form-control-static">{{data.literal.Key}}</p>
                                <input ng-if="fn.isNew()"
                                       type="text"
                                       class="form-control"
                                       placeholder="{{'Literal_Form_Key_Placeholder' | i18next}}"
                                       ng-model="data.literal.Key"
                                       value={{data.literal.Key}}>
                            </div>
                        </div>


                        <!-- Literal Type -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'Literal.Detail.Form.Literal_Type' | i18next}}</label>
                            <div class="col-md-9">
                                <select class="form-control"
                                        ng-model="data.literal.LiteralType"
                                        ng-options="literalType.Name for literalType in data.literalTypeList track by literalType.Id">
                                    <option value="">{{'Literal.Detail.Form.Select_Literal_Type' | i18next}}</option>
                                </select>
                            </div>
                        </div>


                        <!-- Literal Device Types -->
                        <div id="LiteralView_DeviceTypes" class="form-group">
                            <label class="col-md-3 control-label">{{'Literal.Detail.Form.Device_Type' | i18next}}</label>
                            <div class="col-md-9">
                                <li class="dropdown" style="list-style: none;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{ data.deviceTypeListPrompt }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu media-list  animated-slow fadeInDown">
                                        <!-- When empty list -->
                                        <li class="media" ng-if="!data.deviceTypeList || data.deviceTypeList.length==0">
                                            <div class="media-body"
                                                 ng-click="$event.stopPropagation();">
                                                <p>{{'Literal.Detail.Form.ListEmpty' | i18next}}</p>
                                            </div>
                                        </li>
                                        <!-- When list not empty-->
                                        <li class="media" ng-repeat="deviceType in data.deviceTypeList">
                                            <input type="checkbox" class="pull-left m-t-10 m-r-10 "
                                                   ng-click="$event.stopPropagation();fn.onToggleDeviceType(deviceType);"
                                                   ng-checked="deviceType.selected"/>
                                            <div class="media-body"
                                                 ng-click="$event.stopPropagation();fn.onToggleDeviceType(deviceType);">
                                                <p>{{ deviceType.Name }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </div>


                        <!-- Literal languages -->
                        <div class="form-group"
                             ng-repeat="(languageKey, languageValue) in data.literal.LanguageValues">
                            <label class="col-md-3 control-label">{{ languageKey }}</label>
                            <div class="col-md-9">
                                <!-- Literal language -->
                                <input type="text"
                                       ng-model="data.literal.LanguageValues[$index].Value"
                                       class="form-control"
                                       placeholder="{{'Literal.Detail.Form.Literal_Key_Placeholder' | i18next}}"
                                       value="{{ languageValue }}"/>
                            </div>
                        </div>


                        <!-- Form buttons -->
                        <div class="form-group">
                            <div class="col-md-9">
                                <button type="submit"
                                        ng-click="fn.onSave()"
                                        class="btn btn-sm btn-success">{{'Literal.Detail.Form.Submit' | i18next}}
                                </button>
                                <button type="submit"
                                        ng-click="fn.onCancel()"
                                        class="btn btn-sm btn-error">{{'Literal.Detail.Form.Cancel' | i18next}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

