<div class="sales-filters-div-container" style="height:55px;">
    <div ng-controller="SalesAnalyticsFilterController"
         ng-init="fn.initializeFilters()"
         class="filters-div sales-filters-div"
         style="height:55px;">
        <div class="row m-b-5">
            <div class="col-md-12">

                <!-- User Filter -->
                <div class="pull-left no-padding">
                    <ng-include
                            src="'app/modules/saleAnalytics/filters/userFilter/userFilter.html?v='+cacheBuster"></ng-include>
                </div>
                <!-- End User Filter -->

                <!-- Date Filter -->
                <div class="SalesAnalyticsDateFilter">
                    <ul class="nav navbar-nav m-t-10">
                        <li>
                            <span class="pull-left date-range m-r-10 m-t-5 inline">
                                {{'Filters.DateRange' | i18next}}
                            </span>
                            <div class="input-group input-group-sm"
                                 style="width:200px; margin-bottom: 4px; float:left">
                                <input id="myDateRangePicker"
                                       date-range-picker
                                       class="form-control date-picker"
                                       type="text"
                                       ng-model="datePicker.date"
                                       options="datePicker.opts"/>
                                <div class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-sm btn-default"
                                            tooltip="{{ 'commonText.dateFilter.tooltip' | i18next }}"
                                            ng-click="fn.toggleDateRangePicker()">
                                        <span class="caret"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end Date Filter -->

            </div>
        </div>
    </div>
</div>
<div class="line-border clearfix"></div>