<div ng-controller="SalesAnalyticsFilterController"
     ng-init="fn.initializeFilters()"
     class="row filters-div sales-filters-div">

    <div class="col-md-12">
        <div class="row m-b-5">
            <div class="col-md-12">
                <!--<h6>{{'Filters.FilterBy' | i18next}}</h6>-->


                <!-- User Filter -->
                <div class="pull-left no-padding">
                    <ng-include src="'app/modules/saleAnalytics/filters/userFilter/userFilter.html'"></ng-include>
                </div>
                <!-- End User Filter -->


                <!-- Date Filter -->
                <div class="SalesAnalyticsDateFilter">

                    <ul class="nav navbar-nav m-t-10">
                        <li>
                            <span class="pull-left date-range m-r-10 m-t-5 inline">
                                {{'Filters.DateRange' | i18next}}
                            </span>
                            <div class="input-group input-group-sm"
                                 style="width:200px; margin-bottom: 4px; float:left">
                                <input id="myDateRangePicker"
                                        date-range-picker
                                        class="form-control date-picker"
                                        type="text"
                                        ng-model="date"
                                        options="opts" />
                                <div class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-sm btn-default"
                                            ng-i18next="[title]commonText.dateFilter.tooltip"
                                            ng-click="fn.toggleDateRangePicker()">
                                        <span class="caret"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- End Date Filter -->


            </div>
        </div>
        <!-- end filters-div -->


        <!-- Separation Line -->
        <div class="line-border clearfix"></div>

    </div>
</div>
