// --------------------------------
// Sales Analytics Date Filter
// --------------------------------

.SalesAnalyticsDateFilter {
  .SalesAnalyticsDateFilterSelectionLabel {
    color: #54585a;
  }
}

#datePickerFromDate,
#datePickerToDate {
  border-radius: 3px;
}
#datePickerFromDate {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#datePickerToDate {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


// -----------------
// Environment View
// -----------------

.users-filter-list.environment {
  .environment-collapse-icon {
    float: left;
  }

  .panel-heading {
    .users-group-heading {
      overflow: hidden;
    }
    padding: 2px;
    background: #FFFFFF !important;

    h4 {
      border-bottom: 1px solid #ddd;
      text-transform: none;
    }

    a {
      color: rgba(0, 0, 0, .8);
      div {
        padding: 2px 0 10px 0;
        i {
          width: 9px;
        }
      }
      &>div {
        padding: 2px 0 4px 20px;
      }

      &.accordion-toggle {

        overflow: hidden;
        margin: -10px -15px;
        padding: 10px 15px 4px 15px;
      }
    }
  }

  .panel-body {
    padding: 0 0 3px !important;
    ul {
      padding: 1px 0 8px 65px;
      margin: 0 !important;
      background-color: #F8F8F8;
    }
  }

  .panel-collapse {
    margin-top: -3px;
  }

  .panel-collapse {
  }
}




// -----------------
// Team View
// -----------------

.users-filter-list.team-view {
  .panel-body {
    border-top: none !important;
  }

  :not(.panel-group) .panel-body {
    padding-right: 0 !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
  }

  .panel-group {
    margin-bottom: 0 !important;
    .panel+.panel {
      margin-top: 0;
    }
  }

  .panel-heading {

    .environment-collapse-icon {
      font-size: 1.3em;
    }

    .item-box {
      padding: 5px 0px 3px 0px;
      letter-spacing: normal;
      &.checked {
        background: #F8F8F8;
        border-radius: 3px;
      }
      i {
        width: 9px;
      }
    }

    .select-box {
      padding: 2px 13px 3px 0;
      a {
        font-size: 11px;
        padding: 3px 11px 2px!important;
        border: 1px solid #d8dde1;
        color: #000;
        border-radius: 4px;


        &.checked {
          border: 1px solid #ED8B00;
          color: #ED8B00;
        }
      }
    }

    border: none !important;
    padding: 2px;
    background: #FFF !important;

    a {
      padding: 4px 0 4px 15px !important;
      text-transform: none !important;
      color: #54585A;

      div.item-container {
        padding: 2px 0 4px 0;
        //border-bottom: 1px solid rgba(0, 0, 0, .08);
        > * a {
          //border-bottom: none !important;
        }
      }

      &.accordion-toggle {
        overflow: hidden;
        margin-bottom: 0 !important;
      }
    }

    :not(.accordion-toggle) {
      .accordion-toggle {
        padding-right: 0 !important;
      }
    }

  }
}

.users-filter-list.team-view .accordion-tree-group {
  padding-top: 7px;
}

#UserFilterDropDown > li.users-tree > ng-include > accordion > div > div > div.accordion-tree-group {
  border-top: 1px solid #EEE;
  border-radius: 0;
}