<widget-wrapper body-class="height-md"
                title="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">


    <!-- TOOLBAR -->
    <div class="row" ng-init="fn.init()">

        <!-- LEFT FILTERS -->
        <div class="col-xs-12 col-lg-3 m-b-20">
            <select class="form-control pull left"
                    ng-model="selectedFilter"
                    ng-change="fn.changeFilter(selectedFilter)">
                <option ng-repeat="filter in tabs" value="{{filter.key}}">{{filter.name}}</option>
            </select>
        </div>

        <!-- RIGHT FILTERS -->
        <div class="col-xs-12 col-lg-9 m-b-20" ng-hide="onlyPieChart===true">


            <!-- DATE RANGE buttonbar -->
            <div class="btn-group pull-right">
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='date'}"
                        ng-click="fn.changeFilterRange('date')"
                        ng-disabled="currentChartType==='pie'">
                    {{'LineWidget.Filters.Date' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='week'}"
                        ng-click="fn.changeFilterRange('week')"
                        ng-disabled="currentChartType==='pie'">
                    {{'LineWidget.Filters.Week' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='month'}"
                        ng-click="fn.changeFilterRange('month')"
                        ng-disabled="currentChartType==='pie'">
                    {{'LineWidget.Filters.Month' | i18next}}
                </button>
            </div>


            <div class="pull-right" style="width:15px;height:10px;"></div>

            <!-- FIELDS buttonbar -->
            <div class="btn-group btn-group-xs pull-right">
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToPie()"
                        ng-class="{'active': currentChartType=='pie'}"
                        ng-i18next="[title]pieChart">
                    <img src="assets/img/pie.png" style="width: 24px; height: 24px; opacity: 0.5;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToLine()"
                        ng-class="{'active': currentChartType=='line'}"
                        ng-i18next="[title]lineChart">
                    <img src="assets/img/line.png" style="width: 24px; height: 24px; opacity: 0.5;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToFilled()"
                        ng-class="{'active': currentChartType=='filled'}"
                        ng-i18next="[title]areaChart">
                    <img src="assets/img/area.png" style="width: 24px; height: 24px; opacity: 0.5;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToFilled100()"
                        ng-class="{'active': currentChartType=='filled100'}"
                        ng-i18next="[title]areaChartPercent">
                    <img src="assets/img/area-percent.png" style="width: 24px; height: 24px; opacity: 0.5;">
                </button>
            </div>
        </div>

    </div>
    <!-- END TOOLBAR -->


    <!-- CHART -->
    <div class="row" ng-hide="data.serverError || data.noData">
        <div class="col-xs-12">
            <div class="chart-place-holder height-sm map-fix" ng-hide="data.serverError===true"></div>
        </div>
    </div>


    <!-- NO DATA -->
    <div class="row" ng-if="data.noData">
        <div class="col-xs-12">
            <div class="height-sm">
                <div class="alert alert-warning" role="alert">
                    {{'commonText.NoDataToDisplay' | i18next}}
                    <button class="btn btn-outline m-l-10" ng-click="fn.reloadPanel()"><i class="fa fa-refresh"></i> {{'commonText.Refresh' | i18next}}</button>
                </div>
            </div>
        </div>
    </div>


    <!-- SERVER ERROR -->
    <ng-include
            src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
            ng-if="data.serverError===true">
    </ng-include>

</widget-wrapper>