<widget-wrapper body-class="height-md"
                wtitle="{{widget.widgetName}}"
                wtooltip="{{
                 widget.type == 'segment_distribution' ? ('tabDistribution.segmentDistribution.header.title.tooltip' | i18next) :
                 (widget.type == 'hour_distribution' || widget.type == 'type_distribution') ? ('tabDistribution.typeDistribution.header.title.tooltip' | i18next) :
                 widget.type == 'state_distribution' ? ('tabDistribution.statusDistribution.header.title.tooltip' | i18next) : ''
                }}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">


    <!-- TOOLBAR -->
    <div class="row" ng-init="fn.init()">

        <!-- LEFT FILTERS -->
        <div class="col-xs-12 col-lg-3 m-b-20">
            <!--<select class="form-control pull left"
                    ng-model="selectedFilter"
                    ng-change="fn.changeFilter(selectedFilter)">
                <option ng-repeat="filter in tabs" value="{{filter.key}}">{{filter.name}}</option>
            </select>-->

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        ng-i18next="[title]commonText.charts.dropDown.activities.tooltip"
                >
                    {{ selectedFilter.name }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="filter in filters"
                        ng-class="{active: filter.key===selectedFilter.key}">
                        <a href ng-click="fn.changeFilter(filter)">
                            {{ filter.name }}
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- RIGHT FILTERS -->
        <div class="col-xs-12 col-lg-9 m-b-20" ng-hide="onlyPieChart===true">


            <!-- DATE RANGE buttonbar -->
            <div class="btn-group pull-right"
                 ng-i18next="[title]commonText.graph.buttonbar.dateFilter.tooltip">
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='date'}"
                        ng-click="fn.changeFilterRange('date')"
                        ng-disabled="currentChartType==='pie'">
                    {{'LineWidget.Filters.Date' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='week'}"
                        ng-click="fn.changeFilterRange('week')"
                        ng-disabled="currentChartType==='pie'">
                    {{'LineWidget.Filters.Week' | i18next}}
                </button>
                <button class="btn btn-white btn-sm"
                        ng-class="{'active': selectedRangeOption=='month'}"
                        ng-click="fn.changeFilterRange('month')"
                        ng-disabled="currentChartType==='pie'">
                    {{'LineWidget.Filters.Month' | i18next}}
                </button>
            </div>


            <div class="pull-right" style="width:15px;height:10px;"></div>

            <!-- FIELDS buttonbar -->
            <div class="btn-group btn-group-xs pull-right">
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToPie()"
                        ng-class="{'active': currentChartType=='pie'}"
                        ng-i18next="[title]commonText.pieChart.tooltip">
                    <img src="assets/img/pie.png" style="width: 24px; height: 24px;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToLine()"
                        ng-class="{'active': currentChartType=='line'}"
                        ng-i18next="[title]commonText.lineChart.tooltip">
                    <img src="assets/img/line.png" style="width: 24px; height: 24px;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToFilled()"
                        ng-class="{'active': currentChartType=='filled'}"
                        ng-i18next="[title]commonText.areaChart.tooltip">
                    <img src="assets/img/area.png" style="width: 24px; height: 24px;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToFilled100()"
                        ng-class="{'active': currentChartType=='filled100'}"
                        ng-i18next="[title]commonText.stackedAreaChart.tooltip">
                    <img src="assets/img/area-percent.png" style="width: 24px; height: 24px;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.switchToTable()"
                        ng-class="{'active': currentChartType=='table'}"
                        ng-i18next="[title]commonText.tableChart.tooltip">
                    <img src="assets/img/table.png" style="width: 24px; height: 24px;">
                </button>
                <button class="btn btn-white btn-sm p-t-5 p-b-5"
                        ng-click="fn.exportToCSV()"
                        ng-if="currentChartType=='table'"
                        ng-i18next="[title]commonText.tableChart.button.csvDownload.tooltip">
                    <img src="assets/img/csv.png" style="width: 24px; height: 24px;">
                </button>
            </div>
        </div>

    </div>
    <!-- END TOOLBAR -->


    <!-- CHART -->
    <div class="row panel-content" ng-hide="data.serverError || data.noData">
        <div class="panel-content-child" ng-class="onlyPieChart===true || currentChartType=='table' || currentChartType=='pie' ? 'col-xs-12' : 'col-xs-10'">
            <div class="chart-place-holder map-fix panel-content-child" ng-hide="data.serverError===true"></div>
        </div>
        <div class="col-xs-2 panel-content-child" style="overflow-y: auto;"
             ng-hide="onlyPieChart===true || currentChartType=='table' || currentChartType=='pie'">
            <ul style="list-style:none;padding:0;margin:0;">
                <li
                        style="padding-left:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;"
                        ng-repeat="field in availableFields"
                        ng-style="{'color':field.color}">
                    <a
                            ng-mouseover="fn.serieRollOver(field, $index)"
                            ng-style="{'color':field.color}"
                            ng-attr-title="{{ field.name }}">
                        &nbsp;{{field.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="col-xs-12 m-t-10 p-l-20 p-r-20">
        <div class="well" ng-if="widget.type=='segment_distribution'">
            <span ng-if="selectedFilter.key=='activities'">{{ 'tabDistribution.segmentDistribution.activities.description' | i18next }}</span>
            <span ng-if="selectedFilter.key=='visits'">{{ 'tabDistribution.segmentDistribution.visits.description' | i18next }}</span>
            <span ng-if="selectedFilter.key=='opportunities'">{{ 'tabDistribution.segmentDistribution.newOpportunities.description' | i18next }}</span>
        </div>
        <div class="well" ng-if="widget.type=='state_distribution'">
            <span ng-if="selectedFilter.key=='activities'">{{ 'tabDistribution.typeDistribution.activities.description' | i18next }}</span>
            <span ng-if="selectedFilter.key=='visits'">{{ 'tabDistribution.typeDistribution.visits.description' | i18next }}</span>
            <span ng-if="selectedFilter.key=='opportunities'">{{ 'tabDistribution.typeDistribution.newOpportunities.description' | i18next }}</span>
        </div>
        <div class="well" ng-if="widget.type=='type_distribution' || widget.type=='hour_distribution'">
            <span ng-if="selectedFilter.key=='activities'">{{ 'tabDistribution.stateDistribution.activities.description' | i18next }}</span>
            <span ng-if="selectedFilter.key=='visits'">{{ 'tabDistribution.stateDistribution.visits.description' | i18next }}</span>
            <span ng-if="selectedFilter.key=='opportunities'">{{ 'tabDistribution.stateDistribution.newOpportunities.description' | i18next }}</span>
        </div>
    </div>


    <!-- NO DATA -->
    <div class="row" ng-if="data.noData">
        <div class="col-xs-12">
            <div class="alert alert-warning" role="alert">
                {{'commonText.NoDataToDisplay' | i18next}}
                <button class="btn btn-outline m-l-10" ng-click="fn.reloadPanel()"><i class="fa fa-refresh"></i> {{'commonText.Refresh' | i18next}}</button>
            </div>
        </div>
    </div>


    <!-- SERVER ERROR -->
    <ng-include
            src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
            ng-if="data.serverError===true">
    </ng-include>

</widget-wrapper>