<widget-wrapper body-class="height-md"
                wtitle="{{widget.widgetName}}"
                wtooltip="{{ 'tabDistribution.hourDistribution.header.title.tooltip' | i18next }}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId">


    <!-- TOOLBAR -->
    <div class="row panel-toolbar" ng-init="fn.init()">
        <div class="col-xs-6 col-lg-4 m-b-20 pull-right">

            <!--<select class="form-control pull left"
                    ng-model="selectedFilter"
                    ng-change="fn.changeFilter(selectedFilter)">
                <option ng-repeat="filter in filters" value="{{filter.key}}">{{filter.name}}</option>
            </select>-->


            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle"
                        tooltip="{{ 'commonText.charts.dropDown.activities.tooltip' | i18next }}"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{ selectedFilter.name }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="filter in filters"
                        ng-class="{active: filter.key===selectedFilter.key}">
                        <a href ng-click="fn.changeFilter(filter)">
                            {{ filter.name }}
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- END TOOLBAR -->


    <!-- CONTENT -->
    <div class="row panel-content height-md" ng-hide="data.serverError || data.noData">
        <div class="panel-content-child col-xs-12 height-md">
            <div class="chart-place-holder panel-content-child map-fix height-md" ng-hide="data.serverError===true"></div>
        </div>
    </div>


    <!-- DESCRIPTION -->
    <div class="row panel-description" ng-hide="data.serverError===true">
        <div class="col-xs-12 m-t-10 p-l-20 p-r-20">
            <div class="well" ng-if="widget.type=='hour_distribution_singleline'">
                <div ng-if="selectedFilter.key=='allActivities'">{{ 'tabDistribution.timeDistribution.activities.description' | i18next }}</div>
                <div ng-if="selectedFilter.key=='visits'">{{ 'tabDistribution.timeDistribution.visits.description' | i18next }}</div>
                <div ng-if="selectedFilter.key=='emails'">{{ 'tabDistribution.timeDistribution.emails.description' | i18next }}</div>
                <div ng-if="selectedFilter.key=='phoneCalls'">{{ 'tabDistribution.timeDistribution.phonecalls.description' | i18next }}</div>
            </div>
        </div>
    </div>


    <!-- NO DATA -->
    <div class="row" ng-if="data.noData">
        <div class="col-xs-12">
            <div class="alert alert-warning" role="alert">
                {{'commonText.NoDataToDisplay' | i18next}}
                <button class="btn btn-outline m-l-10" ng-click="fn.reloadPanel()"><i class="fa fa-refresh"></i> {{'commonText.Refresh' | i18next}}</button>
            </div>
        </div>
    </div>


    <!-- SERVER ERROR -->
    <ng-include
            src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
            ng-if="data.serverError===true">
    </ng-include>


</widget-wrapper>