<widget-wrapper body-class="height-md"
                title="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId"
        >
    <div class="clearfix ">
        <div class="col-xs-6 col-sm-6 col-lg-4 m-b-20  pull-right">
            <select class="form-control pull left"
                    ng-model="selectedFilter"
                    ng-change="fn.changeFilter(selectedFilter)">
                <option ng-repeat="filter in filters" value="{{filter.key}}">{{filter.name}}</option>
            </select>
        </div>
    </div>
    <div class="chart-place-holder height-sm map-fix"></div>
</widget-wrapper>