<widget-wrapper body-class="height-md"
                wtitle="{{widget.widgetName}}"
                event-bus-channel="eventChannel"
                widget-id="widget.widgetId"
        >
    <div class="clearfix ">
        <div class="col-xs-6 col-sm-6 col-lg-4 m-b-20  pull-right">
            <select class="form-control pull left"
                    ng-model="selectedFilter"
                    ng-change="fn.changeFilter(selectedFilter)">
                <option ng-repeat="filter in filters" value="{{filter.key}}">{{filter.name}}</option>
            </select>
        </div>
    </div>

    <div class="chart-place-holder height-sm map-fix" ng-hide="data.serverError===true"></div>


    <div class="col-xs-12 p-l-20 p-r-20">
        <div class="well" ng-if="widget.type=='hour_distribution_singleline'">
            Muestra la distribución de la media de la actividad del usuario en el tiempo dentro del período seleccionado.
        </div>
    </div>


    <ng-include
            src="'app/modules/saleAnalytics/base/serverErrorAlert.html'"
            ng-if="data.serverError===true">
    </ng-include>

</widget-wrapper>