.WidgetAdministrationMessageBox {
  position: relative;
  height: 160px;
}

.WidgetAdministrationList {
  position: relative;
  overflow-x:scroll;
  overflow-y:hidden;
  width:100%;
  height:160px;
  margin-left: 10px;

  &ul.list-inline {
    white-space:nowrap;
    margin-left: 0;
  }
}

.WidgetAdministrationListItem {
  position: relative;
  width:175px;
  height:160px;
  border:1px solid #DDD;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 10px;
  white-space: normal;
}

.WidgetAdministrationListItem-widgetImage {
  position: absolute;
  left: 10px; right: 10px; top: 10px;
  height: 94px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.WidgetAdministrationListItem-widgetName {
  position: absolute;
  left: 10px; right: 10px; top: 116px; bottom: 0;
  padding-left: 5px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  &.wdg-inactive{
    cursor: auto;
    color: #DDD;
  }
}

.WidgetAdministrationListItem-badge {
  position: absolute;
  right: 10px; top: 5px;
  max-width: 120px;
  height: 21px;
  line-height: 21px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 2px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &.wdg-active{
    border: 1px solid #ED8B00;
    background-color: #fff;
    color: #ED8B00;

    &.wdg-selected{
      border: 1px solid #FFF;
      background-color: #ED8B00;
      color: #FFF;
    }
  }

  &.wdg-inactive{
    border: 1px solid #DDDDDD;
    background-color: #fff;
    color: #DDDDDD;
  }
}

.WidgetAdministrationListItem-toolbar {
  position: absolute;
  left: 0; right: 0; bottom: 0; height: 40px;
  background-color: #424648;
  opacity: 0.83;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.WidgetAdministrationListItem-toolbarButton {
  position: absolute;
  width: 20px; height: 20px; line-height: 20px;
  border: 1px solid #FFF;  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;

  &.moveLeft {
    left: 10px; top: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.moveRight {
    left: 29px; top: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.infoButton {
    right: 10px; top: 10px;
    width: 20px; height: 20px;
    border-radius: 10px;
  }
}
