<div id="WidgetAdministrationContainer"
     class="row" style="display:block; margin-top:-20px; margin-bottom:20px;"
     ng-controller="WidgetAdministrationController" ng-init="fn.onInit()">

    <div class="WidgetAdministrationList" ng-if="data.widgetsAvailable">
        <ul class="list-inline">
            <li class="WidgetAdministrationListItem" ng-repeat="widget in data.widgets">
                <div class="WidgetAdministrationListItem-widgetImage"
                     ng-style="{'background-image': 'url('+ fn.getWidgetSampleImage(widget) +')'}"
                     ng-click="fn.toggleWidgetSelected(widget)">
                </div>
                <div class="WidgetAdministrationListItem-badge"
                     ng-class="{'wdg-active': widget.isActive, 'wdg-inactive': !widget.isActive, 'wdg-selected': widget.$selected }"
                     ng-click="fn.toggleWidgetIsActive(widget)">
                    <p ng-if="widget.isActive">{{'WidgetAdmin.Widget.active.label' | i18next}}</p>
                    <p ng-if="!widget.isActive">{{'WidgetAdmin.Widget.inactive.label' | i18next}}</p>
                </div>
                <div class="WidgetAdministrationListItem-widgetName"
                     ng-click="fn.toggleWidgetSelected(widget)"
                     ng-if="!widget.$selected"
                     ng-class="{'wdg-inactive': !widget.isActive}">
                    {{ widget.widgetName }}
                </div>
                <div class="WidgetAdministrationListItem-toolbar" ng-if="widget.$selected">
                    <div class="WidgetAdministrationListItem-toolbarButton moveLeft"
                         ng-click="fn.moveWidgetLeft(widget)">
                        &lt;
                    </div>
                    <div class="WidgetAdministrationListItem-toolbarButton moveRight"
                         ng-click="fn.moveWidgetRight(widget)">
                        &gt;
                    </div>
                    <div class="WidgetAdministrationListItem-toolbarButton infoButton">
                        i
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="WidgetAdministrationMessageBox" ng-if="!data.widgetsAvailable">
        <span class="spinner-small"></span>
    </div>

</div>
