<div id="WidgetAdministrationContainer"
     class="row" style="display:block; margin-top:-20px; margin-bottom:20px;"
     ng-controller="WidgetAdministrationController" ng-init="fn.onInit()">

    <div class="WidgetAdministrationList" ng-if="data.widgetsAvailable">
        <ul class="list-inline">
            <li class="WidgetAdministrationListItem" ng-repeat="widget in data.widgets">
                <div class="WidgetAdministrationListItem-widgetImage" ng-style="{'background-image': 'url('+ fn.getWidgetSampleImage(widget) +')'}"></div>
                <div class="WidgetAdministrationListItem-widgetName">{{ widget.widgetName }}</div>
            </li>
        </ul>
    </div>

    <div class="WidgetAdministrationMessageBox" ng-if="!data.widgetsAvailable">
        <span class="spinner-small"></span>
    </div>

</div>
